[2021-11-10 15:14] KostasMparmparousis opened #1041 "Automatic Reverse Domain record additions are not logged"
When the `auto_ptr` setting is on, record additions that are applied automatically to the reverse domain are not logged as a history event.

[2021-11-11 09:18] benshalev849 commented on #1024
Can you send what table you are selecting from.
What the DB looks like when you are querying it etc?...

[2021-11-11 09:38] cbxnet-ali commented on #1024
The table is "account_user"

for example normally there is one line like this:

id account_id user_id
10	4	10

after logging in via sso with "Autoprovision Account" enabled
it looks like this

id account_id user_id
10	4	10
11	4	10

and after a third login like this

id account_id user_id
10	4	10
11	4	10
12	4	10

and so on

[2021-11-11 09:41] benshalev849 commented on #1024
What is the claim you use for the autoprovision account name property?

[2021-11-11 09:44] cbxnet-ali commented on #1024
I think it was preferred_username, so the account name is like the user name (in our usecase)

[2021-11-11 10:08] benshalev849 commented on #1024
https://github.com/benshalev849/PowerDNS-Admin/tree/oidc-list-accounts

This fork fixed some things for OIDC.

You can try it and it might solve the problem.
It should be pushed to master here soon.

Let me know if it doesn't fix it still.

[2021-11-11 23:49] jbe-dw commented on #1038
Be aware that zones are not associated to users but to accounts. As I already said, the "account" term and concept is confusing for users.
From a pure PDNS perspective, a domain belongs to an "account" (defaults to admin). So PDA sticks to this by managing accounts that can "own" domains. Then for the permission policy, a regular user may be linked to several accounts to be allowed to manage the o

[2021-11-12 00:00] jbe-dw commented on #1005
I'm not really sure because it's a bit old but you have to be aware that the API Key must be base64 encoded. Someone provided a patch to allow apikey edition through the GUI and the patch outputs the base64 encoded version. The API has been updated to behave like this too.

This way users don't have to encode the key it's ready to use.

I confirm that the error is because it can't b64 decode the k

[2021-11-12 10:45] RGanor commented on #1034
How do you deploy your application? docker/systemd?

[2021-11-12 11:46] dmgeurts commented on #1034
I used the instructions from here: https://github.com/ngoduykhanh/PowerDNS-Admin/wiki/Running-PowerDNS-Admin-on-Ubuntu-or-Debian.

[2021-11-17 09:29] JSN-1 commented on #696
Thanks for suggestion of disabling SOA as editable.

I too would like the option to allow people to edit SOA manually.

[2021-11-18 16:39] jbe-dw opened #1046 "Question: Why accounts name character set is limited"
Hello,

Do anyone know why we are limited to alphanumeric characters ? It is inconvenient in our use case as we want to add prefixes and avec a naming scheme like:

<env>_<ownerteam>

It is possible to have extra chars like dashes or underscores in the account name in pdns itself.

[2021-11-18 22:17] zoeller-freinet commented on #123
As mentioned, the TTL dropdown's values can be customized using the `ttl_options`setting as implemented by #409.
Specific seconds-based values can be achieved using the same feature.

For a "custom" choice as part of the resource record editing table where a seconds value could be entered directly, or customization of the default choice, if needed, I suggest creating a separate issue or MR.

[2021-11-18 22:17] #123 closed

[2021-11-18 23:16] zoeller-freinet commented on #138
Current PowerDNS-Admin supports Unicode first name / last name (the goal should be to support Unicode/UTF-8 throughout the whole application - please mention any character set issues you discover!) and as such CJK as well. Just tested 宮崎 駿 :)

The database of course has to support it as well - for example, using [MariaDB](https://mariadb.com/kb/en/setting-character-sets-and-collations/) (10.6 here

[2021-11-18 23:16] #138 closed

[2021-11-18 23:51] zoeller-freinet commented on #457
A warning on imminent session timeout has been implemented via #610, session timeout is configurable via the Web UI (Settings -> Basic, `session_timeout` (number is in minutes).

Indication on unsaved changes is another issue, see e.g. #92.

[2021-11-18 23:51] #457 closed

[2021-11-19 00:03] zoeller-freinet commented on #1006
Kostas is right, closing.

[2021-11-19 00:03] #1006 closed

[2021-11-19 00:38] zoeller-freinet commented on #926
I can see how the "Save" button could be a bit misleasing, perhaps its text could be changed to "OK".

[2021-11-19 00:41] zoeller-freinet commented on #741
Related: #92

[2021-11-19 08:27] splog123 commented on #926
That is an excellent observation but I wonder if "OK" turns out to be a
lesser form of "Save".

Seeing as it's really a "Send to staging" button and not "Save", what's a
good synonym for "Stage"?

Alan

On Fri, Nov 19, 2021 at 2:38 AM zoeller-freinet ***@***.***>
wrote:

--
Alan McKinnon
alan dot mckinnon at gmail dot com

[2021-11-19 10:36] zoeller-freinet commented on #926
Yes - to be clear, while appropriate labelling of UI elements is important (perhaps "prepare" could be another option for that button?), it's mere tinkering with the symptoms in this case as long as issues like #92 and #741 are still pending.

[2021-11-20 21:57] fatihbm opened #1050 "DNS masking"
Hi there,
Could there be a way to mask the DNS records the same as a Cloudflare orange network?
If that's possible, it might be a good idea to return a default IP address for each domain name to everyone in the outside world. This IP address can work as a proxy server. In this way, we can temporarily change the DNS response with a single action.

![image](https://user-images.githubusercontent.com/

[2021-11-22 04:59] RGanor commented on #1050
Im not really familiar with cloudflare, what do you mean masking dns record?

[2021-11-22 05:00] #1038 closed

[2021-11-22 08:51] fatihbm commented on #1050
for example, there is the www.example.com record.
Suppose it's ip address is x.x.x.x. This ip address points to the webserver. But one day we may want to have a waf service between the web server and the client.
For this, we need to change the webserver ip address in the dns record with the waf ip address. Sometimes it may be necessary to undo this change.
Cloudflare provides a way to do this easi

[2021-11-22 09:27] #964 closed

[2021-11-22 13:08] righter83 opened #1052 "Docker not working after using the new release"
Hi

I used the latest docker image for my installation 19months ago.
Now I wanted to upgrade to the new v0.2.4 Releases.
So i deleted my docker container and pulled the new with the specific tag.

But now it has a lot of failures, while starting the container:

`During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/lib/python3.8/site-p

[2021-11-22 13:36] righter83 commented on #1052
I just saw, that I use a really old DB shema.
flask db upgrade was not working, but also hasn't dropped any error.

So I just deleted the DB and restartet the container, to rebuild the database

[2021-11-22 13:36] #1052 closed

[2021-11-22 22:03] jbe-dw commented on #1050
From a pure PDNS perspective it can be done, by setting a record in a RRSET as disabled. You can test through the API, if it is working as you wish (ie use the PDA API servers/zone/zone_id endpoint to have a RRSET with one record disabled and toggle).

If the DNS behaviour is what you expect, you can request a function to have a per record toggle button to disable the entry in the zone edit page,

[2021-11-22 22:12] arbaldin commented on #1050
But in the zone edit page we are able to disable an entry. It is not a
button, but a drop down menu called Status the the options Active or
Disabled.

[]´s
Audrey

On Mon, Nov 22, 2021 at 7:03 PM jbe-dw ***@***.***> wrote:

[2021-11-24 13:39] fatihbm commented on #1050
I will make a development for this. I'm closing this issue for now. Thanks.

[2021-11-24 13:39] #1050 closed

[2021-11-24 16:13] jbe-dw commented on #1050
button, but a drop down menu called Status the the options Active or
Disabled.

You are right. I was tired ! You can enable record quick edit to just have to click on the record to change the status. If it is not visible enough you can develop something but you'll still need to click on the apply button anyway.

[2021-11-24 23:40] larslehmann-net opened #1055 "User can disable DNSSEC"
I just found out by accident that a user API key can disable DNSSEC for his domains. In the settings dnssec_admins_only is enabled, so a normal user should not be able to make any changes to the DNSSEC settings.

## How to reproduce
[code]

[2021-11-26 01:52] bcsanford commented on #1022
@trinv
if you are using nginx then the config on this page should work for you

[Running-PowerDNS-Admin-with-Systemd,-Gunicorn--and--Nginx](https://github.com/ngoduykhanh/PowerDNS-Admin/wiki/Running-PowerDNS-Admin-with-Systemd,-Gunicorn--and--Nginx
)

at the bottom there is a toggle for an SSL Config

i use this with a few minor tweaks for IPv6

[2021-11-30 08:50] #1022 closed

[2021-11-30 09:08] #1025 closed

[2021-11-30 21:29] zoeller-freinet commented on #1036
Finally got around to testing this, it works as expected. I [edited](https://github.com/ngoduykhanh/PowerDNS-Admin/wiki/Running-PowerDNS-Admin-with-Systemd,-Gunicorn--and--Nginx/_compare/25a6e64bbd1809573e97ba73d5f5e3dc5afff1ad...710cc3567352993c615d9b1f2a94dc95bf360bea) the wiki page accordingly.

#1040 has been merged as well, thanks for bringing this issue up!

[2021-11-30 21:29] #1036 closed

[2021-12-01 14:18] #1046 closed

[2021-12-01 14:20] Richie765 opened #1060 "500 Oops! - Quote in comment"
When you put a quote ' in a comment the dashboard will 500-oops

Steps to reproduce
* Put ' in a comment
* Go to dashboard

To get it working again, the following SQL seems to work but I don't know if it has any side effects

[code]

Full error from log
[code]

[2021-12-01 17:39] zoeller-freinet commented on #174
Hi @danimo,

given #1032, I'm inclined to say: please go ahead. With @RGanor and I, there are at least two maintainers now, so we should be able to make it happen.

[2021-12-01 19:29] RGanor commented on #174
@danimo what you say make sense, but bare in mind that offline mode is not just for the reasons you mentioned above, some deployments are completely isolated from the internet, so relying on external service is not possible.
If any changes will be made, it still need to support such deployments.

[2021-12-01 20:55] #1028 closed

[2021-12-01 20:55] #1024 closed

[2021-12-01 21:00] danimo commented on #174
I am aware of the offline modes intent, but with a privacy-by-default mode, the whole point is that there should no outside services left to contact in a default deployment.

[2021-12-02 08:14] #895 closed

[2021-12-02 08:18] #941 closed

[2021-12-02 08:32] #883 closed

[2021-12-02 08:37] #872 closed

[2021-12-02 11:14] jbe-dw opened #1062 "Expired csrf token on login page"
Hello,

I am often kicked out of PDA after the timeout. It then redirects me on the login page which has a token created at this moment. If I try to log in another timeout later, I have an unauthorized error and have to login again.

Is it a good idea to have an ajax call that request a new token every "timeout - 10s" on the login page or is it a security issue to do so ?

I'm not good on this poi

[2021-12-02 11:40] zoeller-freinet commented on #1062
I have been running into this issue as well, and have been meaning to work on a fix for this.

[2021-12-02 12:58] jbe-dw commented on #1062
Or is it even easier to have just a window.reload() loop on the login page ?

[2021-12-02 13:13] absynth47215 opened #1063 "Show ascii key next to QR code on TOTP settings page"
When enabling TOTP in the user settings, I'm shown the QR code to add to my authenticator app. However, it would be helpful to see the ASCII key for pasting into desktop password manager apps.

[2021-12-02 13:41] jbe-dw opened #1064 "History crash in Master"
Hello,

There's a bug in the detailed history patch. Updating zone ownership generates an history with an empty string detail. Calling json.loads throw an exception. The domain dashboard page display a 500 error.

Regards

[2021-12-03 10:36] zoeller-freinet commented on #1064
I can't seem to reproduce this on 6c1dfd2. I'm using a fresh Ubuntu 20.04 installation, https://github.com/ngoduykhanh/PowerDNS-Admin/wiki/Running-PowerDNS-Admin-with-Systemd,-Gunicorn--and--Nginx and `configs/development.py` as PDA configuration, starting from an empty DB.

Can you describe detailed steps that result in the exception being thrown?

[2021-12-03 11:13] jbe-dw commented on #1064
If you change the account owning a domain through the API it registers an history message without detail, or delete through the API.

We could update the api to insert a json instead. There's actions not writing to the history (changing owner via the gui does not log the operation).

[2021-12-03 14:38] zoeller-freinet commented on #1064
Getting the crash now, thanks!

If the history logic generally expects the detail column to contain a JSON object, then yes, we should insert `{}` by default if there are no details (I haven't really looked at that part of PDA's code in detail yet). I think it should nevertheless be robust enough to not crash if the detail field is empty.

Given #1066 I think we can close this.

[2021-12-03 14:38] #1064 closed

[2021-12-03 15:05] ChayneC opened #1067 "New install error 400 when adding new domain"
Hi all

I have installed Powerdns on Debian 11 with the admin GUI

I can manually add dns entries but get the 400 error when trying to add via GUI

I was able to find this error in my logs
If possible could someone help guide me towards the solution.
i have been searching for answers for what feels like years

[webserver] b34710e7-0903-44bb-8b3d-efe1a21c9e66 HTTP ISE for "/api/v1/servers/localhost

[2021-12-03 15:30] RGanor commented on #1067
Can you share the alembic version from alembic_version?

[2021-12-03 15:31] zoeller-freinet commented on #1067
Hi @ChayneC,

PowerDNS (not PowerDNS-Admin, this reporitory here!) introduced a DB schema change from version `4.2.X` to `4.3.0` which added the `published` column to the `crypokeys` table. [1] [2]

It looks like you need to migrate your PowerDNS database by executing [2].

It also seems you have put both PowerDNS and PowerDNS-Admin's tables into one MySQL database - I'd recommend you put both int

[2021-12-03 15:40] ChayneC commented on #1067
@zoeller-freinet
thank you so much.
Running that one command [2] has repaired my installation and I can now successfully add domains and add records to that.
I have been pulling my hair out for days(and I don't have much to begin with )

This is my first experience with powerdns I have installed it on a test VM so i can become comfortable with it. Your suggestion about splitting the databases is g

[2021-12-03 15:40] #1067 closed

[2021-12-03 18:14] #1060 closed

[2021-12-03 19:51] #978 closed

[2021-12-03 19:51] #976 closed

[2021-12-03 19:52] #975 closed

[2021-12-03 19:53] #943 closed

[2021-12-03 19:53] #939 closed

[2021-12-03 19:53] #928 closed

[2021-12-05 07:01] AzorianSolutions commented on #1023
@yggdr Granted I'm not a Python developer, I scanned the code and it appears the issue you are seeing is actually a PowerDNS API issue and not a PowerDNS Admin issue. Perhaps consider reporting this issue here: https://github.com/PowerDNS/pdns/issues

[2021-12-05 07:14] AzorianSolutions opened #1069 "Community Vote: UI / JavaScript Framework"
I was thinking it would be nice to give the template and JavaScript organization a healthy overhaul. It's getting fairly cluttered and somewhat difficult to navigate.

I see a great scenario to drop in a basic reactive UI framework. This would inherently provide better template organization while properly decoupling the HTML and JavaScript code. This would also pave the road for a real time UI imp

[2021-12-05 07:15] AzorianSolutions commented on #1032
I am currently not able to offer a regular and reliable commitment but I will gladly try help manage this a bit as time permits if you like.

[2021-12-05 11:32] zoeller-freinet commented on #1069
With [AdminLTE](https://adminlte.io/) (which itself builds upon bootstrap), PowerDNS-Admin already uses such a UI framework. PDA's front-end code is indeed unnecessarily unwieldy and disorganized in many places, and a thorough refactor is indeed due (PRs welcome!). I think it has more to do with how PowerDNS-Admin makes use of its dependencies than what dependencies it uses - AdminLTE and tidy & m

[2021-12-05 15:46] AzorianSolutions commented on #1069
@zoeller-freinet I don't believe we are on the same page with this. I was not referring to CSS / HTML UI frameworks such as Bootstrap. I was referring to JavaScript frameworks which incidentally provide some UI code management. Think VueJS, React, KnockoutJS, etc...

I don't know the history of progress and haven't looked so I can't add my two cents on the value of a feature freeze. What I can tel

[2021-12-05 22:11] AzorianSolutions opened #1070 "Docker Build & Compose Process Outdated"
The current Docker implementation is fairly outdated and needs some attention. The design of both Dockerfiles need many improvements to achieve better layer efficiency. The test Docker compose file needs adjusted to use a host volume which facilitates live development changes to the container without rebuild.

I am working on this issue now and will post a PR soon.

[2021-12-06 05:55] sshipway commented on #894
Yes, same issue here.  I think this is because the code is breaking out of the part where the key is generated, and ends up trying to store a blank key, which is invalid.

This is probably because in the code the bcrypt hash is generated using the salt held in the KEY environment variable rather than using bcrypt.gensalt()
Unfortunately, the salt needs to be in a specific format!  Try using
[code]

[2021-12-06 08:00] zoeller-freinet commented on #1069
Thank you for elaborating, it's a lot clearer to me now what you're after. It should probably be done at some point. No solid concerns spring to mind currently, other than it maybe not having highest priority right now. As for choice of JS framework, do you have a preference?

Other thoughts / concerns?

[2021-12-06 10:12] jbe-dw commented on #1069
Hello,

I can't really add a valued answer on the original question as I am certainly not a dev and have zero skills about JS technologies. I just get in this talk to confirm the need to refactor the app.

It's functional but a pain to patch, and the codebase is not homogeneous at all. I have used some time to make patches and it's now close to what I need (I could just send some eye blinks to @RG

[2021-12-06 13:46] #968 closed

[2021-12-06 14:06] AzorianSolutions commented on #1069
@zoeller-freinet You're welcome. First, to answer your question, I'm thinking VueJS myself. I came to this based on active maintenance commitment, ease of use, and application of accepted and personal standards. To me, this particular choice sees like a fairly wise and safe investment for the (foreseeable) future.

As for your concern about priorities, I can certainly appreciate that. Here is what

[2021-12-06 14:10] AzorianSolutions commented on #1069
@jbe-dw I agree with you. I will say this app is not in terrible condition by any means. I have dealt with a wide variety in my time so far and this one still has me interested after digging in That's always a great sign IMHO.

Pro-tip, if you understand good engineering practices in one form of programming, then you likely understand many of the same in JS. Of course, there are many differences a

[2021-12-06 14:36] AzorianSolutions commented on #1069
@jbe-dw I appreciate that :-)

Forgive me if some of this is obvious to you, I'm just having a hard time gauging what you are and aren't comfortable with the concepts of. Frameworks are a key word because they are in ways much like a spoken language or a company handbook. They provide a universal set of practices and rules for how something should be done. Without such guides, a code base can quic

[2021-12-06 14:51] jbe-dw commented on #1069
Sorry I was talking about "modern JS frameworks". I'm a senior Sysops doing automation (meaning: coding everything I build).
About flask it is an example as well. As i'm not in JS, I gave Python examples.

This helps, and as I mainly consume the API, the idea of a frontend that do the same looks very good to me.

[2021-12-06 17:47] AzorianSolutions commented on #1070
I'm pleased to update that these efforts are going very well. When I am finished, I intend to have the following additions / changes to provide;

- Six completely new Docker image templates which will provide the following image release bases;
  - Alpine
  - Alpine with MySQL
  - Alpine with SQLite
  - Debian
  - Debian with MySQL
  - Debian with SQLite
- Initial releases of the new images will be

[2021-12-08 08:56] AzorianSolutions commented on #1032
@ngoduykhanh I have reconsidered and decided I would really like to do a lot with this project. Will you please promote me to a maintainer?

[2021-12-08 09:03] #1070 closed

[2021-12-08 14:02] zoeller-freinet commented on #1069
@AzorianSolutions I wouldn't go so far as to say that the introduction of a JS Framework like VueJS is inevitable, but do count me among the advocates. Further, I fully agree that maintaining a low barrier to entry for developers is most often crucial for keeping projects healthy, it certainly applies to PDA. Incorporating a JS framework would, on its own, increase barrier to entry, as you'd then

[2021-12-08 16:21] AzorianSolutions commented on #1069
@zoeller-freinet is English your first language? Either way, you're very well spoken! I appreciate your view and completely agree. I also recognize the fallacy in the proposal. Specifically, the part about a new framework increasing the barrier to entry. Just as you said, I believe that will be mitigated by the overall organizational gains but it does certainly add to it nonetheless.

I think a go

[2021-12-08 17:59] AzorianSolutions opened #1074 "jQuery Missing From NPM Package / Flask Asset Build Process Yields Broken JS"
I'm currently building from the master branch which has two issues that prevent a clean build for local testing.

1) The NPM package file (/package.json) is missing a reference to the jQuery NPM package. This results in a failure of the Flask asset building process since the source file is not present locally. I rectified this issue by adding the "jquery" package locked at version 3.6.0 which of c

[2021-12-08 21:47] zoeller-freinet commented on #1055
This should be fixed now by 07f0d21.

[2021-12-08 21:47] #1055 closed

[2021-12-09 10:14] Metrax opened #1075 "History: DynDNS Changes are not logged with details"
It would be nice, if the DynDNS changes will also be logged with Details, like changes via WebUI and API.

![image](https://user-images.githubusercontent.com/1061866/145377156-ac0c3dd8-0def-49a3-8e14-3c20c4b6f41c.png)

[2021-12-13 14:56] anp135 opened #1079 "Support wildcards into subdomains (LE wildcard cert support)"
Hello.

Needed to support wildcard records for DNS-challenge Letsencrypt.
**_acme-challenge.host** allow to automate DNS challenge checks for **host** and **_acme-challenge.*.host** allow to pass DNS challenge checks for ***.host** record.

Unfortunately powerdns-admin unsupport creation of _acme-challenge.* CNAME records. In case direct changing in powerdns database - all works correctly.

For ex

[2021-12-14 17:41] Syntax3rror404 opened #1080 "Add feature to init web-ui via api (username, powerdns)"
Hello, I need the possibility to create a user via api and enter the powerdns in the ui, because we roll out powerdns automatically with ansible

[2021-12-14 17:44] Syntax3rror404 commented on #865
Use a nginx or traefik reverse proxy ...

[2021-12-15 12:27] jbe-dw commented on #1080
Hello,

In my ansible role I create the admin user directly into the database. There is no way to do it now. A PR is welcome.

[2021-12-15 12:53] wargamez opened #1081 "Vulnerabilities found in latest docker image"
trivy image docker pull ngoduykhanh/powerdns-admin:v0.2.4

2021-12-15T13:50:28.331+0100	ERROR	multiple targets cannot be specified
2021-12-15T13:50:28.332+0100	FATAL	option initialize error: arguments error
root@esmy-test:/home/admesmy# trivy image ngoduykhanh/powerdns-admin:v0.2.4
2021-12-15T13:50:35.611+0100	INFO	Need to update DB
2021-12-15T13:50:35.611+0100	INFO	Downloading DB...
25.23 MiB / 2

[2021-12-15 13:04] Syntax3rror404 commented on #1080
@jbe-dw how you made that? What is with the configuration to the powerdns server api?

[2021-12-15 13:24] jbe-dw commented on #1080
A few call to community.mysql.mysql_query to check if the user exists and that the password matches the one provided in the playbook.

You can use the same strategy to initiate the settings, like external authentication.

[2021-12-15 13:32] Syntax3rror404 commented on #1080
Thanks :) Yes I know this collection, but i don't know which tables in the database I have to use for this action. Can you share your code snippet for the user?

[2021-12-15 14:00] jbe-dw commented on #1080
Nope this database is for PowerDNS not PowerDNS Admin. If you don't have it it's probably in a sqlite file.

[code]
It needs a custom filter password_clear_check which validates that a text string matches a bcrypt hash.

[code]

[2021-12-15 16:01] zoeller-freinet commented on #1081
Hi @wargamez,

you can fall back on using `ngoduykhanh/powerdns-admin:latest` for now. It has been built on top of Alpine 3.13.7 which fixes these vulnerabilities. A new versioned release of PowerDNS-Admin should be created soon.

[2021-12-15 16:01] #1081 closed

[2021-12-16 14:11] KostasMparmparousis opened #1085 "Feedback regarding User Provisioning needed."
In our search for a new DNS management tool, we found that PowerDNS-Admin had two main issues that we identified as show stoppers, keeping us from including it in our toolbox and making it available to our members.

The first had to do with the inability to display Changelogs and filter History entries for auditing purposes and the second was related to automating the setup of user's privileges in

[2021-12-17 10:47] zoeller-freinet commented on #1063
This should be implemented now by #1051.

[2021-12-17 10:47] #1063 closed

[2021-12-17 10:48] zoeller-freinet commented on #971
This should be implemented now by #1051.

[2021-12-17 10:48] #971 closed

[2021-12-17 11:05] zoeller-freinet commented on #550
A basic setting that forces OTP on all users is now implemented by #1051.

Display of the OTP input field on the login page can be controlled via the 'otp_field_enabled' basic setting. By default the field is shown, but can be ignored if no OTP is required for the user that is to be authenticated.

[2021-12-17 11:05] #550 closed

[2021-12-17 11:06] zoeller-freinet commented on #1010
This should be implemented now by #1051.

[2021-12-17 11:06] #1010 closed

[2021-12-17 11:53] zoeller-freinet commented on #933
This should be implemented now by 7808feb.

[2021-12-17 11:53] #933 closed

[2021-12-17 13:11] zoeller-freinet opened #1086 "Drop pyOpenSSL dependency"
https://pypi.org/project/pyOpenSSL/ states:

pyOpenSSL depends on [pyca/cryptography](https://pypi.org/project/cryptography/) itself. In PowerDNS-Admin, pyOpenSSL is only used inside [`lib.certutil`](https://github.com/PowerDNS-Admin/PowerDNS-Admin/blob/7808febad8fb0a56cdecce2d7cdb9a92ec30ff06/powerdnsadmin/lib/certutil.py); `check_certificate` is never called and `create_self_signed_cert` does no

[2021-12-17 18:35] #127 closed

[2021-12-17 18:39] #316 closed

[2021-12-17 18:44] zoeller-freinet commented on #410
Renewing certificates shouldn't be a responsibility of PowerDNS-Admin.

[2021-12-17 18:44] #410 closed

[2021-12-17 19:19] zoeller-freinet commented on #496
It needs to be a FQDN - it should work if you add the trailing dot to the domain name.

[2021-12-17 19:19] #496 closed

[2021-12-17 19:40] joachimtingvold commented on #635
Same happens with PostgreSQL 13. The patch from @keesbos works, so that can essentially be used as the PR for fixing it (unless someone wants to refine it more).

[code]

[2021-12-19 16:46] TheKinrar opened #1087 "Editing IDN zones fail"
Hi!

On a fresh install of PowerDNS-Admin, everything works fine except for IDN zones. Clicking on "Apply changes" then "Apply" brings up an "Error when applying new changes" dialog.

On the server side (using `docker logs`):
[code]

From what I can see in the stacktrace, it seems to be related to sqlalchemy, and my DB is indeed set to SQL_ASCII encoding (I'm using postgres) but I assume PowerDNS

[2021-12-22 16:52] tardich opened #1088 "AD Authentication and Group Security case sensitivity"
Hi, I have been trying to find out what was wrong with the autorizations for more than two days (not easy to find out, as our ldap communications are all encrypted). But, finally, I observed that the groups are not all lowercase on our AD tree.

So I changed, in my ldap/AD configuration the groups definitions to look EXACTLY like what I see in the AD (mix of lowercase and uppercase) and it worked

[2021-12-28 13:54] Korkman commented on #880
I see PowerDNS Admin has a new popup entry for TXT records. The same popup could be used for comments, merging all comments from the same RRset into one text input and splitting on newlines as proposed previously. Output still poses a challenge, though. How about showing the first line from the comments in the first record, with an option to expand into a popup, and only the expansion link for fol

[2021-12-28 20:03] zoeller-freinet commented on #279
I don't think blocking HTTP requests based on their source IP address should be in the scope of PowerDNS-Admin, please use a reverse proxy server or firewall for that. For making sure that nobody except you can access your PowerDNS-Admin user account, please follow general password security recommendations and consider using 2FA.

[2021-12-28 20:03] #279 closed

[2021-12-28 20:04] tmuncks commented on #279
This is a bit hard to implement in firewall or reverse proxy when hosting DNS for a bunch of users

[2021-12-28 21:44] zoeller-freinet commented on #279
It should not be hard to use e.g. fail2ban to automatically update your firewall rules in that case.

[2021-12-28 21:48] tmuncks commented on #279
Correct, but that doesn't help with regulatory stuff such as "this domain can only legally be managed from these 5 IP addresses"... Or from a specific country or something of that nature.

[2021-12-28 22:18] zoeller-freinet commented on #279
I'd argue that something like this shouldn't be implemented by black-/whitelisting IP addresses/ranges in PowerDNS-Admin. A more general mechanism, for example an optional user-definable callback function that hooks into access permissions to e.g. domains, should be more flexible and also easier to maintain if done right.

What do you think? I'll give it some thought - feel free to open an issue o

[2021-12-30 20:03] zoeller-freinet commented on #1001
Hi @JamieSlome, thank you for reaching out!

I'm planning to add official security contact details to a central location - until that's ready you can send a mail describing your findings to zoeller [at] freinet [dot] de, I'll try to answer in a timely fashion.

[2022-01-03 08:09] a1d3s opened #1092 "Request: Add User to Multiple Domains"
Hello i cant figure out , how to add a single user to multiple domains.
Now i have to click every domain an edit them an add the user.
this is maybe strange if i have 1 or more user who have to manage 6 or more domains.
the users comes from ldap

[2022-01-03 10:58] jbe-dw opened #1093 "Allow SOA record edit shows SOA in reverse zones as well"
Hello,

When enabling SOA record edition for forward zones in the options, the reverse zones' SOA is displayed as well. We can edit it too, though the record type selection box does not show SOA (and is blank) and the custom edition window does not appear. Applying it turns to green but nothing is done.

When enabling SOA record edition in the PTR the behaviour works as expected.

The opposite beh

[2022-01-04 01:17] zyndok opened #1094 "Authentication redirect doesn't take server port into account"
I configure

./etc/nginx/conf.d/pdns-admin.conf
with

server {
  listen        0.0.0.0:8990;

When I attempted to connect, the port is dropped off 302 url.

root@powerdns:/# curl -I 192.168.200.1:8990
HTTP/1.1 302 FOUND
Server: nginx/1.18.0 (Ubuntu)
Date: Tue, 04 Jan 2022 01:13:27 GMT
Content-Type: text/html; charset=utf-8
Content-Length: 218
Connection: keep-alive
Location: http://192.168.200.1/l

[2022-01-04 01:19] zyndok commented on #1094
Note, I left off cookies when copy and pasting responses.

[2022-01-04 13:24] KostasMparmparousis commented on #1092
Hello there!
A PowerDNS Authoritative server already has a built-in mechanism called "Accounts". Accounts are essentially a way of grouping various Domains with one another . PowerDNS-Admin builds upon said feature by allowing Users to gain access to every Domain of an Account, when they are paired with that Account.

However, you might find that creating at least one Account of grouped Domains fo

[2022-01-04 14:47] a1d3s commented on #1092
Sorry , can't follow your answer, I don't understand what to do. What should be URN? UPN?

We didnt use autoprovision.
I have Admin User which are used only as fallback for operators. All my users are operator if they work internal. And the user is used for external accounts. I have a hough amount of domains and customer. Some of them have more then one domain and maybe more then one user who shou

[2022-01-04 15:29] JamieSlome commented on #1001
@zoeller-freinet - apologies for the delayed response from me!

If it is easier, you can view the reports here:

https://huntr.dev/bounties/e16924fb-9964-4164-83e6-ce22e1210e4c/
https://huntr.dev/bounties/edee3f4c-5340-4766-982d-131b008a3b85/
https://huntr.dev/bounties/3fba7172-49ad-4de8-8210-982d0daa5343/

The reports are private, and only visible to maintainers with repository write permissions.

[2022-01-05 11:15] a1d3s commented on #1092
Ok after playing around with a second docker i thinki found the solution
Create Account (which mean Group users)
Assign the account to the domains i need , if i had a new user i can add them to these account insteed to add them to the domains.

[2022-01-05 11:16] #1092 closed

[2022-01-10 19:31] tompointexe opened #1095 "[Feature request] Support for GeoIP backend"
Hey, would it be possible to have support for the PowerDNS geoip backend for easy to manage DNS for a custom / homemade CDN ??
Thanks

[2022-01-11 22:54] johnwc opened #1096 "PowerDNS-Admin version missing"
There is no way from the UI to see what version you are running of PowerDNS-Admin. Can we get a version number added to the footer or somewhere noticeable?

[2022-01-11 23:14] #1079 closed

[2022-01-13 13:42] vmarkop opened #1098 "Bug: Special characters in Record data are altered"
When Applying Changes to a domain, if an HTML special character (<, & etc.) is present in a Record's data, the special character is replaced by its character reference, even if it was not modified.

This problem is exaggerated by the fact that the "&" character, which is found in all character references, is then recursively replaced with "&amp;" every time changes are applied, which can lead to i

[2022-01-14 15:48] kkmanos opened #1099 "Feature: Custom Roles"
Hello,
Our organization (https://www.gunet.gr/en/) is considering adding custom Roles to the application, which are built upon the limited User role, to give specific entities just enough control in the application.

Currently, user's access to powerful mechanisms such as History Access, or Domain Creation and Deletion, are controlled with global Settings. Also, all users, including Administrators

[2022-01-15 02:09] brianredbeard commented on #481
If not fixing the reported issue at the very least adding better error handling would greatly improve the UX.  Currently having a version number like the one reported by @goldyfruit causes most of the pages in the interface to return a 500 error:

![image](https://user-images.githubusercontent.com/57542/149604942-01f0ef26-49cc-4323-845d-f05ec8b426df.png)

I discovered this when testing the 4.6.0 r

[2022-01-17 10:40] larsl-net commented on #1086
Hi @zoeller-freinet,

Is this problem already being worked on?

I recently started getting the following error when logging in with SAML, which is probably fixed by this issue.
[code]

[2022-01-18 16:44] jose-sky commented on #715
Hey, same error here.

Running with Docker:

- mariadb:10.2-bionic
- ngoduykhanh/powerdns-admin:v0.2.4

It seems like Mysql connection went away
[code]
and then this error is seen:
[code]
Any recommendations. It's causing 500 errors in the UI and API endpoints.

I can try to take a look and open a PR but not sure if someone is already looking or there are mitigations that we can apply

[2022-01-21 12:01] kkmanos commented on #1099
Hello!
There has been some progress since this issue was opened.

The new roles, which are built upon the User role, give Users Read or Write access to some record types, in all Domains they can view. Additionally, the settings "DNSSEC Admins Only, Allow Users Add Domain, Allow Users Remove Domain, Allow Users View History", can now be configured per role.

The Read/Write permissions apply for all

[2022-01-21 12:36] arbaldin commented on #1099
Hi there.

As far as I know, there are few things an Operator cannot do:

1. Clear the history;
2. Enable/Disable DNSSEC if the "dnssec_admins_only" option is enabled, and
even this one I'm in doubt.
3. Change PDNS-Admin settings.

Can't remember any other thing.

I think an Operator should not delete a Domain. They of course can delete
records inside a zone, but shouldn't be able to delete any do

[2022-01-21 21:33] mmaFR commented on #1015
Hello,

Indeed, it would be very handy to be able to bulk delete records.

[2022-01-22 11:48] mmaFR commented on #489
+1

[2022-01-25 07:37] Pechsopha opened #1102 "PowerDNS-admin can not work for ubuntu, phone(android, ios) Accept only windows"
Could anyone help me please? When I set up Server PowerDNS-admin already and I assigned 2 DNS servers like PowerDNS-admin Server and 8.8.8.8 on my pfsence. For result, Ubuntu, phone(android, ios) can not access to all dns records Accept only Windows.

[2022-01-25 22:27] JCCouture1 commented on #1069
Hello everyone
Please how do I assign the prev and next on music button ?

[2022-01-29 08:47] a1d3s commented on #1102
Do you have powerdns installed too? Powerdns-admin is only an administrator interface for that. And I think you need powerdns resolver too

[2022-01-29 08:57] Pechsopha commented on #1102
Dear Stefan Tabbert
Thank you for your email. I already installed powerdns-admin and also
powerdns resolver too(set up powerDNS recursor) in that time still not
working but when I check systecmctl to all both service is up. However
still dont know the root cause

Best Regards
Sopha Pech

On Sat, Jan 29, 2022 at 3:47 PM Stefan Tabbert ***@***.***>
wrote:

[2022-01-30 18:52] greenaar commented on #715
Also seeing this. wait_timeout and interactive_timeout in mysql are set to 86400, but the connection seems to fail after about an hour (or less) of inactivity.

This causes the very next login attempt to throw an error, a refresh and re-login then works afterwards.

Docker container for powerdns-admin, mysql is not in a docker container.  Powerdns doesn't exhibit this same issue.

[2022-01-31 04:19] surgeNexus opened #1104 "Connection Aborted"
PowerDNS Authoritative Server V.4.5.3

API is functioning correctly. I am able to curl all endpoints from multiple machines on my network however powerdns-admin prints the following to log.

`[server.py:60] ERROR - Can not get server statistics. DETAIL: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))`

Upon attempting to sync domains, the following is p

[2022-02-01 11:07] JulianHi opened #1105 "API List a zone's records returns Domain access not allowed"
At the moment i use the PowerDNS API directly to request Let's encrypt certificates without any problems. I would like to change the API calls to the new PowerDNS-Admin API feature to have access control but i get a "Domain access not allowed" from the PowerDNS-Admin API.

**Valid request to PowerDNS API:**
curl -H 'Content-Type: application/json' -H 'X-API-Key: YUdDdGhQM0tMQWV5alpJ' http://localh

[2022-02-02 06:42] timrabl opened #1106 "Allow passing Gunicorn args via environment Variables"
It would be grate, if there would be the 'native' option to pass more arguments to the Gunicorn service than these four.

[code]

<br/>

For now, you could just pass any option to any of these environment variables, as they are just appended to the Gunicorn service.
As an example if you would like to enable TLS in Gunicorn, this could be accomplished by injecting the following variables:
[code]
<b

[2022-02-02 15:40] kkmanos commented on #1099
Hello! The Roles feature is on the final straight!
Therefore, we would like to sum up the feature to ensure we are all aligned on what PowerDNS-Admin really needs.

Everything mentioned in the main issue and the above reply still applies. However, we would like to further clear up the power of each Role below:
For each specific Role, Read-Write permissions for records are given separately.

Apart

[2022-02-03 12:14] #1105 closed

[2022-02-04 04:46] bcsanford opened #1110 "Feature Request: WebAuthn/Yubikey MFA Support"
not sure how it was implementation but Mesh Central Supports this works great with my Yubikey, would love to have it with PowerDNS-Admin, from what i understand hardware tokens are considered the most preferred form of MFA currently

[2022-02-07 05:30] partyplant opened #1111 "Auto PTR records disappear when DNS name is updated"
Good afternoon!

I have noticed that PTR records disappear if I update the DNS name of A record and leave IP address as is. Looking at API log on powerdns side, it seems that admin first sends a request to create/update new PTR record and then sends the request to delete old one. For example:

[code]

This works for situations when we update IP address of the record, but does not work when only th

[2022-02-07 07:26] MarioC-IRL opened #1112 "Error 500 - manage domain"
Hello,

When I want to manage the .arpa (ip6) domain on PowerDNS Admin, it returns a 500 error for no specific reason. I have tested with a standard domain and I don't have the problem, how can I solve this problem?

![image](https://user-images.githubusercontent.com/55061299/152743362-61e19d22-54ce-4032-8cdb-ac4357f7a82d.png)

[2022-02-08 08:00] Metrax commented on #1102
PowerDNS-Admin is management tool for the PowerDNS Authoritative Server, not for the Recursor.

[2022-02-08 18:08] a1d3s commented on #1112
In Forward Domain, I know if there was a txt record earlier without "" like Ms= instead of "Ms=" the the error occur. The only way was to change the entry in database.

[2022-02-09 06:17] Pechsopha commented on #1102
So we need to set up another Recursor server isolate from PowerDNS-Admin?

On Tue, Feb 8, 2022 at 3:00 PM Metrax ***@***.***> wrote:

[2022-02-09 06:18] Pechsopha commented on #1102
Cloud you give me any reference or some guideline to solve ?

On Tue, Feb 8, 2022 at 3:00 PM Metrax ***@***.***> wrote:

[2022-02-09 06:19] Pechsopha commented on #1102
Could you give me any reference or some guideline to solve this issue?

On Tue, Feb 8, 2022 at 3:00 PM Metrax ***@***.***> wrote:

[2022-02-09 06:56] a1d3s commented on #1102
Powerdns admin is for administration your one DNS records in a powerdns server. Resolver is another product.

[2022-02-13 06:27] ttimasdf opened #1114 "Missing /api endpoint confuse ACME clients"
I'm trying to use powerdns admin as a proxy for PowerDNS, the client ([Traefik](https://github.com/traefik/traefik) with [lego](https://github.com/go-acme/lego) library as ACME client) use PowerDNS-Admin API key instead of PowerDNS API key for privilege isolation.

# Symptom

PowerDNS-Admin implemented `/api/v1` endpoint without its parent path `/api` makes lego unable to get API version, which le

[2022-02-14 22:36] MrMichou commented on #1104
Got the same issue,
[code]
using : the latest version on docker-compose
PDNS : 4.2.3
and PDNS-recursor: 4.2.5

[2022-02-15 11:07] jbe-dw opened #1116 "Multiple SQL errors when concurrently adding domains"
Hello,

Adding many domains in parallel with terraform outputs several errors in the log. The domains looks ok afterwards (at least in the ui)

[code]
This message can be repeated up to ten times. I'm not an SQL Alchemy expert, so I just report the bug.

[2022-02-15 11:11] jbe-dw opened #1117 "Can't delete an account with users or owning domains in the API"
Hello,

This at least should not crash but return a correct response to the client. I had one account with users and domains. The first call crashed but removed the users. The other calls crashed until disassociating all domains.

I propose to write a fix that cleans things up and remove the account (ie: unlink users and set blank domain ownership). It could be some code or a review of foreign key

[2022-02-15 23:57] MrMichou opened #1119 "BUG: domain not able to load it"
Hi there,

 Docker-compose : latest
 Distrib : CentOS 7.7
 Docker version 20.10.10

Since today, my container is not able to load domains.
I'm pulling the latest version got the kind of error, Am I missing something in the configuration, I can pull the data in HTTP but in not HTTPS by doing

curl: (35) SSL received a record that exceeded the maximum permissible length

Does powerDNS_Admin got an o

[2022-02-17 04:04] adityaborgaonkar commented on #1099
Hi there. @vmarkop @kkmanos @arbaldin

We want to explore more features for custom roles mentioned in #1099. We want to restrict a role to only Add records to a domain but not Delete them. As seen in image (https://imgbb.com/qytHxyk) instead of R / W there would be Read / Add / Delete for diff record types.

So can this be done and what other complexities will be there?

Thanks

[2022-02-17 13:41] kkmanos commented on #1099
Hello @adityaborgaonkar ,

your suggestion is interesting, however disabling Record deletion is not straightforward, due to the way editing records is handled.

Specifically, editing a record is handled as a Deletion of the old record, and an Addition of a new record with the change made.

Therefore, restricting Record Deletions means that records cannot be edited either. Supposing we were to impl

[2022-02-19 09:36] trinv opened #1125 "ImportError: cannot import name 'json' from 'itsdangerous'"
Stuck with this issue:
- Ubuntu 20.04
- PowerDNS4

(flask) root@ns1:/opt/web/powerdns-admin# export FLASK_APP=powerdnsadmin/__init__.py
(flask) root@ns1:/opt/web/powerdns-admin# flask db upgrade
Traceback (most recent call last):
  File "/opt/web/powerdns-admin/flask/bin/flask", line 5, in <module>
    from flask.cli import main
  File "/opt/web/powerdns-admin/flask/lib/python3.8/site-packages/fla

[2022-02-19 23:08] tooeffayy commented on #1125
itsdangerous just updated to 2.1.0 which deprecates the json part. If you add itsdangerous==2.0.1 to requirements.txt, it will pin the version until the issue is actually fixed.

[2022-02-20 00:32] lgwapnitsky opened #1126 "Can't add a key"
Trying to add an api key, but there appear to be missing fields

![Screenshot at 2022-02-19 19-31-07](https://user-images.githubusercontent.com/647444/154823796-97565b31-87dc-4036-84a0-8ff1c079ed9b.png)

Running latest git pull, and verified prior to posting issue

[2022-02-20 06:05] RGanor commented on #1126
@lgwapnitsky what happens when you click on create a key?

[2022-02-20 10:39] lgwapnitsky commented on #1126
500 error

On Sun, Feb 20, 2022, 01:05 RGanor ***@***.***> wrote:

[2022-02-20 11:04] RGanor commented on #1126
@lgwapnitsky can you add the powerdns-admin logs?

[2022-02-20 15:41] adityaborgaonkar commented on #1099
Hey @kkmanos

Our use case is for server build automation. So various teams are responsible for additions of new records for building new systems, But for deletion of record it has to go through a specific team for approval and only that team will delete the record.

If a user makes a typo while adding a new record, only that particular record is impacted which will be limited to the new system be

[2022-02-23 05:47] a1d3s commented on #1126
Add or create key? These are user keys. If u want add key for powerdns server there is an other field.

[2022-02-23 06:26] lgwapnitsky commented on #1126
Not needed anymore, but will try to look at another time

On Wed, Feb 23, 2022, 00:47 Stefan Tabbert ***@***.***> wrote:

[2022-02-23 15:30] lanhampr opened #1130 "ERROR - Can not get server statistics."
I am seeing this in the log:
[2022-02-23 15:25:08,292] [server.py:60] ERROR - Can not get server statistics. DETAIL: HTTPConnectionPool(host='127.0.0.1', port=8081): Max retries exceeded with url: /api/v1/servers/localhost/statistics (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fca65c505e0>: Failed to establish a new connection: [Errno 111] Connection refused'))

[2022-02-23 15:56] jbe-dw commented on #1130
You can check in powerdns logs if there is an error. It may be because the python server is not sending request from the localhost.

Are you running a container setup or a full install ?

[2022-02-23 16:14] lanhampr commented on #1130
I am running a container setup. I have changed PowerDNS-Admin to use the IP of the server instead of 127.0.0.1 and I have modified PowerDNS config as so:
#################################
# webserver     Start a webserver for monitoring (api=yes also enables the HTTP listener)
#
webserver=yes

#################################
# webserver-address     IP Address of webserver/API to listen on
#
webs

[2022-02-23 16:20] jbe-dw commented on #1130
Is your PDNS server run from a container ?
Are both softwares running on the same host ?
It looks like you may run PDNS from host and PDA from a container. If the remote in the log starts with 172.21 it is the container's ip. You may want to allow 172.21.0.0/16 in the ACL to allow the communication.

[2022-02-23 16:28] jbe-dw commented on #1130
webserver-allow-from=127.0.0.1,::1,172.21.0.0/16

[2022-02-23 16:36] lanhampr commented on #1130
Thank you. I didn't realize if webserver-allow-from was commented out that the ACL defaulted to 127.0.0.1.

[2022-02-23 16:36] #1130 closed

[2022-02-23 18:52] zoeller-freinet commented on #1032
Regrettably, I do not have enough time to help maintain PowerDNS-Admin anymore - in contrast with last November, when I first contacted Khanh - and I don't feel comfortable being part of the group of collaborators any longer just for the hope that this might change, which is currently uncertain at best.

I've therefore handed back the collaborator role, but may still contribute on occasion.

[2022-02-23 19:44] lanhampr opened #1131 "Opinion wanted on SQLite3 vs MariaDB"
I don't really see anybody using SQLite3 and mostly using MariaDB.  I choose SQLite because it was included in install, should I change to MariaDB?

[2022-02-23 19:51] arbaldin commented on #1131
I'm currently using MariaDB Galera cluster for both PDNS and PDNS-Admin.

I think that the DB choice is a matter of the resilience you want with your installation and how familiar you are with the system you choose.

Regards.

[2022-02-23 20:09] lanhampr opened #1132 "Cannot modify SOA record."
When I edit an SOA record, it allows me to save and successfully apply changes but when the page refreshes it's back to it's original state.

[2022-02-23 21:26] sshipway opened #1133 "Add support to configure ALSO-NOTIFY per-zone metadata"
PowerDNS allows you to set per-zone metadata for various purposes.  We already manage the `SOA-EDIT-API` setting via the pdns-admin GUI.

When updating a zone data, a `NOTIFY` packet will be sent to all NS hosts for that zone, plus all globally-defined also-notify hosts.  However, in some situations, it is desirable to set a per-zone list of hosts to receive additional notify packets -- such as in

[2022-02-24 18:23] lanhampr opened #1135 "MacOS returns recursive nslookup results from PowerDNS"
This isn't a PowerDNS-Admin issue but wanted to ask here as I know there are a lot of very smart people here.  I have confirmed on my PowerDNS server that recursive DNS does not work, I cannot lookup anything that PowerDNS is not authoritative nor do I get any results for say google.com from another server when issuing an NSLOOKUP using my PowerDNS server but I do when using my MacBook terminal.

[2022-02-24 18:35] arbaldin commented on #1135
@lanhampr

You are right, this is not related do PDNS, but to the operational system TCP/IP stack configuration.

When you are at the PDNS shell and use nslookup, if you issue the command server, what is the answer you got? If you do the same at the MacOS shell, what's the answer? Is it the same?

MacOS is probably using another server to do the recursion.

Regards.

[2022-02-24 18:43] lanhampr commented on #1135
Lanhams-MacBook-Pro:~ lanham$ nslookup

Default server: 205.220.219.75
Address: 205.220.219.75#53

Server:		205.220.219.75
Address:	205.220.219.75#53

Non-authoritative answer:
Name:	google.com
Address: 142.250.138.113
Name:	google.com
Address: 142.250.138.101
Name:	google.com
Address: 142.250.138.100
Name:	google.com
Address: 142.250.138.138
Name:	google.com
Address: 142.250.138.102
Name:	google.

[2022-02-25 22:17] jbe-dw commented on #1135
Just to be sure, you try to do a query from a server where you installed PowerDNS Recursor, or PowerDNS Authoritative ? Because PDA address the second one which does not do recursion.

[2022-02-25 22:42] #294 closed

[2022-02-25 23:16] lanhampr commented on #1135
That's the weirdness.  I am getting a response from (supposedly) 205.220.219.75 using terminal (nslookup) on my MacBook.  It should return nothing.  The MacBook is giving me false positive results, just curious if anybody else has seen this.  There was no PDNS Recursor setup at the time.  I have since installed the recursor to complete my install and did not include the MacBook network to the allo

[2022-03-02 22:14] hmike96 opened #1137 "The encoding on the returned API Keys is not accepted by decoder."
Hello it looks like whatever encoding in base64 for the returned API keys is not accepted by whatever process decrypts it in powerdns. Whenever I try to use the api key returned to me I get a 401 UNAUTHORIZED with this bug in the logs [decorators.py:379] ERROR - Invalid base64-encoded of credential. Error Incorrect padding

[2022-03-03 07:22] psavva commented on #1126
Hi @jbe-dw

I'm facing the same error.

Trace attached:

[code]

[2022-03-03 07:30] psavva commented on #1126
Upon selecting: User, the selection boxes appear for the account, and domain, and i'm able to select the options I need.
However, upon trying to create the key, the following exception is raised:

[code]

[2022-03-03 08:46] jbe-dw commented on #1126
Hello,

The error is due to this call:

[code]
meaning that it can't read the salt from your config.

Did you install the software from the docs or use docker ?

[2022-03-03 09:24] psavva commented on #1126
Hi @jbe-dw
I have based it off this:
https://github.com/pschiffe/docker-pdns

[2022-03-03 10:55] jbe-dw commented on #1126
@lgwapnitsky Feel free to reopen a detailed issue next time.
@psavva We are not maintaining pschiffe repository, you can open an issue there if you want.
Regards.

[2022-03-03 10:55] #1126 closed

[2022-03-03 11:16] psavva commented on #1126
I've created a PR for them.
Thank you very much for your support.

You guys are creating an awesome product

[2022-03-05 09:46] RGanor commented on #1080
@Syntax3rror404 @jbe-dw Can this issue be closed?

[2022-03-05 10:17] #699 closed

[2022-03-05 11:23] jbe-dw commented on #1080
I think it is a feature that should be implemented later. This issue should be closed for now.

[2022-03-05 11:23] #1080 closed

[2022-03-05 15:28] #394 closed

[2022-03-07 19:45] RGanor commented on #1137
How did you generated this API Key and how do you use it?

[2022-03-07 19:48] RGanor commented on #1132
Can you share the values you try to edit?

[2022-03-07 19:50] RGanor commented on #1119
What did you put in dns API URL? did you tried to change it to http?

[2022-03-07 19:59] RGanor commented on #1104
can you perform from curl from powerdns-admin host to the auth statistics endpoint and share your result?

[2022-03-07 20:32] lanhampr commented on #1132
I think I had a field that wasn't proper so thru trial and error I got it sorted.  It was just throwing me off because it would accept and let me save with no warning.

[2022-03-07 22:06] jbe-dw commented on #1135
Hello,

Can you finally tell me if you were able to find out what is wrong ? As this is not related to PDA.

Please close the issue if you were.

[2022-03-07 22:09] lanhampr commented on #1135
No resolution, just hoping somebody else saw the same issue as it makes troubleshooting from a Mac inconclusive. I will just close it and keep searching Google.  Thank you.

[2022-03-07 22:09] #1135 closed

[2022-03-08 06:51] #1132 closed

[2022-03-08 12:56] MrMichou commented on #1119
Hi @RGanor,
I tried to use HTTP, it's still forcing ssl anyway.
![Screenshot from 2022-03-08 06-56-07](https://user-images.githubusercontent.com/7550237/157233665-6efa309c-4aa9-46d6-a7db-1358237abce4.png)

I tried many configuration, with slash at the, without HTTP and tried to look into mysql if the were an escape character or it's forcing ssl but nothing.

After review, I forgot to paste this er

[2022-03-08 13:37] RGanor commented on #1119
Where your pdns is installed? are you sure that it is reachable from inside the pdns-admin container?

[2022-03-08 19:13] MrMichou commented on #1119
Hey @RGanor,

Found the problem !
So yes the services pdns was setup, the port was opened, It was a misconfiguration of my PDNS.conf after review
`webserver-allow-from` didn't had the IP configured. Needed to add 172.18.0.1.

All good !
Thanks for the support @RGanor !

Have a great day,
Cheers,
Michael

[2022-03-08 19:13] #1119 closed

[2022-03-08 19:36] RGanor commented on #999
@huifanglu2018  This issue is still relevant?

[2022-03-08 19:37] RGanor commented on #917
@ricardoamm this issue is still relevant?

[2022-03-08 19:40] #894 closed

[2022-03-08 19:43] RGanor commented on #837
This is a limitation in pdns admin itself, but it was already been solved.

[2022-03-08 19:43] #837 closed

[2022-03-08 20:15] sniffingsugar opened #1138 "User can't create domain"
Hi everybody,

I've set up PowerDNS-Admin and enabled the option user can create domain (allow_user_create_domain), but if I login with an test account (User Privileges) it says:

400 Oops! Bad request
Please use a valid Account
You may return to the dashboard.

Is it set up on purpose so that only the operator can change domains? That would be a bit bad because the operator can also read other do

[2022-03-08 20:49] RGanor commented on #1138
Can you share the server logs?

[2022-03-08 23:41] sniffingsugar commented on #1138
Hi @RGanor Sure :) 👍

Running with the latest docker image from the Docker Hub.

Logs with Debug enabled:
[code]

Config under Settings -> Basic
[code]
The problem that an normal User sees:
<img src="https://i.imgur.com/rRKgKxo.png" />

Maybe there is lying the Problem?
https://github.com/PowerDNS-Admin/PowerDNS-Admin/blob/0da9b2185ef418261522dc0013034a8546dc2fd1/powerdnsadmin/routes/domain.py#L36

[2022-03-09 10:30] vmarkop commented on #1138
@sniffingsugar

You are right, the reason you cannot create a Domain as a User is because you must associate it with an Account.

This is a security feature that was added in PR #970.

You may add your test user to an Account, and then they will be able to create a Domain.

[2022-03-09 10:44] vsulin commented on #696
SOA should be loaded on every apply of domain changes with the record itself. No matter if the record itself is editable or not. Because as it is now, you don't see that the SOA changed on save when its non-editable?

This can also cause problems with multiple people editing the same domain records at the same time. Which is not an issue that occurs often, but also happens.

I suggest that SOA rec

[2022-03-09 11:04] sniffingsugar commented on #1138
@vmarkop

Just checked, I've created an Account an added the User to it. It don't work.

[2022-03-09 11:10] #1138 closed

[2022-03-10 09:20] Skamasle opened #1139 "Problem with quotes still present ? error 500 json.decoder.JSONDecodeError"
Hi,

I read than some pull say this was fixed, but when you add DNS template and forget add quotes to TXT record, this template dont working more

When you apply this template to domain, that domain just have 0 records and admin interface stop working with error 500.

There is any patch for this ?

To reproduce:

-> dns template -> add any template -> add txt record SPF / DKIM or any orther, in da

[2022-03-11 13:01] jbe-dw commented on #1139
Hello,

Which version do you use ? Have you tried 0.2.4 ?

If the problem is present in master but not 0.2.4 it is probably related to the history which has been patched.

Regards

[2022-03-11 13:01] jbe-dw commented on #1137
@hmike96 any update on this issue ?

[2022-03-11 13:03] jbe-dw commented on #1133
Hello @sshipway

There's changes in PDA maintainers team and we can't work on new feature for now. You can work on a PR now or wait a bit as the project reorganizes.

Regards

[2022-03-14 07:54] glomazdov opened #1140 "The API key cannot be associated with a domain or account"
In previous versions, when creating an API, it was possible to bind domains to it.
This option is not available now ?

I made the binding via PG manually.
afte test:
I have created two APIs for two domains. But I can still create records in any domain using the API, even where I don't have access. How can I differentiate this and hard-link the API to a domain or a account? I think this is because

[2022-03-15 11:22] Showfom commented on #1139
I can reproduce the bug

1. Add a domain template with SOA and NS records
2. Modify the domain template, and add a TXT record with `_dmarc`, TTL `3600` with value '"v=DMARC1; p=reject; sp=reject; adkim=s; aspf=s;"'
3. Add a domain with this template, then it's 500 error

[2022-03-15 12:47] jbe-dw commented on #1139
Thank you for reporting. We are looking at it soon.

[2022-03-15 13:43] dmgeurts opened #1141 "500 error when creating an API key"
The service log shows the following:

sqlalchemy.exc.ProgrammingError: (MySQLdb._exceptions.ProgrammingError) (1146, "Table 'pdns.apikey_account' doesn't exist")

How do I create this table, and why wasn't it there when I installed pdns-admin a couple of months ago? I guess the first question will be easier to answer than the latter.

[2022-03-16 08:03] gizahNL opened #1142 "Auto PTR modifies PTR records it should not."
With auto_ptr enabled on the domain level PTR records are changed when new A records are added, even though the original A record that the PTR references still exists.

This is a big nuisance, as there are legitimate reasons to have multiple A records pointing to the same IP, while wanting the PTR record not to point "to the last created record".

The desired operation would be that auto_ptr ONLY

[2022-03-16 11:26] jbe-dw commented on #1141
Hello,

We need to improve documentation and especially release notes. There are patches that add functionalities and you need to trigger migrations when updating the codebase.

Can you close the issue if the problem is solved ?

[2022-03-16 11:28] jbe-dw commented on #1142
I think that there's no relationship stored with the original A record, as it's a PowerDNS feature that may become deprecated.

We will give an answer soon.

[2022-03-16 11:31] gizahNL commented on #1142
Yeah, makes sense there is no relationship stored.

Though such relationship could either be stored in powerdns-admin db itself.

Or a check could be fired beforehand; When modifying/adding A record check if PTR exists for that IP & only modify PTR record if the PTR points to the same A record.

[2022-03-16 13:03] jbe-dw commented on #1140
Hello,
In the latest versions, API Keys behaviour has been changed:
- An API Key with the Administrator or Operator role can manage any domain registered in PDA
- An API Key with the User role can be bound to any domain or account. Given that an API Key bound to an account is able to manage domains owned by the account, adding such domains is silently ignored (ie they won't be added as they are ma

[2022-03-16 15:07] vmarkop commented on #1141
A db migration can be triggered by running `flask db upgrade`.

[2022-03-22 07:21] #1140 closed

[2022-03-22 08:47] trinv opened #1143 "Can not create new domain"
Mar 22 08:44:33 ns01 pdns_server[145457]: [webserver] 2caac540-46fd-4ce9-a2f6-03a337c083de HTTP ISE for "/api/v1/servers/localhost/zones": Exception: GSQLBackend unable to list keys: Could not prepare statement: select cryptokeys.id, flags, active, published, content from domains, cryptokeys where cryptokeys.domain_id=domains.id and name=?: Unknown column 'published' in 'field list'
Mar 22 08:44:3

[2022-03-22 08:58] jbe-dw commented on #1143
Hello,

It looks like you updated the PDA version on a local deployment but did not run the database migration. See #1141

[2022-03-22 09:52] #1143 closed

[2022-03-22 10:07] jbe-dw commented on #1143
Hello,

I read this log too much quickly, logs looks like it'a a PowerDNS backend issue, because it references GSQLBackend.

Regards

[2022-03-22 10:13] trinv commented on #1143
Hi,
Thanks. So any idea to fix this issue ?

[2022-03-22 10:21] jbe-dw commented on #1143
When using mysql backend, you must create a database from the schema available on Powerdns website matching the Powerdns version you are using. You need to check which version of Powerdns is installed, then get the corresponding database schema from their website, and compare it with your actual database. Please take a look at the release notes but you should know for which version of PowerDNS you

[2022-03-22 10:22] trinv commented on #1143
Hi, i found how to fix it:
exec this command in mysql:

https://github.com/PowerDNS/pdns/blob/master/modules/gmysqlbackend/4.2.0_to_4.3.0_schema.mysql.sql

ALTER TABLE cryptokeys ADD published BOOL NULL DEFAULT 1 AFTER active;

[2022-03-25 20:13] jbe-dw opened #1144 "Announcement ~ PowerDNS Admin"
Dear PowerDNS Admin users,

As you may know, PowerDNS Admin's creator Khanh Ngo has decided to retire
from his project. He left us a good piece of software with great features,
which has been adopted by many people. Unfortunately, he was alone to
write the code at the time, and PDA still needs a lot of improvements.

We are writing to you to let you know that we have been asked to continue
the pro

[2022-03-25 20:30] jbe-dw opened #1145 "Requesting user support"
Hello Everyone,

As we said in the announcement, we will focus on releasing a new minor version and we will continue the efforts to release a stable v1. We need your help:

- We would appreciate if you can run test patches when they land in the master branch, and give us some feedback. It will greatly help us to get rid of remaining bugs or detect incomplete patches.
- We have just announced a fea

[2022-03-26 21:03] jbe-dw commented on #1142
Hello,

I'll take a look at the code shortly to confirm PDA's behaviour.

Regards

[2022-03-26 21:05] jbe-dw commented on #1141
Hello,

Can you give us a feedback about this issue ? Is it fixed by running the db upgrade ?

Thank you.

[2022-03-26 21:06] jbe-dw commented on #1139
@Showfom @Skamasle Can you confirm it is still present in the master branch ?

[2022-03-26 21:07] jbe-dw commented on #1137
No feedback in 20 days, i'm closing.

[2022-03-26 21:07] #1137 closed

[2022-03-26 22:34] Skamasle commented on #1139
Hi

Thanks this Monday I will upgrade to master

Thanks

El sáb., 26 mar. 2022 22:06, jbe-dw ***@***.***> escribió:

[2022-03-27 11:23] KostasMparmparousis opened #1146 "ImportError: cannot import name 'escape' from 'jinja2'"
While following the documented build path for installation of PDA on Ubuntu or Debian I encountered this error.

Traceback (most recent call last):
  File "$path/venv/bin/flask", line 5, in <module>
    from flask.cli import main
  File "$path/venv/lib/python3.9/site-packages/flask/__init__.py", line 14, in <module>
    from jinja2 import escape
ImportError: cannot import name 'escape' from 'jinja

[2022-03-27 11:57] #1125 closed

[2022-03-27 12:26] #1146 closed

[2022-03-27 12:50] dmgeurts commented on #1141
Hi, that command fails for me:

[code]

I guess I'm still doing something wrong?

[2022-03-27 12:51] RGanor commented on #1139
@Skamasle @jbe-dw The problem reproduced on our environment, although we are not using the master but im close enough in the version, and know the changes since, to be 95% sure it will also reproduced on the master.
Im trying to isolate this issue to see the exact history entry that caused this exception in `json.loads` at:
https://github.com/PowerDNS-Admin/PowerDNS-Admin/blob/35f2fde0a833739cdb8f

[2022-03-27 12:54] RGanor commented on #1139
in second though, we dont have this PR on our version #1066.
We'll see if this is helping and I'll update here

[2022-03-28 09:00] eLvErDe opened #1149 "Add support for app to run in sub-directory path"
Hello,

I'm trying to deploy PowerDNS however it has to leave in it's own context-path / wwwroot to be deployed on our reverse proxy.

I fixed the code using the following diff to move the whole Flask stuff into /powerdns-admin

[code]

All requests are working correctly, I can now see static and pages being served on the right URL and I have been able to register an account. However, after loggin

[2022-03-28 09:40] eLvErDe commented on #1149
Okay I just figured out the following modification make it work:

[code]

I'm not sure how this is supposed to work but when checking url_for on index route, it returns /powerdns-admin when running with contexted blueprint while it returns /dashboard without. Changing route like this make it work.

I also fixed a couple of static files using:

[code]
There are three matches in template file hardco

[2022-03-28 20:34] PauloHeaven opened #1150 "Problem with some python dependencies"
Hi,

I just cloned the latest version of PDA. At the `flask db upgrade` step, here is what happens:

`(venv) root@arnage:/opt/web/powerdns-admin# flask db upgrade
Traceback (most recent call last):
  File "/opt/web/powerdns-admin/venv/bin/flask", line 5, in <module>
    from flask.cli import main
  File "/opt/web/powerdns-admin/venv/lib/python3.8/site-packages/flask/__init__.py", line 21, in <modu

[2022-03-28 21:45] eLvErDe commented on #1150
Hello,

It's seems you messed up `production.py` file. Just add `import urllib.parse` on the beggining of the file with other imports and that should be okay.

Regards

[2022-03-28 21:48] eLvErDe opened #1151 "Support DNAME type"
Hello,

It seems PowerDNS admin does not list/does not permit to create DNAME entries to alias an entire domain to another.
Here is how to create one from cli:

[code]

Now any request to something.example.com will resolve to something.another-domain.com.

You might also want to issue a warning if user is creating DNAME entry and `dname-processing=yes` setting is not set, see: https://doc.powerdns

[2022-03-28 21:51] eLvErDe commented on #1149
I figured out I can set SCRIPT_NAME environment variable to reduce number of changes needed. When using this env variable, Flask already handles all the blueprints context and the only things that have to be fixed is `static_url_path` and sed to fix css absolute URLs

[2022-03-29 07:49] vmarkop commented on #1150
Hello! You are right, yesterday werkzeug was updated to [3.1.0 ](https://werkzeug.palletsprojects.com/en/2.1.x/changes/#version-2-1-0), dropping support for Python 3.6.

However, pinning the latest working version (2.0.3) in the requirements.txt file fixes the problem. We could not reproduce the second issue you mentioned. It is possible that @eLvErDe 's solution fixes your problem, please let us

[2022-03-29 08:01] PauloHeaven commented on #1150
Hello,

Thank you for your reactivity. There is a `import urllib.parse` line in the production.py file that I didn't notice, and it was commented out. My last installation of PDA traces back to about 2 years ago, many parts of this file changed and that wasn't needed before. I was finally able to compile the assets.

[2022-03-29 08:07] itxworks commented on #554
Hello,
Same issue with Keycloak 17.0.0   KeyError: 'preferred_username'  with this
Mappers set:

![image](https://user-images.githubusercontent.com/73403258/160563440-7b30d504-a4f4-4abc-8acc-85607335d48f.png)

Thank you.

[2022-03-29 09:44] #1150 closed

[2022-03-29 13:50] jbe-dw commented on #1141
The message says it tries to load `powerdnsadmin.__init__` while the you used `export FLASK_APP=./powerdnsadmin/__init__.py`. Can you do `ls $FLASK_APP` to check if the var has the extension and the file is reachable ?

You can add quote arround the value ?
You can try this oneline as well: `FLASK_APP=powerdnsadmin/__init__.py flask db upgrade` or `FLASK_APP="powerdnsadmin/__init__.py" flask db up

[2022-03-29 14:08] jvleminc commented on #552
We see this continuously happening as well with Kubernetes deployments:

[code]

[2022-03-29 14:15] jbe-dw commented on #1104
It means that PowerDNS Admin can't reach the PowerDNS Authoritative Server. You need to ensure in PDNS config if there is no ACL like 127.0.0.1 while in its log you don't have webserver refuse connexion from another IP.

The behaviour can change if you don't bind the network correctly in docker.

Can we have an update ?

[2022-03-29 14:42] MrMichou commented on #1104
Hey @jbe-dw & @RGanor,
From my side all is ok,
I've opened an issue: https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1119 that was fixed

Have a good day,
Michael

[2022-03-29 16:17] jbe-dw commented on #1104
Thanks

[2022-03-29 16:17] #1104 closed

[2022-03-29 17:35] dmgeurts commented on #1141
Sure, here you go:

[code]

Removing the './' from FLASK_APP results in the following error:

[code]

The right path for that file is `/var/www/html/pdns/configs/production.py`, but how do I fix the reference?

[2022-03-29 17:45] jbe-dw commented on #1141
The configuration path should be relative to the app or absolute.

Can you try `export FLASK_CONF=../configs/production.py` or `export FLASK_CONF=/var/www/html/pdns/configs/production.py` ?

[2022-03-29 18:09] jbe-dw commented on #1131
Hello,

The database backend choice really depends on your setup. If you want a resilient with high availability database, you should definitely go for mysql/mariadb or postgres.

If it is a small setup and downtime is not an issue, you should stick with sqlite.

[2022-03-29 18:11] jbe-dw commented on #1106
Hello,

Can you look at #1072 ? It may implement such options. If not we'll keep your request open and try to add it in the next weeks.

[2022-03-29 19:11] jbe-dw commented on #1102
Hello,

If what you need is to be able to host some private domains and still resolve internet domains, you can either:
- deploy at least one PowerDNS Recursor instance in which you would forward your private domains to a PowerDNS Authoritative instance (in the ini config file)
- deploy at least one PowerDNS Authoritative instance in which you enable the API
- Setup a PDA instance to query your  P

[2022-03-29 19:15] jbe-dw opened #1153 "Announcement ~ About the issue tracker management choices (short-term period)"
Hello Community !

We believe that a messy house does not send a good message to any visitor. There are too many abandoned topics in the repository, and our new task force is not sized to give decent followups to all the opened issues. So, we have commonly decided to close all issues opened before the version 0.2.3 was released (October 2020). There are too many stale messages and we don't have re

[2022-03-29 19:18] jbe-dw commented on #82
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. A recent feature request arround domain metadat is opened (#1133)

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-03-29 19:18] #82 closed

[2022-03-29 19:21] jbe-dw commented on #155
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. Feel free to open a new issue later.
We will work on the software documentation soon.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-29 19:21] #155 closed

[2022-03-29 19:23] jbe-dw commented on #144
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. Feel free to open a new issue later if you're still interested in this functionality.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-29 19:23] #144 closed

[2022-03-29 19:27] jbe-dw commented on #456
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-29 19:27] #456 closed

[2022-03-29 19:30] jbe-dw commented on #430
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. Feel free to open a new issue later.
We will look for such kind of migration in the future. I think that new users starts with a fresh database and are not impacted, and regular ones have already been through this update.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/Power

[2022-03-29 19:42] dmgeurts commented on #1141
Ahh, I had used `../` on both exports instead of `./` before but that didn't work. This did:

[code]

[2022-03-29 19:48] jbe-dw commented on #372
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-29 19:48] #372 closed

[2022-03-29 19:48] jbe-dw commented on #344
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-29 19:48] #344 closed

[2022-03-29 19:49] jbe-dw commented on #337
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-29 19:49] #337 closed

[2022-03-29 19:49] jbe-dw commented on #318
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-29 19:49] #318 closed

[2022-03-29 19:50] #264 closed

[2022-03-29 19:52] jbe-dw commented on #385
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-29 19:52] #385 closed

[2022-03-29 19:53] jbe-dw commented on #193
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. Feel free to open a new issue later (there are roles for such needs now).

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-29 19:53] #193 closed

[2022-03-29 20:04] jbe-dw commented on #506
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. Feel free to open a new issue later.

We have #1133 issue opened for future options arround domains metadata, not handled yet.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-29 20:04] #506 closed

[2022-03-29 20:08] jbe-dw commented on #511
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. PDA doesn't store any content, it just interacts with PowerDNS. Such feature is not gonna happen any soon.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-29 20:08] #511 closed

[2022-03-29 20:10] jbe-dw commented on #493
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-29 20:10] #493 closed

[2022-03-29 20:12] #494 closed

[2022-03-29 20:13] jbe-dw commented on #478
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, I'm closing it. There have been many patches arround authentication since. Feel free to open a new issue after upgrading to the latest version.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-29 20:13] #478 closed

[2022-03-29 21:46] eLvErDe commented on #1149
Cool,

Right now the app is deployed in a context path with minor hacks here and it seems to be working fine :)

[2022-03-30 07:23] vmarkop commented on #258
Hello,

This request is stale for too long. Regarding our policy to clean up this project, we are closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-30 07:23] #258 closed

[2022-03-30 07:27] vmarkop commented on #413
Hello,

This request is stale for too long. Forcing 2FA and enforcing stronger passwords are covered in PRs #1051 and #1054. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-30 07:27] #413 closed

[2022-03-30 07:30] vmarkop commented on #460
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-30 07:30] #460 closed

[2022-03-30 07:32] vmarkop commented on #527
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-30 07:32] #527 closed

[2022-03-30 07:33] vmarkop commented on #514
Hello, PR #1127 solves your issue.

Regards
PowerDNS Admin's team

[2022-03-30 07:33] #514 closed

[2022-03-30 07:35] vmarkop commented on #549
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we're closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-30 07:35] #549 closed

[2022-03-30 07:38] vmarkop commented on #539
Hello,

This request is stale for too long. Regarding our policy to clean up this project, we're closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin's Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-30 07:38] #539 closed

[2022-03-30 07:39] vmarkop commented on #333
Hello,

This request is stale for too long. Regarding our policy to clean up this project, we're closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-30 07:39] #333 closed

[2022-03-30 07:41] vmarkop commented on #552
Hello,

PR #1124 has fixed the problem on first login. Regarding our policy to clean up this project, we're closing this issue. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-30 07:41] #552 closed

[2022-03-30 07:43] vmarkop commented on #657
Hello,

This request is stale for too long. Regarding our policy to clean up this project, we're closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-30 07:43] #657 closed

[2022-03-30 07:44] vmarkop commented on #659
Hello,

This request is stale for too long. Regarding our policy to clean up this project, we're closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-30 07:44] #659 closed

[2022-03-30 07:45] vmarkop commented on #365
Hello,

This request is stale for too long. Regarding our policy to clean up this project, we're closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-30 07:45] #365 closed

[2022-03-30 07:47] #1062 closed

[2022-03-30 07:48] vmarkop commented on #122
Fixed by #942.

Regards
PowerDNS Admin Team

[2022-03-30 07:48] #122 closed

[2022-03-30 07:50] vmarkop commented on #131
Hello,

This request is stale for too long. Since then, PRs like #1113 aim to improve record permissions. Regarding our policy to clean up this project, we're closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-30 07:50] #131 closed

[2022-03-30 07:51] xjuric29 commented on #549
What the hell is that?? There is clearly reported bug, no one replied for almost three years and finally you just mark it as too old? Is it example of correct issue managing? Ofcourse not! -_-

[2022-03-30 07:51] vmarkop commented on #509
Hello,

This request is stale for too long. Regarding our policy to clean up this project, we're closing it. Feel free to open a new issue later if the problem persists in the latest version.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy (edited)

[2022-03-30 07:51] #509 closed

[2022-03-30 07:53] vmarkop commented on #530
Hello,

This request is stale for too long. Regarding our policy to clean up this project, we're closing it. Feel free to open a new issue later.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy.

[2022-03-30 07:53] #530 closed

[2022-03-30 07:54] vmarkop commented on #486
Fixed by PR #557.

Regards
PowerDNS Admin Team

[2022-03-30 07:54] #486 closed

[2022-03-30 08:52] vmarkop commented on #549
Hello @xjuric29,

we understand your frustration, but there has been a change in the maintenance staff recently. The number of older open issues, many of which may have been resolved in later releases, or may be deprecated and/or no longer required, is not manageable. Unfortunately, along with the deprecated issues, there may be a few decent ones which still require attention. If you believe this

[2022-03-30 09:09] xjuric29 commented on #549
In other words, you are just saying you have such mess in what were done and anyone do not want to check it that it is easier to start again from scratch and if someone really wants to, they need to do it again by themselves and then it might be possible that after next several years it can be solved.

Okay, I will not swear anymore. I just do not have now a running instance to check it again. I w

[2022-03-30 09:09] jbe-dw commented on #513
As said in the linked PR you're not using the software anymore. Closing.

[2022-03-30 09:09] #513 closed

[2022-03-30 09:14] jbe-dw commented on #373
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we're closing it. Feel free to open a new issue later.

Also, note that there is a filter field in the latest versions that allow you to write any LDAP filter, including memberOf.

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-03-30 09:14] #373 closed

[2022-04-01 06:03] trinv opened #1155 "How to rollover DNSSEC Key (KSK & ZSK) without failed ?"
Hi,
How can i rollover DNSSEC Key (KSK & ZSK) without failed ?
I want to changed the DNSSEC key for zones and can set some information for the DNSSEC Keys: settime, alg, length,....
Thanks

[2022-04-01 20:03] Alestor commented on #1096
Please considering reveal that kind of information **after** successful login, in case vulnerabilities may be discovered in the future associated with a specific version.

[2022-04-04 09:50] PHUGeckonet commented on #625
Hi, I have the same issue how did you manage to import data powerdns-admin database?

[2022-04-04 10:59] AdvanticGmbH opened #1156 "Using " ' as username for login breaks dashboard"
[code]

[code]

[2022-04-04 11:07] AdvanticGmbH opened #1157 "Name, Data and Comment field in manage domain vulnerable to XSS"
Set "<img onerror="alert(0)" src=invalid>" for any of the fields (Name, Data and Comment) and the alert will be executed.

[2022-04-04 11:23] Metrax commented on #625
Did you activated bg_domain_updates in the Basic-Settings and activated the cron job for this?
I didn't check, but maybe the basic settings overrides the config-file setting.
https://github.com/PowerDNS-Admin/PowerDNS-Admin/blob/master/update_zones.py

[2022-04-04 12:06] PHUGeckonet commented on #625
It helps. Thank you :).

[2022-04-04 12:49] AdvanticGmbH commented on #1098
@vmarkop and @kkmanos could you please take a look if this pr helps with this issue, thanks.

[2022-04-04 15:44] AdvanticGmbH commented on #1139
@RGanor and @Skamasle could you please take a look if this PR helps with this issue, thanks.

[2022-04-04 15:46] RGanor commented on #1139
Hey @AdvanticGmbH !
Do you experienced this issue with #1066 ?

[2022-04-04 20:12] jbe-dw commented on #1155
Hello @trinv,

Can you elaborate your question ? I'm not sure to understand what you really ask ? Is it a question about DNSSEC or about how to do it in PowerDNS Admin ?

Regards

[2022-04-04 20:31] arbaldin commented on #1155
Hi @jbe-dw,

As far I understand @trinv question, it's related to PowerDNS-Admin.

I believe this is a PR, because I'm not sure if PDNS-Admin do the DNSKEY rollover.

When we enable the DNSSEC on a zone, I believe PDNS-Admin uses PDNS API to generate a DNSSEC Key and kepp in on the PDNS proper DB table. When I disable a DNSSEC from a zone, it looks disabled, but I'm not sure if it delete the DNSKE

[2022-04-04 20:39] jbe-dw commented on #1151
Hello,

You can enable DNAME record creation in Settings/Records, however there is no check about dname-processing at the time.

Regards

[2022-04-04 21:10] jbe-dw commented on #1155
Thanks. I confirm PDA is not able to do the rollover. You have to use pdnsutil tool on the PDNS server directly following the directions [here](https://doc.powerdns.com/authoritative/guides/index.html).

[2022-04-05 06:13] AdvanticGmbH commented on #1139
@RGanor Yes, we are still experiencing this issue with #1066

[2022-04-05 08:56] AdvanticGmbH commented on #1139
@RGanor @jbe-dw @Skamasle We pushed more changes which seem to fix a lot of issues with the history in relation to json formatting.

[2022-04-05 09:05] jbe-dw commented on #1139
Hello @AdvanticGmbH ,

Thank you for the PR. We let @vmarkop or @kkmanos  review your changes, as they are the original contributors for the detailed history function.

[2022-04-06 10:08] mchlrv opened #1161 "Domain Templates with API creation"
Is there a way to create domains with the API and specifying a domain template? My current method is to specify all the records within an `rrsets`, but it would be way easier if I could just name the domain template.

[2022-04-06 15:09] AdvanticGmbH opened #1162 "SOA isnt working with IDNA and domains with "ß" are broken"
When the SOA contains a special character like "ü"  apply changes on a Domain throws this:
[code]

Also does any domain containing the character "ß" crash the dashboard.
[code]

[2022-04-07 09:32] #1106 closed

[2022-04-07 11:40] jbe-dw commented on #1162
Sure, we have looked at the code and confirm the PRs soon !

[2022-04-11 08:42] vmarkop commented on #829
Fixed by #1122.

[2022-04-11 08:42] #829 closed

[2022-04-11 12:16] vmarkop commented on #1098
Fixed by #1158.
Thanks @AdvanticGmbH!

[2022-04-11 12:16] #1098 closed

[2022-04-11 12:22] vmarkop commented on #927
Fixed by #1123.

[2022-04-11 12:22] #927 closed

[2022-04-14 12:41] chi110r opened #1167 "Healtcheck "/ping" not useable"
Hi,

i am using the Docker Image in a Nomad/Consul environment, and I just saw that the URL Path /ping is only usable by a authenticated user. This makes the usage of the endpoint, for checking the alive status of the app, useless.

Can we remove the requirement for login to this endpoint?

BG
Andy

[2022-04-15 12:17] Showfom opened #1168 "Add support for SVCB / HTTPS record types"
https://datatracker.ietf.org/doc/html/draft-ietf-dnsop-svcb-https-08

PowerDNS already support it since 4.4.0

https://doc.powerdns.com/authoritative/appendices/types.html#svcb-https
https://doc.powerdns.com/authoritative/guides/svcb.html

[2022-04-16 19:20] wuyifan66 opened #1169 "need docker verison's wiki thank you"
I really need the wiki of the docker version.  like "mysql address", i don't know how to config in docker verison

[2022-04-17 06:48] huglester opened #1170 "API key generation error"
Hey

when generating api key, I get

[code]

[2022-04-18 08:03] vmarkop commented on #1170
Hello,

It looks like your Salt value is None.

You may have not specified Salt in your Basic App Config, in file development.py.

Please try generating a new valid Salt value, using
`python3 -c 'import bcrypt;print( bcrypt.gensalt() );'`

Then add SALT = the value generated above in the /configs/development.py file.

Finally, restart the application, making sure to perform this:
`export FLASK_CON

[2022-04-18 18:39] RGanor commented on #1169
Hey @wuyifan66 , can you please translate this issue to English? this is the only supported language.

[2022-04-20 08:12] RGanor commented on #1167
hey @chi110r , we are looking into changing this method for not needing authentication.

[2022-04-20 19:36] obi12341 opened #1175 "Domain Template Edit not working"
Hello,

looks like editing template record is broken in latest release (v0.2.4). I get following error message if i want to edit a template record: ERROR - Cannot apply record changes to the template. Error: 'record_comment'

Looks like this is probably the line that throws this error:
https://github.com/PowerDNS-Admin/PowerDNS-Admin/blob/94a923a965f0740aeb4d44c4abde9bb8c530bfc7/powerdnsadmin/rout

[2022-04-21 04:54] Metrax commented on #1175
Please update to the latest git-master and check if the problem still exist.

[2022-04-21 17:51] RGanor commented on #1169
Have you looked on the docker compose?

https://github.com/PowerDNS-Admin/PowerDNS-Admin/blob/e89133397105e0cb27dff9222b0ce7ec9fb24d8d/docker-compose.yml

Use SQLALCHEMY_DATABASE_URI environment variable

[2022-04-25 07:56] WestFarmer opened #1176 "how to get the right API version"
Hi, how to get the right API version for the powerdns backend ?

[2022-04-25 09:30] WestFarmer opened #1177 "cant's specify powerdns api endpoint and key at startup ?"
I can't find a config parameter to do this, why ?

[2022-04-25 10:55] Metrax commented on #1177
Because you have to configure it in the WebUI.
![image](https://user-images.githubusercontent.com/1061866/165075597-a2adf0f7-7866-44e9-8dd7-07cd861dc402.png)

[2022-04-25 14:45] jbe-dw commented on #1169
Hi,

Can you elaborate your question, I'm not sure to understand your need ?

Thank you.

[2022-04-25 14:48] jbe-dw commented on #1175
Hello @obi12341,

Could you try with a recent version (in master, not released yet) ?

thanks

[2022-04-25 14:48] jbe-dw commented on #1175
Hello @obi12341,

Could you try with a recent version (in master, not released yet) ?

thanks

[2022-04-25 14:50] jbe-dw commented on #1167
Hello @chi110r,

We removed authentication on this endpoint, can you try with the master branch of the code (you may have to run `flask db upgrade`) ?

Thank you

[2022-04-25 14:50] jbe-dw commented on #1167
Hello @chi110r,

We removed authentication on this endpoint, can you try with the master branch of the code (you may have to run `flask db upgrade`) ?

Thank you

[2022-04-25 14:54] jbe-dw commented on #1168
Hello @Showfom

As you may have read on latest announcements, we're focusing on bug fixes and include pending PRs now. We take a note to your request to add it later.

We will update your issue when we will have free time to add it.

Regards

[2022-04-25 14:56] jbe-dw commented on #1155
Hello @trinv,

As it is not supported now, I'm adding it to the long list of feature requests, and closing your issue now.

Regards

[2022-04-25 14:56] jbe-dw commented on #1155
Hello @trinv,

As it is not supported now, I'm adding it to the long list of feature requests, and closing your issue now.

Regards

[2022-04-25 14:56] #1155 closed

[2022-04-25 15:08] jbe-dw opened #1178 "Feature Requests Tracking"
Hello Community,

We said we would do some cleaning in the tickets. One thing we want to do is keep track of opened feature requests in the tracker. To be clear as water we will reference closed feature request tickets in this post.

When we will have time to work on them, we will state on what is coming and what is not accepted.
Feel free to work on any Feature you're missing and submit PR meanwh

[2022-04-25 15:08] jbe-dw commented on #1178
Reserved

[2022-04-25 15:12] jbe-dw commented on #70
Hello,

We are cleaning the issue tracker and closing your issue. You can follow the status here: #1178

Regards
PowerDNS Admin Team

[2022-04-25 15:12] #70 closed

[2022-04-25 15:13] jbe-dw commented on #92
Hello,

We are cleaning the issue tracker and closing your issue. You can follow the status here: #1178

Regards
PowerDNS Admin Team

[2022-04-25 15:22] jbe-dw commented on #110
#944 is what you are looking for.

Regards

[2022-04-25 15:22] #110 closed

[2022-04-25 15:24] #128 closed

[2022-04-26 01:18] WestFarmer commented on #1177
I knows this, for automation purpose I think it's better to have a option to set these configs at startup.

[2022-04-26 06:20] Metrax commented on #1177
In this case, your should do this with mysql:
[code]

[2022-04-27 02:40] trinv opened #1179 "AttributeError: module 'lib' has no attribute 'X509_V_FLAG_CB_ISSUER_CHECK'"
HI, i got a problem when i ran `flask db upgrade`
Please help me to resolved this issue. Thanks

[code]
/opt/web/powerdns-admin/flask/lib/python3.6/site-packages/authlib/jose/rfc7518/_cryptography_backends/_jws.py:11: CryptographyDeprecationWarning: Python 3.6 is no longer supported by the Python core team. Therefore, support for it is deprecated in cryptography and will be removed in a future rel

[2022-04-27 02:56] trinv commented on #1179
Hi, i fixed this issue:
add this line in `requerements.txt` file:

`cryptography==3.3`
and change `pyOpenSSL` to version 20.0.0 `pyOpenSSL==20.0.0`

[2022-04-27 09:19] vmarkop commented on #1179
Thank you for bringing this to our attention, and thank you @trinv for figuring out the package causing trouble. We will update the cryptography dependency to 36.0.2, as [version 37](https://cryptography.io/en/latest/changelog/#v37-0-0) broke backwards compatibility.

[2022-04-27 11:54] chi110r commented on #1167
@jbe-dw works as intended

Merci

[2022-04-27 12:50] jbe-dw commented on #1167
De rien.

Je me permets de fermer l'issue.

[2022-04-27 13:37] vmarkop commented on #1179
Closed by #1180.

[2022-04-27 13:37] #1179 closed

[2022-04-27 13:46] #151 closed

[2022-04-27 13:47] jbe-dw commented on #161
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. This feature request is tracked in #1178

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-04-27 13:47] #161 closed

[2022-04-27 13:49] jbe-dw commented on #162
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. This feature request is tracked in https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1178

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-04-27 13:53] jbe-dw commented on #174
Hello @danimo

I agree with you. We don't have resources to adress it right away but it should be done in a not too far future.

Regards

[2022-04-27 13:56] jbe-dw commented on #359
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it.

PS: The doc has changed since, if you encounter any difficulty to install the software, lets us know in a new issue.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-04-27 13:56] #359 closed

[2022-04-27 13:57] jbe-dw commented on #381
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-04-27 13:57] #381 closed

[2022-04-27 13:59] jbe-dw commented on #384
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-04-27 13:59] #384 closed

[2022-04-27 14:01] jbe-dw commented on #402
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. This feature request is tracked in https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1178

Regards
PowerDNS Admin Team
See https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1153 for the policy

[2022-04-27 14:01] #402 closed

[2022-04-27 14:04] jbe-dw commented on #556
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still have an issue with idn support.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-04-27 14:04] #556 closed

[2022-04-27 14:05] #544 closed

[2022-04-27 14:08] jbe-dw commented on #537
Hello,

We are cleaning the issue tracker and closing your issue. You can follow the status here: https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1178

Regards
PowerDNS Admin Team

[2022-04-27 14:08] #537 closed

[2022-04-27 14:41] hellEVIL-13 opened #1181 "the latest revision from the git repository throws an error and when you click save A record itself adds a comment"
Apr 27 17:26:16 webdns gunicorn[7904]: [2022-04-27 17:26:16,324] [app.py:1892] ERROR - Exception on /dashboard/ [GET]
Apr 27 17:26:16 webdns gunicorn[7904]: Traceback (most recent call last):
Apr 27 17:26:16 webdns gunicorn[7904]:   File "/opt/web/powerdns-admin/venv/lib/python3.7/site-packages/flask/app.py", line 2447, in wsgi_app
Apr 27 17:26:16 webdns gunicorn[7904]:     response = self.full_di

[2022-04-27 17:52] jbe-dw commented on #1177
Hello,

We planed to add  a config api in a future release. As it is not gonna land soon, a workarround is to set it up in SQL, like @Metrax proposed.

Regards

[2022-04-27 17:53] jbe-dw commented on #1176
Hello,

Can you develop ? The PowerDNS API major version is v1 for a while.

[2022-04-27 18:15] jbe-dw commented on #1156
@AdvanticGmbH is this issue resolved by your patch ?

[2022-04-27 18:17] jbe-dw commented on #1112
No answer in 30d, closing.

[2022-04-27 18:17] #1112 closed

[2022-04-27 18:18] jbe-dw commented on #1102
No update in 30d, closing.

[2022-04-27 18:18] #1102 closed

[2022-04-27 18:22] #1093 closed

[2022-04-27 18:38] lanhampr commented on #1131
Yes. Sorry.

From: jbe-dw ***@***.***>
Date: Wednesday, April 27, 2022 at 12:16 PM
To: PowerDNS-Admin/PowerDNS-Admin ***@***.***>
Cc: Lanham Rattan ***@***.***>, Mention ***@***.***>
Subject: Re: [PowerDNS-Admin/PowerDNS-Admin] Opinion wanted on SQLite3 vs MariaDB (Issue #1131)

@lanhampr<https://github.com/lanhampr> If you have no more question regarding the database choice, can you close the iss

[2022-04-27 21:22] jbe-dw commented on #1181
Hello @hellEVIL-13

Can you try the two small changes proposed in #1182 ?

I can get the same error message in the logs with one of my test setup with the current master, but I couldn't reproduce the bug with the record edition.

I don't think they are related. Let me know if at least you can display the dashboard (and the history tab).

For the edition issue, let me know.

Regards.

[2022-04-27 21:32] #1131 closed

[2022-04-27 22:23] trinv opened #1183 "[domain.py:169] ERROR - Cannot update domain table."
Hi, i got an issue when i tried to migrate the old mysql db (powerdns) to new server  with `mysqldump`
But after that, powerdns-admin can not shown the zone on Dashboard and i got some line in the log files:
[code]

So how can i resolved that. thank you

[2022-04-27 22:51] matutter opened #1184 "Any change to a zone deletes all `rrsets.[].comments[].account`"
## Summary

**PowerDNS Version**: `4.5.4`
**PDA Version:** `4.1.1`

When a `PATCH` is issued to the PowerDNS zone endpoint `{{base_url}}/api/v1/servers/{{server}}/zones/{{zoneId}}` all `account` fields are deleted.

## Reproducer

These were issued from _Postman_ directly to PowerDNS using the PowerDNS `API_KEY` for authentication. The user `tailsync` is a PDA _user_ account and is the account tha

[2022-04-28 01:00] WestFarmer commented on #1176
you mean 4.1.1 ?

[2022-04-28 03:36] hellEVIL-13 commented on #1181
this helped with the dashboard error but the main page is now without styles but didn't help with another error
![image](https://user-images.githubusercontent.com/19870084/165671239-29903a7b-8556-40e3-8098-e36e03c825ec.png)

[2022-04-28 07:24] jbe-dw commented on #1176
4.1 is the PowerDNS version. PDA is compatible to versions over 4.1, but there were some changes in the API, you should upgrade to >4.3. Current version is 4.5

[2022-04-28 09:43] jbe-dw commented on #1183
Related to #1116

[2022-04-29 07:51] typoworx-de commented on #1139
Thanks, got that error and found this issue here. Clearing history worked! Such error should be avoided in PDNS itself.

[2022-04-29 13:05] jbe-dw commented on #1181
Can you provide the Javascript console log from your browser (hit F12 to open the development panel, then go to Console tab, click on the bin to clear the console then hit F5 to reload)

[2022-04-29 17:28] samip5 opened #1185 "Ability to use DynDNS via api keys"
I would love to see PDA to have an functionality to allow DynDNS to be used via api keys rather than user credentials directly.

If I were to code it myself, should it be via a configuration setting or how it should be?

[2022-04-29 19:50] jbe-dw commented on #1183
Can you confirm that you exported PowerDNS Admin database and imported it on a new server ?

Did you use the same versions of PowerDNS Admin on both servers ?

Can you show the domain table content ? (SELECT * FROM domain;)

[2022-04-29 19:55] jbe-dw commented on #1116
No because this messages shown up when I created a lot of domains simultaneously with Terraform but the domains were created and appeared in PowerDNS.

It's hard to see which condition make it happen, I'll have to review the domain code to see why this happens.

[2022-04-29 20:17] jbe-dw commented on #1185
Hello,

I've not checked at the dyndns functionality yet. At a first glance, it looks like you should:

-  check at decorators, to have an hybrid one like `apikey_or_basic_auth`
-  update `def dyndns_update` function to check domain permissions based on your new decorator return value via the apikey perms or the user perms.

It's not something for a beginner to do, but with good skills in python y

[2022-04-29 20:22] jbe-dw commented on #1151
Is enabling DNAME working for you or not ?

[2022-04-29 20:26] jbe-dw commented on #1095
Hello,

Sorry for the late answer. We can add your request to the long list of pending features, but it won't be added in priority. It will depend on the new PDA lifecycle.

Regards

[2022-04-29 20:31] jbe-dw commented on #1094
Hello,

Could you fix your issue ?

Regards

[2022-04-29 20:34] jbe-dw commented on #1087
The bug seems to be related to the history record, not the domain itself. Is #1163 doing better ?

Regards

[2022-04-29 20:37] jbe-dw commented on #1075
Hello @Metrax

I don't have time to look at the code, but is the master branch giving more details now ?

Regards

[2022-04-29 20:37] #1032 closed

[2022-04-30 05:00] hellEVIL-13 commented on #1181
Some cookies are misusing the recommended “SameSite“ attribute 2

GEThttps://webdns.m1cloud.net/static/generated/login.css?2a708f5e
[HTTP/1.1 404 Not Found 10ms]

GEThttps://webdns.m1cloud.net/static/generated/login.js?ef820066
[HTTP/1.1 404 Not Found 9ms]

GEThttps://webdns.m1cloud.net/static/generated/validation.js?99acceba
[HTTP/1.1 404 Not Found 7ms]

Loading failed for the <script> with sourc

[2022-05-02 10:04] jbe-dw commented on #1181
Hello,

Can you check that the mentionned files are present in powerdnsadmin/static/generated folder ?

If the files don't exist, you may have to run `flask assets build` like mentionned in    [the wiki](https://github.com/PowerDNS-Admin/PowerDNS-Admin/wiki/Running-PowerDNS-Admin-on-Ubuntu-or-Debian#running-powerdns-admin)

Else, if `webdns.m1cloud.net` is the dns name of your PDA instance, you ha

[2022-05-02 11:13] Metrax commented on #1075
@jbe-dw nope, no change at master for this issue. Its still an inconsistancy in handling RR changes.

[2022-05-03 03:20] hellEVIL-13 commented on #1181
I wrote myself I made a mistake with the nginx settings, everything is working correctly now, and I ask you to upload your patch to git.

[2022-05-03 07:41] jbe-dw commented on #1181
Hello,

Glad to hear that it works for you. We are discussing internally about this, because in the end it would be cleaner to provide a patch that replaces single quotes in this column by double quotes, rather than doing it in the code.

I'll give you an update about this soon, until then keep the patch.

Regards

[2022-05-03 07:46] jbe-dw commented on #1184
We don't manage accounting at the record level but at the zone level. The code that loads the content in the js table doesn't keep track of the account. As we don't keep track of changes the whole zone is submitted again.

We have some feature requests to track changes more precisely, we could check on that then.

[2022-05-04 04:32] trinv commented on #1183
it has 2 tables: domain & domains

[2022-05-04 04:32] trinv commented on #1183
[code]

[2022-05-04 09:21] wdoekes commented on #1001
Hi! :)

Was this followed up?

[2022-05-04 10:00] wdoekes commented on #905
Here's a working helm chart: https://github.com/k8s-at-home/charts/tree/master/charts/stable/powerdns-admin

[2022-05-04 10:39] Nim1com opened #1186 "Disabling check for domain validity"
I am not using ICAAN. And need to disable the check for domains.

[2022-05-04 22:56] jbe-dw commented on #1181
Hello,

I've pushed an alembic script to update the history table in the same PR. It would be nice if you could test it and revert the changes L766 altogether.

You should definitely dump the history table before, then run "flask db upgrade" from within the flask virtualenv.

Regards

[2022-05-05 07:54] hellEVIL-13 commented on #1181
I did everything, your patch fixes the issue not in the database and not in nginx

[2022-05-05 08:03] jbe-dw commented on #1181
Hello,

I'm not sure to understand. You applied the db upgrade with the script pulled from the Branch, and the problem is still occuring if you disable the python change in the same PR ?

Can you describe your tests ?

Thank you

[2022-05-05 08:15] jbe-dw commented on #1183
Can you toggle "bg_domain_updates" on in the settings and confirm that the SQL Error shows up each time you click on  the "Sync domains" button on the Dashboard page ?

[2022-05-05 08:21] jbe-dw commented on #1186
Hello,

I don't get it, which check are you talking about ?

Regards

[2022-05-05 08:33] jbe-dw commented on #1183
By the way you should not mix PowerDNS and PowerDNS Admin data into the same database

[2022-05-05 08:36] Nim1com commented on #1186
![image](https://user-images.githubusercontent.com/57798165/166888576-45efe237-ec48-41c3-8dc9-2aaf81b54f67.png)

[2022-05-05 08:36] Nim1com commented on #1186
the sld.tld or tld field there
how do i disable checks for that field

[2022-05-05 08:56] Metrax commented on #1186
@Nim1com give us an example, what you are trying the enter there, please

[2022-05-05 09:10] Nim1com commented on #1186
as i am using a custom dns witch has non icaan domains aka there is domains like site.whateveriswrittenhere and only tld sites.

[2022-05-05 09:16] Metrax commented on #1186
I've tried to create "site.whateveriswrittenhere" and "test" (for just tld), and didn't get an error.
Are on the latest master-commit?

[2022-05-05 09:23] Nim1com commented on #1186
i am on 4.6.1
and am i supposed to get a 400?

[2022-05-05 09:25] Nim1com commented on #1186
this is where i tried it also without the webgui https://doc.powerdns.com/md/httpapi/README/

{
  "account": "",
  "api_rectify": false,
  "dnssec": false,
  "edited_serial": 2022050501,
  "id": "example.org.",
  "kind": "Native",
  "last_check": 0,
  "master_tsig_key_ids": [],
  "masters": [],
  "name": "example.org.",
  "notified_serial": 0,
  "nsec3narrow": false,
  "nsec3param": "",
  "rrsets"

[2022-05-05 09:26] Metrax commented on #1186
This is the PowerDNS-Version.
We need to know, with which PowerDNS-Admin Version you are working?

[2022-05-05 09:27] Nim1com commented on #1186
ngoduykhanh/powerdns-admin:latest

[2022-05-05 09:30] Nim1com commented on #1186
the one updated 8 days ago latest commit

[2022-05-05 09:32] Metrax commented on #1186
I think i've found your problem ... are you trying to enter the Domain name with a dot at the end? ex.: site.
If yes, PDA is adding this automatically when creating the domain at PDNS. You can create it simply without the dot.

[2022-05-05 09:36] Metrax commented on #1186
Just for example:
I've tried to create "test.". PDA is trying the create "test..", and got this error:
`ERROR - Unable to parse DNS Name 'test..'`

So, this is not a bug, this is a feature :-D

[2022-05-05 09:49] Nim1com commented on #1186
i did nto add a . at the end

[2022-05-05 10:00] Nim1com commented on #1186
![image](https://user-images.githubusercontent.com/57798165/166901504-d45b2fcb-96fb-4264-ab73-4364462d0f6e.png)
![image](https://user-images.githubusercontent.com/57798165/166901628-f4d3af29-a11e-4508-9fb6-9755fb2a177a.png)
![image](https://user-images.githubusercontent.com/57798165/166901683-e9b53018-30e3-4ca1-9258-8a0045a4ab6b.png)
anything i do returns this
im not sure if this is my original pr

[2022-05-05 10:03] jbe-dw commented on #1186
Hello,

I can create both TLD domains and registered domains like google.com

![pda_tld](https://user-images.githubusercontent.com/50663045/166902120-961b09fa-91bb-4e95-8fb6-51b88d84f22a.png)

[2022-05-05 10:05] jbe-dw commented on #1186
You need to provide PDA logs to figure out what happens. Which kind of setup do you use ? (docker, full install with systemd ..)

[2022-05-05 10:11] jbe-dw commented on #1186
You can also enable PowerDNS webserver logs and check what happens in the background. (webserver-loglevel = detailed, loglevel = 5)

[2022-05-05 10:11] Nim1com commented on #1186
docker?

● pdns.service - PowerDNS Authoritative Server
     Loaded: loaded (/lib/systemd/system/pdns.service; enabled; vendor preset: enabled)
     Active: active (running) since Thu 2022-05-05 09:16:45 UTC; 54min ago
       Docs: man:pdns_server(1)
             man:pdns_control(1)
             https://doc.powerdns.com
   Main PID: 582166 (pdns_server)
      Tasks: 10 (limit: 1132)
     Memory: 5

[2022-05-05 10:13] jbe-dw commented on #1186
How did you install PowerDNS Admin ?

[2022-05-05 10:23] jbe-dw commented on #1186
You can check the logs from the container with docker logs. Please provide logs when the error 400 happens

Ex:
`docker ps`
CONTAINER ID   IMAGE                COMMAND                  CREATED        STATUS                  PORTS                                                                                                                     **NAMES**
c35e461f3e1f   powerdns-admin-dev   "entrypo

[2022-05-05 11:06] Nim1com commented on #1186
logs shows this all the time [2022-05-05 11:03:52,741] [server.py:60] ERROR - Can not get server statistics. DETAIL: HTTPConnectionPool(host='127.0.0.1', port=8081): Max retries exceeded with url: /api/v1/servers/localhost/statistics (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f1d363523d0>: Failed to establish a new connection: [Errno 111] Connection refused'))

[2022-05-05 11:07] Nim1com commented on #1186
yep on 400 it is
[2022-05-05 11:07:29,027] [domain.py:252] ERROR - Cannot add domain 0xnim.xyz. HTTPConnectionPool(host='127.0.0.1', port=8081): Max retries exceeded with url: /api/v1/servers/localhost/zones (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f1d36294460>: Failed to establish a new connection: [Errno 111] Connection refused'))

[2022-05-05 11:18] Nim1com commented on #1186
i cant connect to it but can curl locally

[2022-05-05 11:30] Nim1com commented on #1186
host

[2022-05-05 11:31] Nim1com commented on #1186
LOCAL:
[nim1com@TheIncinirator ~]$ curl -v -H 'X-API-Key: pa8J810Jia0' http://178.62.250.39:8081/api/v1/servers/localhost/zones/example.org | jq .
*   Trying 178.62.250.39:8081...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-

[2022-05-05 11:33] Nim1com commented on #1186
and curl -v -H 'X-API-Key: pa8J810Jia0' http://178.62.250.39:8081/api/v1/servers/localhost/zones/example.org | jq . on host returs same as local

[2022-05-05 11:34] Metrax commented on #1186
You have to give PDA the 178.62.250.39 (docker host ip?) for connecting.
With 127.0.0.1 you can not connect from container to the host.

[2022-05-05 11:34] hellEVIL-13 commented on #1181
I just took the update to the old one from a clean slate, the database was old because I didn’t want to lose the data, everything works, everything has been updated

[2022-05-05 11:35] Nim1com commented on #1186
?

[2022-05-05 11:38] jbe-dw commented on #1186
Hello,

What happens is that you are querying the loopback address of the host from the container, which has its own loopback. You need to ensure that PowerDNS webserver is listening on another host interface:

* does PowerDNS run on TheIncinirator machine ?
* does PowerDNS Admin Docker run on TheIncinirator machine ?
* is 178.62.250.39 the ip adress of TheIncinirator machine ?

If so please confi

[2022-05-05 11:39] Nim1com commented on #1186
TheIncinirator is my local machine
178.62.250.39  is host

[2022-05-05 11:40] Nim1com commented on #1186
changing the ip to 178.62.250.39  did not fix the 400 error

[2022-05-05 11:41] Nim1com commented on #1186
it seems i cannot connect to the api from other than localhost

[2022-05-05 11:41] Nim1com commented on #1186
]: [webserver] Listening for HTTP requests on 127.0.0.1:8081
how do i change that

[2022-05-05 11:43] jbe-dw commented on #1186
You need to configure PowerDNS webserver to bind on the external IP, by setting [webserver-address](https://doc.powerdns.com/authoritative/settings.html#webserver-address) to the host ip address (and restart the pdns service)

Then once you could be able to use curl on its ip address it should work from the container.

[2022-05-05 11:46] Nim1com commented on #1186
i thonk that broke it Webserver closing socket: remote (172.17.0.3) does not match the set ACL(178.62.250.39/32, ::1/128)

[2022-05-05 11:47] Nim1com commented on #1186
config:
#################################
# webserver-address     IP Address of webserver/API to listen on
#
webserver-address=178.62.250.39

#################################
# webserver-allow-from  Webserver/API access is only allowed from these subnets
#
webserver-allow-from=178.62.250.39,::1

[2022-05-05 11:49] Nim1com commented on #1186
okay removed the lowerone
progress:
curl: (56) Recv failure: Connection reset by peer

[2022-05-05 11:51] jbe-dw commented on #1186
Can you curl 178.62.250.39 from your machine ?

curl -v -H 'X-API-Key: pa8J810Jia0' http://178.62.250.39:8081/api/v1/servers/localhost/zones/example.org

[2022-05-05 15:11] jbe-dw commented on #1186
Either it is not listening, or you have a firewall somewhere

`sudo ss -tulpn | grep LISTEN` on the PowerDNS server should show you if it listens on 178.62.250.39:8081

[2022-05-05 19:29] Nim1com commented on #1186
yep
tcp     LISTEN   0        10         178.62.250.39:8081          0.0.0.0:*       users:(("pdns_server",pid=2134,fd=9))
tcp     LISTEN   0        128              0.0.0.0:53            0.0.0.0:*       users:(("pdns_server",pid=2134,fd=7))

[2022-05-05 19:31] Nim1com commented on #1186
uhh that last bit is a bit hard to understand but uhh like smth abt priv address and yes it has 1

[2022-05-05 19:34] Nim1com commented on #1186
changed to this
tcp     LISTEN   0        10            10.110.0.2:8081          0.0.0.0:*       users:(("pdns_server",pid=23612,fd=9))
tcp     LISTEN   0        128              0.0.0.0:53            0.0.0.0:*       users:(("pdns_server",pid=23612,fd=7))

[2022-05-05 19:37] Nim1com commented on #1186
from this to this
root@pageifyns:~# curl -v -H 'X-API-Key: pa8J810Jia0' http://10.110.0.2:8081/api/v1/servers/localhost/zones/ | jq .
*   Trying 10.110.0.2:8081...
* TCP_NODELAY set
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--

[2022-05-05 21:06] fangli opened #1187 "history.detail should be JSON encoded instead of str()"
https://github.com/PowerDNS-Admin/PowerDNS-Admin/blob/82f03a4de2f1ca54c678ea08e79d5a48f5b1a8cf/powerdnsadmin/routes/domain.py#L547

This issue leads to 500 internal server error in dashboard page.

[2022-05-06 08:02] jbe-dw commented on #1187
Related to #1181

[2022-05-06 08:03] jbe-dw commented on #1187
Hello,

Thanks for reporting, we're working on a patch to upgrade the db and fix the code.

Regards

[2022-05-06 08:23] jbe-dw commented on #1186
Better, but you have an empty reply, what do the PowerDNS logs tells ? (you should remove the trailing slash from the request url)

[2022-05-06 09:49] Nim1com commented on #1186
how do i check pdns logs?

[2022-05-06 12:19] Nim1com commented on #1186
May  6 00:00:05 pageifyns rsyslogd: [origin software="rsyslogd" swVersion="8.2001.0" x-pid="677" x-info="https://www.rsyslog.com"] rsyslogd was HUPed
May  6 00:00:05 pageifyns systemd[1]: logrotate.service: Succeeded.
May  6 00:00:05 pageifyns systemd[1]: Finished Rotate log files.
May  6 00:00:05 pageifyns systemd[1]: man-db.service: Succeeded.
May  6 00:00:05 pageifyns systemd[1]: Finished Daily

[2022-05-06 15:11] jbe-dw commented on #1187
Could you try #1182

[2022-05-06 15:20] jbe-dw commented on #395
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 15:20] #395 closed

[2022-05-06 15:22] jbe-dw commented on #415
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 15:22] #415 closed

[2022-05-06 15:23] jbe-dw commented on #415
@pcevela Yes but its priority should be evaluated later. For me it is a good idea.

[2022-05-06 15:25] jbe-dw commented on #431
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 15:25] #431 closed

[2022-05-06 15:29] jbe-dw commented on #438
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 15:29] #438 closed

[2022-05-06 15:30] #459 closed

[2022-05-06 15:31] jbe-dw commented on #489
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 15:35] jbe-dw commented on #495
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 15:35] #495 closed

[2022-05-06 15:38] jbe-dw commented on #518
Hello,

There is a lot of work involved here. The history get more detailed but storing changes is like having a full dump revision. I'll list it anyway but it will not happen any soon.

Regards

[2022-05-06 15:38] jbe-dw commented on #518
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 15:38] #518 closed

[2022-05-06 15:40] jbe-dw commented on #528
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 15:40] #528 closed

[2022-05-06 15:49] jbe-dw commented on #560
Hello,

Is the problem still present ?

Regards

[2022-05-06 15:51] jbe-dw commented on #566
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 15:51] #566 closed

[2022-05-06 15:52] jbe-dw commented on #523
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 15:52] #523 closed

[2022-05-06 15:58] jbe-dw commented on #627
Hello,

Can we close this issue ? What is the status about building RPMs ?

Regards

[2022-05-06 16:01] jbe-dw commented on #660
Related to #1171

[2022-05-06 16:04] jbe-dw commented on #660
@splog123 If this feature still interests you can you look at the PR and give a feedback on what is proposed.

Regards

[2022-05-06 16:04] jbe-dw commented on #628
#1171 Should fit your needs.

Regards

[2022-05-06 16:12] jbe-dw commented on #630
Hello,

I think we can close this discussion. If you still have trouble please reopen a new issue.

Regards

[2022-05-06 16:12] #630 closed

[2022-05-06 16:14] #692 closed

[2022-05-06 16:15] jbe-dw commented on #687
Same as #489

[2022-05-06 16:16] jbe-dw commented on #687
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 16:16] #687 closed

[2022-05-06 16:17] jbe-dw commented on #637
Same as #395

[2022-05-06 16:17] #637 closed

[2022-05-06 16:22] #745 closed

[2022-05-06 16:26] jbe-dw commented on #748
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 16:26] #748 closed

[2022-05-06 16:28] jbe-dw commented on #715
Hello, the code has been updated to reload the login page after 1h, because the CSRF token expired.

Do you still experience the issue ?

Regards

[2022-05-06 16:30] jbe-dw commented on #740
@vmarkop Can you take a look ?

[2022-05-06 20:49] jbe-dw commented on #718
Related #740

[2022-05-06 20:54] #726 closed

[2022-05-06 20:58] Nim1com commented on #1186
what else can i try?

[2022-05-06 21:01] jbe-dw commented on #729
I can see that you have a lot of ideas to improve PDA.

[2022-05-06 21:02] jbe-dw commented on #729
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 21:02] #729 closed

[2022-05-06 21:09] jbe-dw commented on #716
Hello

@terbolous As explained, there is currently only a setting for adding custom CSS. There are other requests to customize Logo and Title, and, we duly note those many requests and will add it for sure in the roadmap.

@mchlrv I know it has been 1 year but here we are: You can set the filename in the custom_css fields in Basic Settings, and add the configured filename into powerdnsadmin/static

[2022-05-06 21:09] #716 closed

[2022-05-06 21:12] jbe-dw commented on #694
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 21:12] #694 closed

[2022-05-06 21:15] jbe-dw commented on #654
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. This is not quite a Feature Request, but it will be listed as one in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 21:15] #654 closed

[2022-05-06 21:16] #634 closed

[2022-05-06 21:26] jbe-dw commented on #636
Hello there,

What happens in PowerDNS Admin when you edit a domain through the gui:

- Its content is fetched from PDNS API an rendered in the table
- When you click on apply button the table content is converted to an update API request

Adding a CNAME via PDA API just forwards the request to PDNS that requires fqdn with the trailing dot.

What can be added easily is an automatic domain expansio

[2022-05-06 21:26] #636 closed

[2022-05-06 21:27] #653 closed

[2022-05-06 21:43] jbe-dw commented on #635
@keesbos I've not checked the migration scripts but it looks to me that it hasn't been fixed. Can you confirm ?

[2022-05-06 21:46] jbe-dw commented on #641
We have a huge work on Documentation coming. We will make it clearer than what it is now (it may be better than 2y ago now but still lacks hell of a lot).

Regards

[2022-05-06 21:46] jbe-dw commented on #743
Hello,

Does it still occur ?

Regards

[2022-05-06 21:47] jbe-dw commented on #740
#1002 should do what you expected. If so, please wait that it get merged.

Regards

[2022-05-06 21:51] jbe-dw commented on #718
Hello,

The OIDC account provisioning has been implemented.

Regards

[2022-05-06 21:52] jbe-dw commented on #707
Hello,

Does this still happends ?

Regards

[2022-05-06 21:56] jbe-dw commented on #701
Hello,

Currently it works with LDAPS. We can change this to a feature Request to allow StartTLS.

Regards

[2022-05-06 21:57] jbe-dw commented on #701
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 21:57] #701 closed

[2022-05-06 21:59] jbe-dw commented on #695
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 21:59] #695 closed

[2022-05-06 21:59] #1170 closed

[2022-05-06 22:02] jbe-dw commented on #730
This is a good idea. It may require to store them in the db, I have to check.

[2022-05-06 22:04] jbe-dw commented on #730
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 22:06] jbe-dw commented on #791
Duplicate of #489
Already referenced in #1178

[2022-05-06 22:06] #791 closed

[2022-05-06 22:08] jbe-dw commented on #781
Hello,

This will be supported by #1171

[2022-05-06 22:09] jbe-dw commented on #781
#1099

[2022-05-06 22:09] #781 closed

[2022-05-06 22:10] jbe-dw commented on #780
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 22:10] #780 closed

[2022-05-06 22:13] jbe-dw commented on #848
Hello,

We have a plan to implement such things later. A configuration endpoint, and at least another one to create the initial admin.
I'm not quite sure if we want to allow the API Key for all endpoints (/powerdnsadmin) but we will decide it then.

Regards

[2022-05-06 22:15] jbe-dw commented on #848
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-06 22:15] #848 closed

[2022-05-06 22:17] jbe-dw commented on #847
Hello,

With the latest version (master, maybe 0.2.4), users can list their zones via the /server/../zones endpoint.

Regards

[2022-05-06 22:17] #847 closed

[2022-05-06 22:17] jbe-dw commented on #840
duplicate of #1168

[2022-05-06 22:17] #840 closed

[2022-05-06 22:25] jbe-dw commented on #955
Supported in #1171

[2022-05-06 22:29] #917 closed

[2022-05-06 22:36] jbe-dw commented on #1186
You can get help on PowerDNS IRC channel to configure your system for correct logging and interface binding.

Once it will be configured, and you can query the PowerDNS API via it's ip address correctly, we can continue this discussion.

Regards

[2022-05-07 04:35] a1d3s commented on #743
Will have a Look at monday. After so long time i forgot this request

[2022-05-07 07:39] vmarkop commented on #740
Hello. Indeed, role/account automatic mapping on login is handled by PR #1002.

Thank you

[2022-05-07 11:35] jbe-dw commented on #782
@the-missing-pink Maybe you could help @RGanor with #1173 ?

The new maintainer team is not well versed in UI things.

[2022-05-07 11:42] jbe-dw commented on #778
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-07 11:42] #778 closed

[2022-05-07 11:45] jbe-dw commented on #770
The option for disable records exists now, however it could be more visual. I take not for this as well

[2022-05-07 11:45] jbe-dw commented on #770
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-07 11:45] #770 closed

[2022-05-07 11:46] jbe-dw commented on #769
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-07 11:46] #769 closed

[2022-05-07 11:47] jbe-dw commented on #767
Good idea, we keep track.

[2022-05-07 11:47] jbe-dw commented on #767
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-07 11:47] #767 closed

[2022-05-07 11:49] jbe-dw commented on #764
This is fixed in current version. See #1118

[2022-05-07 11:49] #764 closed

[2022-05-07 11:53] jbe-dw commented on #757
Hello @TheKingOfChaos

Sorry for the late answer, staff has changed and we're cleaning the tracker. I know that document improvments are still needed, so to be short here: The PDA API to manage content just forwards to PowerDNS API. Please look at the PowerDNS documentation.

Basically the records should be sent in a RRSET dict with the name, type and value (which is a list of strings). For a doma

[2022-05-07 11:53] #757 closed

[2022-05-07 11:55] jbe-dw commented on #758
Hello,

We know we still have to work on this, and we plan to work on a current v1 as it is now, with bug fixed, but no many library update. Once we will have this released, we will put efforts in a fresh v2, including code refactoring and library updates.

I'm closing the issue.

Regards

[2022-05-07 11:55] #758 closed

[2022-05-07 11:56] jbe-dw commented on #753
Hello,

It has been refactored since. Please open a new issue if you still encounter problem using Active Directory.

Regards

[2022-05-07 11:56] #753 closed

[2022-05-07 11:58] jbe-dw commented on #732
Hello,

This should work as intended now.

Regards

[2022-05-07 11:58] jbe-dw commented on #732
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-07 11:58] #732 closed

[2022-05-08 04:52] RGanor commented on #782
Hey @the-missing-pink, i started working on updating those, but as @jbe-dw said we are not really an UI experts and it giving me some problem.
I’ll be greateful for any help in #1170

[2022-05-08 14:35] vmarkop commented on #663
Hello,

Is this problem still present in the latest version?

Thank you.

[2022-05-08 14:37] vmarkop commented on #662
Hello,

are you still running into this problem?

A SAML Configuration UI Update (#1082) is on the way, including minor bugfixes. If this issue is still relevant, a fix can be included in this upcoming update, otherwise it can be closed.

[2022-05-08 14:45] vmarkop commented on #727
Hello,

are you still running into this problem?

If not, it can be closed.

Thank you.

[2022-05-09 14:00] jbe-dw commented on #908
Hello,

We are doing some cleanup, i'll get a look at this later.

Regards

[2022-05-09 14:04] jbe-dw commented on #667
Hello

Sorry for the late answer, the team has changed. Today users are member of accounts. We have no obligation to set an account to a zone, and don't have such option to put a default.

This could be an option in a future release if it is requested.

Regards

[2022-05-09 14:06] jbe-dw commented on #667
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-09 14:06] #667 closed

[2022-05-09 14:29] jbe-dw commented on #957
Hello,

Do you still have the bug with the 0.2.4 release ?

Regards

[2022-05-09 14:40] jbe-dw commented on #640
Hello,

The auto ptr option is not in the best practices, however it is here,  maybe poorly implemented. It is nearly impossible to have a fine grain control, unless we manage per record ptr creation.

The software creates the zone, but has no clue about a clean config. We may want to add default templates for reverse zones to have a functionnal zone.

If you want to check all PTR in a large zone,

[2022-05-09 14:41] jbe-dw commented on #640
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-09 15:39] jbe-dw commented on #903
Hello,

We put a reload on the login page since to avoid 403 due to expired CSRF token.

Regards

[2022-05-09 15:39] #903 closed

[2022-05-09 15:40] #885 closed

[2022-05-09 15:41] jbe-dw commented on #876
We have a lot of work regarding this autoptr option for a future release. I'm closing

[2022-05-09 15:41] #876 closed

[2022-05-09 15:43] jbe-dw commented on #873
Hello,

The accounts available in the list should now be the ones the user is beloging to.

Can you confirm ?

Regards

[2022-05-09 15:46] jbe-dw commented on #866
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-09 15:46] #866 closed

[2022-05-10 05:24] a1d3s commented on #743
ok now i had a look and the "error" persist.
yesterday i install a new pdns and pdns-admin (docker:latest) , same thing
but i think you can get it a low prio :)

[2022-05-10 07:36] jbe-dw commented on #743
I'm not sure that the docker container is up to date, i still don't have time to dive in docker stuff.

Thanks for the feedback.

[2022-05-10 08:40] a1d3s commented on #743
your bug #1181 is in the docker latest version  included ;)

[2022-05-10 19:43] jbe-dw commented on #765
Sorry you didn't get an answer before.

Updating on classic install is mainly updating the code and run "flask db upgrade" in the flask virtualenv.

Regards

[2022-05-10 19:43] #765 closed

[2022-05-10 19:45] jbe-dw commented on #751
Hello,

This behaviour is being fixed. See #1160 and #1182

Regards

[2022-05-10 19:45] #751 closed

[2022-05-10 19:47] jbe-dw commented on #744
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-10 19:47] #744 closed

[2022-05-10 19:48] jbe-dw commented on #741
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. #92 is listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-10 19:48] #741 closed

[2022-05-10 19:56] jbe-dw commented on #719
Hello,

You can use docker instead. To give a short answer:

- snap is natively available on ubuntu. It can be used on debian but it is not adopted, so targeting snap is not matching most of the audience
- packaging is not quite hard, but is not as easy as doing a zipfile. Considering it includes a virtualenv with many libraries (python, npm), it is not straightforward.
- packaging python and npm

[2022-05-10 19:58] jbe-dw commented on #719
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-10 19:58] #719 closed

[2022-05-10 20:07] jbe-dw commented on #710
Hello,

While this could be an option, we have to figure out if it does what you would like first. Reading the conversation, none of you does.

@sshipway if you still would like to reduce notification delay, you could start by running a simple test:

- live display detailed logs of PDNS or run a tcpdump on slaves
- Do a simple change directly via PDNS API (like changing a tll or a record content)

[2022-05-10 20:08] jbe-dw commented on #836
Duplicate of #528

[2022-05-10 20:12] jbe-dw commented on #832
Hello,

It is going to happen soon in #1171

Thanks for the request. I'm closing this stale issue.

[2022-05-10 20:12] #832 closed

[2022-05-10 20:16] jbe-dw commented on #831
Hello,

It should be possible, you just need to test on a new install with adding python sqlalchemy-cockroachdb to the virtualenv and run the `flask db upgrade` and check wether the app works or not.

Please give us a feedback if you are still interested.

Regards

[2022-05-10 20:18] jbe-dw commented on #820
Related to #1116

[2022-05-10 20:48] jbe-dw commented on #899
Thanks @LukaszMoskala we will update the docs

[2022-05-10 20:51] #875 closed

[2022-05-11 01:10] alsyundawy opened #1190 "Bash Script Auto Installer"
hallo

thx for nice project, but can i req script auto installer on linux system with or without docker ?

[2022-05-11 08:20] jbe-dw commented on #1190
Hello,

You have some sample docker-compose scripts to startup with. We don't have a bash script but you can easily make one from the [docker build files](https://github.com/PowerDNS-Admin/PowerDNS-Admin/tree/master/docker).

We have not discussed about easier ways to deploy yet. I note it for later.

Regards

[2022-05-11 13:44] alsyundawy commented on #1190
i have successfully  install without docker on debian 11, its posible make script base on my history ?

[2022-05-11 13:52] Metrax commented on #1190
My personal opinion on this: I think such a script should not be added to the code, due to a lot of different setups, f.e. different distributions, different database setups, aso. If you put this script to the code, you have to add options for a lot of different setups and maintain it, which results in a lot of work. I think such a script would have a good place in the wiki, with an exactly descri

[2022-05-11 21:11] tkorves opened #1191 "Error 500 on /dashboard/ | Docker (docker-compose)"
``Hi there,

I ran (as a test pre-migrating) PowerDNS-Admin with docker-compose against the same DB we're using with a locally "installed" git clone of PowerDNS-Admin.

Login is possible, same API-Key and Hash are used with docker-compose like we use it in our "installed" PowerDNS-Admin.

But on /dashboard/ it greets us with a 500 Error.

docker-compose logs -f has this for us:
`powerdns_admin  |

[2022-05-11 21:15] tkorves commented on #1191
Magically, without changing anything, it now is functional, no further errors. Sorry for disturbing. :-D

[2022-05-11 21:15] #1191 closed

[2022-05-12 20:47] #628 closed

[2022-05-12 20:50] jbe-dw commented on #629
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-12 20:50] #629 closed

[2022-05-12 21:01] #682 closed

[2022-05-12 21:14] jbe-dw commented on #696
Hello @vsulin

Thank you for the feedback. We use it in my enterprise and mainly because of the terraform provider behavior we chose to disable SOA editing in PDA and configure PowerDNS with automatic SOA creation. We are limited for unique TTL setting, which is fine for our setup.

There is no easy solution for this, and as you pointed out there better be a lock mechanism. I may not recall  corre

[2022-05-12 21:30] jbe-dw commented on #708
Hello,

This occurs because the zone is created in two steps, the zone, then the records. Adding invalid txt records indeed fails.

We should focus on syntax validation, in both edition and templates, to prevent these behaviours.

[2022-05-12 21:38] jbe-dw commented on #750
Hello,

Sadly the auto_ptr feature is not complete. It is not possible to make it happen, because your slaves must be autosecondary in it relies on the zone NS record.

This bug is known and we will decide later to improve it or drop support.

Regards

[2022-05-12 21:38] #750 closed

[2022-05-12 21:41] jbe-dw commented on #779
The global setting enables it on every domain. If toggled off, the auto_ptr feature could be enabled per domain.

Regards

[2022-05-12 21:41] #779 closed

[2022-05-12 21:46] jbe-dw commented on #635
Related #787

[2022-05-12 22:04] #792 closed

[2022-05-12 22:06] jbe-dw commented on #830
Hello,

Do you still experience that kind of issue with recent release ?

Regards

[2022-05-12 22:11] jbe-dw commented on #835
Hello,

You must enable "URI" type in "Settings > Records".

Regards

[2022-05-12 22:11] #835 closed

[2022-05-13 12:26] Metrax commented on #782
@RGanor i would help, but i have only limited time (some hours per week). I've started on my local dev to adapt the header and menu.

[2022-05-13 12:36] #973 closed

[2022-05-13 15:28] jbe-dw commented on #987
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-13 15:28] #987 closed

[2022-05-15 00:53] ntinti opened #1192 "TypeError: list indices must be integers or slices, not str"
Don't know why, but after upgrading from python 3.6 to 3.8 and newest powerdns-admin master I can't edit any existing domain anymore. "TypeError: list indices must be integers or slices, not str"
Something in the settings functions "get_records_allow_to_edit" and "get_forward_records_allow_to_edit" seems to get wrong.

[code]

[2022-05-15 01:55] #1187 closed, assigned to jbe-dw

[2022-05-15 19:22] jbe-dw commented on #969
Hello,

I've run the [setup for CentOS 7](https://github.com/PowerDNS-Admin/PowerDNS-Admin/wiki/Running-PowerDNS-Admin-on-Centos-7) inside a CentOS 8 container successfully.

Regards

[2022-05-15 19:23] jbe-dw commented on #969
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 19:23] #969 closed

[2022-05-15 19:37] jbe-dw commented on #1192
Hello,

It looks like your setting is not returning a list. Can you add these line just before L300:
`current_app.logger.debug("{} => {}".format(records, f_records))`

and paste the content of the debug output here (just relevant lines, like the one crashing and one or two before) ? (it will be logged just before the stack trace)

Regards

[2022-05-15 19:46] jbe-dw commented on #905
Hello @wdoekes,

Thank you for sharing your chart. To be honest we currently have zero skills in kubernetes in the team. Do you allow us to link your github in our doc for the moment ?

Would you help us later to design our stack later ?

Regards

[2022-05-15 19:59] jbe-dw commented on #901
Hello,

Thanks, and sorry for the late answer. I will add this request to the pending list and close the issue, but before, I'd like to clear the request.

You want to add a toggle setting to enable a "help" button on each page type (domain, api keys, users, etc ...) that would redirect the user on a help page with detailed instructions ? And the link should live on the same host than PDA but with

[2022-05-15 19:59] jbe-dw commented on #893
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 19:59] #893 closed

[2022-05-15 20:01] jbe-dw commented on #897
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 20:01] #897 closed

[2022-05-15 20:01] jbe-dw commented on #838
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 20:01] #838 closed

[2022-05-15 20:02] jbe-dw commented on #834
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 20:02] #834 closed

[2022-05-15 20:03] jbe-dw commented on #842
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 20:03] #842 closed

[2022-05-15 20:03] jbe-dw commented on #853
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 20:03] #853 closed

[2022-05-15 20:05] jbe-dw commented on #854
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 20:05] #854 closed

[2022-05-15 20:06] jbe-dw commented on #799
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 20:06] #799 closed

[2022-05-15 20:10] jbe-dw commented on #790
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 20:10] #790 closed

[2022-05-15 20:11] jbe-dw commented on #788
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 20:11] #788 closed

[2022-05-15 20:11] #731 closed

[2022-05-15 20:12] #660 closed

[2022-05-15 20:13] jbe-dw commented on #795
Hello,

Could you resolve your issue since you asked ?

Regards

[2022-05-15 20:14] jbe-dw commented on #802
Hello,

This has been fixed since by adding an automatic reload timeout on the login page.

Regards

[2022-05-15 20:14] #802 closed

[2022-05-15 20:15] jbe-dw commented on #807
Hello,

Since you're using pschiffe setup, you should open an issue there.

Regards

[2022-05-15 20:15] #807 closed

[2022-05-15 20:18] jbe-dw commented on #811
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. You should seek for help with PowerDNS IRC chatroom.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 20:18] #811 closed

[2022-05-15 20:19] jbe-dw commented on #816
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 20:19] #816 closed

[2022-05-15 20:23] jbe-dw commented on #914
Hello,

PDA is managing PowerDNS via its API, regardless of which backend is used. You have to enable PDNS API and configure PDA with url dans API Key.

The instructions are about the PDA database that must either be sqlite, mysql or postgresl.

Regards

[2022-05-15 20:23] #914 closed

[2022-05-15 20:23] #921 closed

[2022-05-15 20:26] jbe-dw commented on #934
Hello,

We plan to add further configuration through API and something to init the APP. We have no roadmap as the maintaining team is not heavily staffed.

Regards

[2022-05-15 20:26] #934 closed

[2022-05-15 20:26] #955 closed

[2022-05-15 20:28] jbe-dw commented on #926
Hello,

This is something that will be added later, but for now it is the correct behavior.

Regards

[2022-05-15 20:28] #926 closed

[2022-05-15 20:30] jbe-dw commented on #918
Hello,

This is not a feature that is likely to be added later. If one day this project grows with many adopters needing this and more staff, it could be. But with resources available today it won't happen.

Regards

[2022-05-15 20:30] #918 closed

[2022-05-15 20:30] jbe-dw commented on #925
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 20:30] #925 closed

[2022-05-15 20:33] jbe-dw commented on #932
Hello,

This is a question that is asked many times. It involves global knowledge in system administration that users should have before trying to mix containers and hosted apps setup.

We will put some efforts to write a guide to cover this use case later.

Regards

[2022-05-15 20:34] #948 closed

[2022-05-15 20:35] #999 closed

[2022-05-15 20:36] jbe-dw commented on #995
Hello,

We will check sooner or later the documentation.

Thanks for the feedback.

[2022-05-15 20:37] #1005 closed

[2022-05-15 20:38] jbe-dw commented on #991
Hello,

I'm changing this issue to a feature request. I think it is not included yet.

[2022-05-15 20:39] jbe-dw commented on #991
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 20:39] #991 closed

[2022-05-15 20:40] jbe-dw commented on #982
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Feel free to open a new issue later if you still encounter this problem.

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-15 20:40] #982 closed

[2022-05-15 20:43] jbe-dw commented on #1088
Hello,

Thanks for the feedback. The team should discuss this to decide if it is relevant or not.

Regards

[2022-05-16 07:23] wdoekes commented on #905
Hi @jbe-dw,

I don't have experience with Helm myself, but my colleague @Urth (Harm: care to elaborate?) used a slightly extended version of that chart on our K8S.

k8s-at-home is not ours. But I'm sure they'll let you link to their docs/repo.

I'm open to requests to take a peek when the need arises.

[2022-05-16 11:13] jbe-dw commented on #707
No answer within 10d, closing.

[2022-05-16 11:13] #707 closed

[2022-05-16 11:15] #627 closed

[2022-05-16 13:45] falz commented on #901
I am envisioning a 'help' button that links to a configureable URL that will give help on that specific page.

Perhaps configure the tld

`helpurlbase = 'help.myorg.com/dns/'`

So, if you are at `/domain/` powerdns-admin page, the help page may link to helpbaseurl + '/domain/' ending up as help.myorg.com/dns/domain/

Unsure if it needs to be this configureable, or just have a help link that persis

[2022-05-16 15:46] falz opened #1193 "Email confirmation has unchangeable link to localhost:9191"
The confirmation email email template at **templates/emails/account_verification.html** uses the **site_url** variable which doesn't appear to be configureable (also mentioned in issue https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/866). Because of this, the bottom part of the email always links to localhost:9191 as that's what's hard coded in **models/settings.py**

We've temporarily wor

[2022-05-16 20:12] jbe-dw commented on #1193
Hello,

Until we make it configurable, there is no better workaround.

Regards

[2022-05-16 20:12] #1181 closed

[2022-05-16 20:24] jbe-dw commented on #1011
Fixed with #1118

[2022-05-16 20:24] #1011 closed

[2022-05-16 20:29] jbe-dw commented on #1009
Hello,

There is no coded limit about # of records, it is probably a limitation on the Javascript code used to display the tables and do pagination.

We can look further if you still have the issue.

Regards

[2022-05-16 20:30] jbe-dw commented on #1001
I'm afraid it was not.

[2022-05-16 20:43] dmgeurts commented on #1034
I resolved the issue with some manual editing:

`/var/www/html/pdns/powerdnsadmin/templates/base.html` I changed the class to 'skin-red'

[code]

For me, this was enough to identify this server as different from the other pdns-admin server. I actually also edited the CSS to hide IPv6 and reverse zones as they're irrelevant for this secondary server and would only confuse the guys using the server

[2022-05-16 20:43] #1034 closed

[2022-05-16 22:21] jbe-dw commented on #831
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-16 22:21] #831 closed

[2022-05-16 22:23] jbe-dw commented on #822
Hello,

Do you still experience this bug ?

Regards

[2022-05-16 22:28] jbe-dw commented on #808
Hello,

Is your request about being able to enter hexadecimal format in the GUI and let PDA convert it to the requested format automatically ?

Regards

[2022-05-16 22:33] jbe-dw commented on #794
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-16 22:33] #794 closed

[2022-05-16 22:37] jbe-dw commented on #851
Hello,

I will do some checks about that later. Sorry for the delay, the team has changed and we will try to answer all questions even if it should still be delayed.

Regards

[2022-05-16 22:44] jbe-dw commented on #911
Hello,

Thank you for the feedback. We will look into this once we will have reduced the ticket queue.

Regards

[2022-05-16 22:48] jbe-dw commented on #956
Hello,

Can you update this talk since you have pushed many PR related to this. If it became irrelevant because everything is coded you can close the issue.

Regards

[2022-05-17 08:06] zoeller-freinet commented on #1001
Not by me, sorry – I quit my maintainer role in February after informing Khanh and RGanor because my situation changed and the time I could allot to PowerDNS-Admin unfortunately went from ~3h/week to basically none (see also https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1032#issuecomment-1049103506). I encourage the current team of collaborators to look into this issue.

[2022-05-17 08:20] RGanor opened #1194 "Create domain - 400 please use valid account"
When you create a domain without any account in the system, you get an error:
[code]
Working to identify the issue and fix it.

[2022-05-17 10:36] KostasMparmparousis commented on #956
Hello @jbe-dw

You make a fair point and I will indeed close this issue. However, I would appreciate it if issue #1085 were to remain open (since it's thematically relevant), at least until a decision has been made in regards to PR [#1002](https://github.com/PowerDNS-Admin/PowerDNS-Admin/pull/1002) , PR #1083 and PR #1084, that are still pending.

[2022-05-17 10:36] #956 closed

[2022-05-17 12:50] #1176 closed

[2022-05-17 13:16] jbe-dw commented on #935
Hello,

Are you still able to reproduce ?

Thank you

[2022-05-17 21:14] jbe-dw commented on #958
Hello,

Since PDA does not store records in its DB, this is not even possible. We already discovered that records account information is deleted by PDA and we will provide a fix to, at least, not erase the information when submitting records. It only manages the domains <> account association.

We don't plan to manage record's account association in PDA in near future.

Regards

[2022-05-17 21:15] jbe-dw commented on #922
Hello,

Have you been able to fix your issue since ?

Regards

[2022-05-17 21:20] jbe-dw commented on #959
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-17 21:20] #959 closed

[2022-05-17 21:22] jbe-dw commented on #963
Hello,

This bug is still present, because we don't do record input validation and the template is applied in two steps (create domain then insert records).

Regards

[2022-05-17 21:25] jbe-dw commented on #961
This could be part of #395

[2022-05-17 21:25] jbe-dw commented on #961
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. Mentioned request #395 is already listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-17 21:25] #961 closed

[2022-05-17 21:27] jbe-dw commented on #1015
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-05-17 21:27] #1015 closed

[2022-05-17 21:36] jbe-dw commented on #1142
Sorry for the lack of follow up, our organization still needs improvment.

PDA does not do this check. But as I said we have not decided yet what to do with this function. There is a lot of issues arround it and we want to take the best decision about what it will be (or won't).

Regards.

[2022-05-17 21:38] PauloHeaven commented on #822
Hello,

Yes, I still do

[2022-05-17 21:41] jbe-dw commented on #822
Nice to hear from you. We'll take a look into this then. There may be some delay as we don't have enough free time to clear a huge backlog in time.

[2022-05-17 21:44] helmut72 commented on #922
Sorry, no. But I don't have wasted much time since then.

[2022-05-18 09:55] mastermueller opened #1196 "LDAP Auth not working although DC says Login successful"
Hi!
I have a problem with the newest docker image.
Previously we all logged in with LDAP.
Updated to the docker image from today (May 18 2022) -> cannot login with LDAP (Active Directory)
I can see the event id 4624 on my DC - successful login.
But powerdns says "User authentication failed".

I'll be happy to provide more info when needed.

Thank you!

[2022-05-18 15:55] elheme opened #1197 "bad request cannot add this domain help Plz"
i have this error help plz
cannot add this domain
![image](https://user-images.githubusercontent.com/105807219/169087626-e9e59d8a-8f59-4c84-b1dd-c45287773465.png)

[2022-05-19 00:39] insanemal opened #1202 "Authentication using Group security fails with OpenLDAP due to malformed query string"
Running latest PowerDNS-Admin in docker
LDAP authentication enabled as well as Group Security
I couldn't get it to work even tho users were in the correct group
Turned on debug level logging and found the issue

[code]
This search filter ` (&(memberUid=uid=insanemal,ou=people,dc=onsite,dc=local)(objectClass=posixGroup))` returns nothing. I tested it with ldapsearch. It looks like it's generating i

[2022-05-19 08:16] Metrax commented on #1197
Please have a look to the PDA logs and show us the correspoding error.

[2022-05-19 12:01] jbe-dw commented on #1196
Hello,

Can you check at docker logs if something is logged ?

Regards

[2022-05-20 16:35] pixelrebel commented on #1099
I would love a read-only role so we can share the zones as sort of an IPAM.  I don't see much value in separating edit and delete permissions, considering the same damage can be done with edit-only.  Just my 2¢.

[2022-05-21 08:56] elheme commented on #1197
Le jeu. 19 mai 2022 à 10:17, Metrax ***@***.***> a écrit :

[2022-05-23 07:51] Metrax commented on #1197
@elheme unfortunately, your reply includes no information. Please show us the logs, than we can try to help you.

[2022-05-23 09:43] mastermueller commented on #1196
[code]

DC says login successful:
![image](https://user-images.githubusercontent.com/99167007/169791814-c87ab726-e167-4947-92b9-120349a0fb5a.png)

Before the update the search filter worked, now it does not...

![image](https://user-images.githubusercontent.com/99167007/169791031-0b575c93-d3c2-4b3e-8c4a-e74b4b324d17.png)

[2022-05-23 11:59] #1086 closed

[2022-05-23 13:05] elheme commented on #1197
I don't have a pdns.log
in pda i don't have any error

Le lun. 23 mai 2022 à 09:51, Metrax ***@***.***> a écrit :

[2022-05-23 13:11] jbe-dw commented on #1196
Can you tell use which version of AD do you run ?

[2022-05-23 13:16] mastermueller commented on #1196
It is a Windows Server 2012R2

![image](https://user-images.githubusercontent.com/99167007/169827879-693ddbac-7374-4599-994d-11363768cc9e.png)

[2022-05-23 21:54] #1177 closed

[2022-05-23 21:55] #1169 closed

[2022-05-23 21:56] jbe-dw commented on #1156
it is. I close

[2022-05-23 21:56] #1156 closed

[2022-05-23 21:57] #1151 closed

[2022-05-23 21:57] #1145 closed

[2022-05-23 22:00] jbe-dw opened #1207 "Announcement: Looking for a Frontend developper"
Hello,

We strongly need some help on the frontend side. We currently have very limited skills in JS technologies, which limit us from moving the project forward.

A good starting point could be an upgrade of used libraries.

If any of you has skills in this domain, please let us know.

Regards
PowerDNS Admin Team

[2022-05-23 22:06] #1023 closed

[2022-05-23 22:12] jbe-dw commented on #908
Hello,

Looking at this issues it happens that the error is from PowerDNS database itself. PowerDNS Admin has functions that check on TXT format in the UI. It then transmits to the PowerDNS API who declines the update if the record format does not comply.

If you think that the check in the UI are not sufficient, please open a new issue.

Regards

[2022-05-23 22:12] #908 closed

[2022-05-23 22:14] jbe-dw commented on #888
Running PDA from vscode with mariadb in docker has the same issue.

[2022-05-23 22:14] #830 closed

[2022-05-23 22:17] #727 closed

[2022-05-23 22:20] #849 closed

[2022-05-23 22:21] #904 closed

[2022-05-23 22:24] jbe-dw commented on #1095
I'm closing this, you can check later if someone worked on it or propose a PR.

Regards

[2022-05-23 22:24] #1095 closed

[2022-05-24 08:03] Metrax commented on #1197
@elheme Are you using docker or systemd for PDA?

[2022-05-24 08:11] vmarkop commented on #662
Closing this stale issue. Remember that PRs #1189 and #1203 include SAML bugfixes. If this problem persists, do not hesitate to open a new Issue.

Thank you.

[2022-05-24 08:11] #662 closed

[2022-05-24 08:14] vmarkop commented on #1194
Hello,

this is the intended behaviour that was brought by PR #970.

Whether this is still aligned with our future plans is still in debate. For now, however, all Users must belong to an account in order to create a Domain.

Thank you.

[2022-05-24 08:48] vmarkop commented on #1099
Hello @pixelrebel,

Indeed, a read-only role can be created with this feature in its current state, as published in PR #1171.

You can create a Custom Role, toggle the options
'Allow to view and edit all domains for this role' and optionally
'Allow History access for this role',
and select Read-only access to all Records on the right, as so:

![Custom Roles img](https://user-images.githubuserconte

[2022-05-24 09:23] mastermueller commented on #1196
Sure, but I'm not exactly sure how.

BTW: When i untick the "Group Security" checkbox, the login works fine. Since we only have 3 users, it is ok for us to not use this feature.

[2022-05-24 09:52] jbe-dw commented on #1196
Wrong answer, the change was merged because it is supposed to work with all platforms. The solution is to check wether it is your setup or the functionality and propose a fix.

You can check by running ldapsearch commands from a linux box:

`ldapsearch -H ldaps://your.ad -D "cn=admin,dc=yourcompany,dc=local" -W "(memberOf:1.2.840.113556.1.4.1941:=ADMIN_GROUP_DN)"`

You have to change the server Ad

[2022-05-24 09:57] jbe-dw commented on #1196
Checking at the code it may not work if you are in the User group.

Are you able to log in with an account in RES-DNS-Admins ?

[2022-05-24 10:20] mastermueller commented on #1196
`ldapsearch -H ldap://10.250.1.21:389 -D "CN=Adminuser,OU=users,OU=XXXXX.local,DC=XXXXX,DC=local" -W "(memberOf:1.2.840.113556.1.4.1941:=CN=RES-DNS-Admins,OU=groups,OU=XXXXX.local,DC=XXXXX,DC=local)"`
returns:
[code]

When I enter a wrong password, I get "Invalid credentials", so it seems to accept my "-D" CN.

This is the group RES-DNS-Admins with 2 users:
![image](https://user-images.githubuserc

[2022-05-24 11:35] mastermueller commented on #1196
When I add the base dn as you suggested, it seems to work!

[code]

[2022-05-24 11:41] jbe-dw opened #1208 "Ldap Authentication validation bug"
Filling the Active Directory page does not enable the "save" button.

I had to switch back to LDAP, file in all fields, click save, the group filters are requested even if i say no (toggle on and off solves it), then save, and switch back to Active Directory

[2022-05-24 11:43] jbe-dw commented on #1196
Ok this indicates that indeed your AD answers the query if it is formatted correctly.

I'll look at the code again this week, the filter is probably faulty.

Regards

[2022-05-24 11:49] mastermueller commented on #1196
That sounds great, thank you! 👍 🥇

[2022-05-24 11:53] jbe-dw commented on #1196
I can confirm it is broken. The filter is not ok.

[2022-05-24 12:19] #1196 closed

[2022-05-24 12:21] jbe-dw commented on #1196
Please pull the newer version once it is published later this afternoon and confirm it is fixed.

Regards

[2022-05-24 13:31] mastermueller commented on #1196
Just pulled the new docker container, LDAP auth with group security works like a charm now!

Thank you!! 👍 🥇

[2022-05-24 21:04] jbe-dw commented on #1208
The javascript needs to be checked carefully to have correct toggles of required fields, at least in LDAP Authentication

[2022-05-25 18:13] bvdheuvel opened #1210 "alembic fails on postgres for migrations/versions/3f76448bb6de_add_user_confirmed_column.py"
Hello,

This update fails on postgres, stating that there are null values in the table.
The following diff fixes it:

diff --git a/migrations/versions/3f76448bb6de_add_user_confirmed_column.py b/migrations/versions/3f76448bb6de_add_user_confirmed_column.py
index d1b6d29..3383625 100644
--- a/migrations/versions/3f76448bb6de_add_user_confirmed_column.py
+++ b/migrations/versions/3f76448bb6de_add_us

[2022-05-25 21:49] jbe-dw commented on #1210
Hello,

Can you tell us which version of postgres is concerned ?

Regards

[2022-05-25 23:29] bvdheuvel commented on #1210
This was version 13 on debian 11Regards,Bas van den HeuvelOp 25 mei 2022 23:49 schreef jbe-dw ***@***.***>:
Hello,
Can you tell us which version of postgres is concerned ?
Regards

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-05-27 13:42] jbe-dw commented on #1210
Looking at the code is not the proper way to do it, we should format the table to be compatible with every supported db. This patch manually changes the type to set it back to what it is supposed to be.

[2022-05-28 15:35] rtoenniges commented on #554
Samle Problem with Keycloak 18.0.0

`May 28 17:27:01 gunicorn[1886]:   File "/opt/web/powerdns-admin/powerdnsadmin/routes/index.py", line 369, in login
May 28 17:27:01  gunicorn[1886]:     oidc_username = me[Setting().get('oidc_oauth_username')]
May 28 17:27:01 gunicorn[1886]: KeyError: 'preferred_username'`

preferred_username is defintily mapped and for testing username is also mapped but nothin

[2022-05-28 23:46] AzorianSolutions commented on #1207
What is the real long-term vision here for the app? If you recall, I had previous started a discussion about a potential overhaul of the app in this respect. Of course, my proposal did involve a more complicated implementation but I'm not so sure you truly get one without the other.

My vote is toward a Vue based app as the latest generation of design with components is pretty snazzy for code orga

[2022-05-28 23:50] AzorianSolutions commented on #1190
@Metrax while I generally agree with your point of view on this, I however want to contest about the claim of complications. I think a basic installer that assumes very little about the environment other than being of Linux descent, would be reasonably easy to put together a less fault-tolerant script to at least speed up initial environment setup.

For instance, I could whip up a script that will

[2022-05-30 09:05] jbe-dw commented on #1207
Hello,

I'll remind you that we believe that we should try to achieve a bug-free (or something close to) v1 of the project in its current implementation. It means fixing opened issues and include the last remaining feature PR and make it stable.

The long term view, which is not realistic today because of the large work it requires is not compatible with the current size of the team, is to provide

[2022-05-30 15:04] bvdheuvel commented on #1210
Hello,

As far as I can see, this is the right way:

https://dev.to/meseta/alembic-setting-a-column-to-nullable-true-if-it-already-has-data-in-it-3nb7

E.g. first setting nullable to true, then update the field to the
default value, and then set the field to not nullable

Regards,

Bas

On 27-05-2022 15:42, jbe-dw wrote:

[2022-05-30 15:19] jbe-dw commented on #1210
Hello,

I got it, but I don't understand why, because your link says in P3 `However, one area where Alembic's autogenerator doesn't quite get right is how to handle setting a field from nullable=True to nullable=False when the column already has null values in it`.

Here the column is added (add_column) and should not contain null values in it. We should rather add a default to False intead (in th

[2022-05-30 15:29] bvdheuvel commented on #1210
Hello,

The original code had 'default to false' But in someway this is not
working, when there is already data in the table.

So the only way to do this is to add a column which allow null values,
then set the field to the default value and then add the not null
constraint.

In the table definition it should be nullable=false, and default to
false. Then all new values will be written with the def

[2022-05-30 15:41] jbe-dw commented on #1210
Alright, it look ok. I'll just give a try on other databases before.

Thanks Bas!

[2022-05-30 17:00] bvdheuvel commented on #1210
No problem, yes please test it on others too

On 30-05-2022 17:41, jbe-dw wrote:

[2022-05-30 20:46] jbe-dw commented on #1186
No update yet, please reopen if you still need more help

[2022-05-30 20:46] #1186 closed

[2022-05-30 20:47] #1183 closed

[2022-06-03 19:49] AzorianSolutions commented on #1207
@jbe-dw so based on the immediately desired direction, what exactly would you like to achieve with the current code base as it relates to the UI? I realize you listed the upgrading of current packages but I'm sure there is more to the list than that.

[2022-06-03 20:19] jbe-dw commented on #1207
Hello,

We need help to check and fix all UI related issues. I have make an effort to cleanup the tracker but we still stick arround ~100. There are some issues tagged with "ui" and "javascript" labels that you can look at.

I'll also appreciate your feedback on #485. It is open for a long time, but I'm not sure if it is really doing ui testing and if it is reliable.

Thank you

[2022-06-03 20:30] AzorianSolutions commented on #1207
I'll take a gander and see if I might be able to help with this. I can't say I'm familiar with this particular framework but on the surface, it seems somewhat self-explanatory.

[2022-06-04 20:48] #560 closed

[2022-06-04 20:49] #715 closed

[2022-06-04 20:49] #782 closed

[2022-06-04 20:50] #795 closed

[2022-06-04 20:50] #873 closed

[2022-06-04 20:56] jbe-dw commented on #704
Hello,

This request is stale for too long. Regarding our policy to cleanup this project, we are closing it. As this is a Feature Request, it will be listed in #1178

Regards
PowerDNS Admin Team
See #1153 for the policy

[2022-06-04 20:56] #704 closed

[2022-06-04 20:58] jbe-dw commented on #1110
Hello @bcsanford

We would like to add it but currently we don't have resources to work on it. Feel free to open a PR or wait some time, maybe another contributor will be interested.

Regards

[2022-06-07 13:26] RGanor commented on #905
I dont have experience in helm and we just added k8s deployment example. If you can create a PR with helm example I'll look into it and test it.

[2022-06-08 05:32] jp-bennett commented on #1149
Just wanted to add a +1 to this feature request. I've deployed the docker version of this project, and wanted to host it behind an nginx reverse proxy as a sub-folder, like mywebsite.com/pdns/. This doesn't work because of the absolute paths all over the place.

Unfortunately, since I'm using the docker image, I can't even use the fix from @eLvErDe. Cheers!

[2022-06-16 10:45] bryanpedini opened #1220 "[Feature Request] partial zone editing"
If it is not present yet, in case of which I would like to know how to configure it, I would like to propose the addition of partial zone editing for certain users.

First off, I don't know how it would be implemented, meaning I see no easy way of actually doing it code-wise, tho I'll explain it better:

I have a the reverse domain `0.1.168.192.in-addr.arpa` (for the subnet `192.168.1.0/24`) and w

[2022-06-16 20:31] jbe-dw commented on #1220
Hello,

There is no such feature, but I think I had a talk with a contributor who has the same needs. The idea would be to add permissions arround regex to edit zone subentries.

This won't be in our priorities however it may land by an external contribution.

Regards

[2022-06-16 22:00] jbe-dw commented on #888
@arbaldin  does adding this setting to your config file solves the issue ?

`SQLALCHEMY_ENGINE_OPTIONS = {
    'pool_size': 10,
    'pool_recycle': 600,
    'pool_pre_ping': True
}`

[2022-06-17 10:05] bryanpedini commented on #1220
whistle whistle...
I still think that the functionality requested would be beneficial and allow customers to have "less hassle" sort of speak, but man I didn't think of this one out...

thank you a lot, I'mma go experiment this right now!!
it may at least "fix" the thing for the time being

[2022-06-17 10:17] jbe-dw commented on #1220
You're right, there are few "hassling" stuff in permissions that needs improvement. But today we just manage zone level permissions, and it needs a huge lift to get to records. We use the "account" field of PowerDNS for this, but it is limiting for PDA permission management, as we don't store records locally.

[2022-06-17 13:47] #1162 closed

[2022-06-17 23:08] #1175 closed

[2022-06-17 23:09] #1197 closed

[2022-06-17 23:09] #1087 closed

[2022-06-17 23:12] jbe-dw commented on #865
#1206 (replaces #1115) has been merged to master.

Please use master branch or wait for next release.

Feel free to reopen if you still have issue with this.

[2022-06-17 23:12] #865 closed

[2022-06-17 23:17] #935 closed

[2022-06-18 19:57] jbe-dw commented on #554
@vmarkop @RGanor

Have you checked the keycloak notes ?

[2022-06-18 19:59] RGanor commented on #554
This issue is very old an it using fixed oidc claims, since then claims can now be changed so its needed to be tested again.

[2022-06-18 19:59] RGanor commented on #554
Updated in #717

[2022-06-18 20:01] jbe-dw commented on #1114
Done in https://github.com/PowerDNS-Admin/PowerDNS-Admin/pull/1206

[2022-06-18 20:01] #1114 closed

[2022-06-18 20:03] RGanor commented on #554
If other people having problems i think it is better to create a new issue since this is very old and not relevant anymore.

Anyway, as a first step, i need @rtoenniges to dump the content of 'me'

[2022-06-18 20:51] #906 closed

[2022-06-18 20:51] #907 closed

[2022-06-20 20:51] cwchristerw opened #1222 "OIDC logout URL isn't compatible with Keycloak 18.0.0+"
1. Login with OpenID Connect
2. Logout
3. Browser redirects to https://{subdomain}.cwinfo.net/realms/{realm}/protocol/openid-connect/logout?redirect_uri=https://{subdomain2}.cwinfo.net/login

[code]

[2022-06-20 20:53] cwchristerw commented on #1222
https://github.com/keycloak/keycloak/issues/12002

[2022-06-20 21:07] cwchristerw commented on #1191
I have similar issue

[2022-06-21 07:14] jbe-dw commented on #1191
Hello,

Do you also use the docker image to run PDA ? You need to use v0.2.5 or later, as well as upgrading your 'not containerized' app and then run 'flask db upgrade' otherwise.

Regards

[2022-06-21 19:57] wartw opened #1223 "Is there a way to update NS across all domains at once"
Is there a way to update NS across all domains at once

[2022-06-22 08:23] jbe-dw commented on #1223
Hello,
There is no way to do such a thing
Regards

[2022-06-22 08:54] Metrax commented on #1223
With low level bash experiences, you can write a simple script using the pdnsutil to do this.
Alternatively with coding expieriences you can do this with the PDNS API or PDA API. But we would not write this code for you ;-)

[2022-06-22 08:59] #1223 closed

[2022-06-22 13:43] elheme opened #1225 "master/slave"
I have two working PowerDNS servers using a MariaDB backend in a master/slave configuration.

I want to have this result that Whenever changes are made to a master zone on the master server, it will notify all listed slave servers with their own NS records.

how can help me

[2022-06-22 13:44] alsyundawy commented on #424
up

[2022-06-22 14:07] jbe-dw commented on #424
Hello @alsyundawy please open a new issue with a question regarding your difficulties.

Regards

[2022-06-22 14:08] alsyundawy commented on #424
same case no need open new issue

[2022-06-22 15:12] julienbriault opened #1226 "Can't get SAMLv2 authentication to work with Okta & PowerDNS-Admin"
We have the SAML Authentication Error "invalid_response" when we connect.

On the Okta side, we have a "success" for the given authentication.
Here is the SAML configuration used (with the sensitive data hidden).
[code]

Thank you in advance for your help.

[2022-06-23 20:55] rsaeks opened #1228 "CentOS Installation Fails - xmlsec1 not found even though installed"
When attempting to install on CentOS using the wiki page one dependency is not found even though it is installed on the machine:

[code]
which xmlsec1
/usr/bin/xmlsec1

find / -name xmlsec1
/usr/bin/xmlsec1
/usr/share/doc/xmlsec1

[2022-06-24 07:12] jbe-dw commented on #1228
Hello,

Which version of centos is used (7 or 8) ?

This kind of errors happens when you don't have the development packages installed. I recently could deploy in a CentOS 7 container using the wiki, but maybe it miss one package.

Regards

[2022-06-24 12:22] WhatshallIbreaktoday opened #1229 "History : issue post 0.2.5 upgrade + [Feature Request]"
Hi Guys,

After upgrading to 0.2.5, I got an error on one of my servers (having 8k plus history log entries) :
2 other servers did not encounter the issue (~2K history logs)

Jun 24 11:24:55 myhost gunicorn[864132]: [2022-06-24 11:24:55,948] [app.py:1891] ERROR - Exception on /admin/history_table [GET]
Jun 24 11:24:55 myhost gunicorn[864132]: Traceback (most recent call last):
Jun 24 11:24:55 myho

[2022-06-24 12:26] jbe-dw commented on #1229
Hello,

I'm sorry you had this. We had not enough history to cover all possible outcomes.

Any feedback is welcome, thank you

[2022-06-24 15:50] rsaeks commented on #1228
This is CentOS8. As far as I can tell all the required packages are installed. The current setup is with python 3.9:

python3 --version
Python 3.9.13

pip3 -V
pip 22.1.2 from /usr/local/lib/python3.9/site-packages/pip (python 3.9)

[2022-06-24 16:31] RGanor commented on #1229
Is it possible for you to share your sqldump?

[2022-06-24 20:54] jbe-dw commented on #1228
Do you have xmlsec1-devel installed as well, because it is needed to build. I have just installed successfully in a new CentOS 8 container, with packaged python 3.6 and compiled python 3.9.10

You need to enable PowerTools repository to have it available.

Regards

[2022-06-24 20:55] jbe-dw commented on #1228
(test) [root@db670743c329 ~]# yum list installed xmlsec*
Installed Packages
xmlsec1.x86_64                                                                 1.2.25-4.el8                                                          @appstream
xmlsec1-devel.x86_64                                                           1.2.25-4.el8                                                          @powertools
xml

[2022-06-24 20:57] jbe-dw commented on #1222
Hello,

Thanks for reporting. We will have a look at it soon

Regards

[2022-06-24 21:23] #1074 closed

[2022-07-05 06:19] johnwc commented on #475
We too have this issue, where we must go into the PDNS server and run `rec_control` to clear the cache, in order for the newly created record to be resolved immediately. Else we just wait 15 minutes or so and it refreshes itself. It would be nice if there was an option in PDA to enable it to call the [flush cache API](https://doc.powerdns.com/recursor/http-api/endpoint-cache.html) for the resolver

[2022-07-14 13:41] mw-0 opened #1234 "New Install using Postgres errors on database for first boot"
Using the latest container and at a blank database produces:

INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.
INFO  [alembic.runtime.migration] Will assume transactional DDL.
INFO  [alembic.runtime.migration] Running upgrade  -> 787bdba9e147, Init DB
Traceback (most recent call last):
  File "/usr/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 1276, in _execute_context

[2022-07-14 21:12] mysidia commented on #1229
I got a similar exception  with my history table from past Powerdnsadmin versions;   it seems that this module assumes entries in the  history table  contain valid JSON in the detail field.       However,    I had a few entries whose   detail value is at length  65535  characters and appears to be truncated,  so not valid JSON,

And many past history table entries referencing TXT records  containe

[2022-07-15 10:14] #1234 closed

[2022-07-15 19:12] Finn10111 commented on #1229
I am having the same issue, after upgrading I could not login anymore. Thanks for the hint regarding the history table, I deleted all entries (about 2k) and now I am able to login again. If I can provide any further information please let me know, I would like to help.

[2022-07-20 18:18] meineerde commented on #911
The logs contain the following message when this occurs:

[code]
Flask-SeaSurf allows to configure [an app option](https://github.com/maxcountryman/flask-seasurf/blob/8b97bc64ad1c57a805c09006965a9dd9cff99316/flask_seasurf.py#L152) to disable this behavior with the `CSRF_CHECK_REFERER` option (defaults to `True`)

As such, you can entirely disable the checking of the Referer header by setting

[cod

[2022-07-22 09:09] upcFrost opened #1237 "Feature: configurable OTP label"
Hi,

Right now the OTP label is hardcoded to be `PowerDNS-Admin`
https://github.com/PowerDNS-Admin/PowerDNS-Admin/blob/204c996c81f2f2ef14f6d98e5ea907e69a7ede92/powerdnsadmin/models/user.py#L92

It would be great for it to either be configurable or to match the `site_name`, as some authenticator apps tend to overwrite the key if the label is the same. Proposed change:
[code]

[2022-07-29 12:30] emollusion commented on #926
Hi!

I believe that pending changes should render a warning when you are trying to leave the page without saving, or at minimum save them to session so one can go back and keep editing, or both?

Also, "pending save" or "pending" could be a good alternative to explain the process.

So I edit a record, or create a new record, I click save, and the button changes to pending.
The button at the top ch

[2022-08-01 14:24] JustinBack opened #1239 "Responsive Tables"
This has been an issue for a while (at least on my 11" iPad), that all tables are not responsive and extend way beyond the screen (I am unable to edit anything on the ipad)

Maybe its fixed by adding `table-responsive` as it looks like bootstrap is used?

![image](https://user-images.githubusercontent.com/40178814/182168926-d58e6ef9-942e-4ad7-bbe5-066ebeba78c7.jpeg)

(This issue has persisted sinc

[2022-08-02 07:43] Metrax commented on #1239
Currently there is some work at the UI, i.E. the adaption to AdminLTE3.
After these works are done, we can think about to implement some enhancements to the UI.

[2022-08-08 13:44] emollusion commented on #777
Hi!
Since this is still open and no full example has been provided here, I though i'd provide one example.

Been tinkering with this today. However, our case makes use of the LDAP protocol and not AD. This is due to the use of a MFA proxy, but the AD server responds to LDAP requests as well and no setting should have to change except perhaps port, translating between the MFA Proxy or not.
For the

[2022-08-08 13:55] emollusion opened #1240 "BUG: Values for fields in database (PostgreSQL) False/True not actual boolean?"
Hi!

Trying to make an ansible role to deploy this automatically configuring PowerDNS-Admin in it entirety.
I came across examples where the values in the database, provided as booleans, does not seem to be provided as booleans in all cases, and neither retrieved as booleans in all cases, this behaviour was not expected and hence submitting this as a bug.
Happy to discuss the method behind it and

[2022-08-11 05:40] loopguard404 opened #1241 "500 Oops! When changing PDNS API KEY"
When changing the address of the PDNS API KEY from the domain name to localhost, a 500 error appears.

How to get a:
1) Change PDNS API KEY to localhost
2) open any zone, get error 500
![500](https://user-images.githubusercontent.com/46474603/184070708-3386dd22-43b9-4ab7-947b-4d6e4b490320.jpg)

[2022-08-11 05:49] loopguard404 commented on #424
Since I have Oracle8 and pgsql I did this:

systemctl stop powerdns-admin.socket
systemctl stop powerdns-admin.service
cp -f /opt/powerdns-admin/powerdnsadmin/default_config.py /home/%user%/default_config.py
rm -rf /opt/powerdns-admin
git clone https://github.com/ngoduykhanh/PowerDNS-Admin.git /opt/powerdns-admin
cp -f /home/%user%/default_config.py /opt/powerdns-admin/powerdnsadmin/default_config

[2022-08-11 09:02] loopguard404 commented on #1241
you can close, I found what the problem is

[2022-08-11 09:02] #1241 closed

[2022-08-22 09:47] WhatshallIbreaktoday commented on #1229
Hello, other "change" regarding history :

Compared to the previous version, I cannot see detailed info for apikeys anymore :
The line is present in database, also shown in history i.e
History page:
Changed by | Content |Time |Detail
apikey |  delete zone NS record of test.domain.fr|2021-01-13 14:55:26|  ( No Info button shown here)

For a user, everything works fine.

[2022-08-25 21:18] jbe-dw commented on #1225
No update for 2 month, I'm closing

[2022-08-25 21:18] #1225 closed

[2022-08-25 21:29] jbe-dw commented on #1240
Hello,

Thanks for the feedback. I guess that it has not been implemented correctly. This is not really a bug, because you put something in the database outside PDA. But it's right to point that it should use real booleans.

I'd like to work on the API to implement a configuration endpoint (and to implement an init process to be 100% compatible with automation tools). I'll have a look over it then

[2022-08-26 07:08] emollusion commented on #1240
Hi!

Removed the bug prefix.

Great work! A small hickup in the automation so no big deal really, keep it in the pipeline and "fix" it when  possible.
Thank you!

[2022-08-26 07:59] jbe-dw commented on #1240
With Ansible and MariaDB, I use this:

[code]
But maybe Postgres behaves differently. You can see on the last line that i'm converting anything to string.

This is the morning now and my brain is not asleep. I'd say that the table mixes string and boolean values in a shared TEXT column, so booleans are translated to strings. I guess that it was the main reason to do so. There are probably alternat

[2022-08-27 06:10] abhichatur commented on #153
Solved it by putting the value in pdns.conf
webserver-address=127.0.0.1
webserver-port=8081

and in the poweradmin panel same address and port should be given,  you can also check the pdns version using following command
 pdns_control version

this version you need to mention in poweradmin panel.

then check with this, it will show the connectivity:
 curl http://localhost:8081 | grep PowerDNS

[2022-09-01 22:07] ppbrown opened #1243 "Missing info in README.md about initial install"
Please add following lines, at line 38, to README.md

[code]

Also.. it references some "SECRET_KEY"... but as far as I can tell, that now does nothing?

[2022-09-06 11:36] douglagm opened #1245 "PowerDNS-Admin Docker with nginx proxy"
Hi All,

I followed the following tutorial: [https://computingforgeeks.com/running-powerdns-and-powerdns-admin-in-docker-containers/](url)
I am using the docker-compose example and it works like a charm as I can access the PowerDNS url via port 8080.

As I have several containers, I decided to use nginx installed on the server as a reverse proxy to proxy the various applications:
[https://server.d

[2022-09-15 02:15] davekempe commented on #59
For the benefit of others, I had this problem, and it turned out the time was wrong on the pdns-admin server (running flask). The haproxy in front of it meant the session didn't work, I got a 403 immediately.
So, if you get this error, check all the servers have the right time!

[2022-09-21 12:30] absynth47215 commented on #1245
Maybe try this:
proxy_pass http://pdnsadmn/;

I think what happens without a trailing slash is that the path /powerdns/ is passed into the proxied service, and powerdns-admin doesn't know about a path /powerdns/.
As far as I know, adding a trailing / to the proxy_pass statement mitigates this.

[2022-09-21 14:17] vhsantos opened #1251 "Problem to replace a register type"
Hello,

we have found that the last version of PDA don't allow a change of RRSet, for example, if I want to change this register:
[code]
to this:
[code]

It generates an error **RRset the-cat-say-miau-miau.lab. IN CNAME: Conflicts with pre-existing RRset**

Probably this come with this [PR 1201](https://github.com/PowerDNS-Admin/PowerDNS-Admin/pull/1201), where the PDA try to replace the register

[2022-09-21 14:18] vhsantos commented on #1251
For now, a workaround is to delete the register, apply the changes, create the register and apply the changes. :-(

[2022-09-21 18:03] jbe-dw commented on #1251
Hello,

I let @corubba give you an answer. I'll take a look into this shortly

Regards

[2022-09-22 08:25] domXmob opened #1252 "IDN search does not work"
Hello!

Just found out that it's hard to find IDN Domains by the search.

The Interface itself shows the domains by IDN Name.
It is possible to find the domain by typing the ACE Name (which user usually don't know).
But there will be nothing found by the IDN Name.

### example-data:
[code]

### Ideas how to solve it:
- a converter back to ACE from IDN for the query string
- an additional cached co