[2015-12-30 17:08] HLFH opened #1 "Official systemd support"
Hi,

It would be great to get official systemd support with a powerdns-admin.service file.
Really nice WebUI btw.

Thanks in advance,
HLFH

[2015-12-30 18:08] HLFH opened #2 "Show DNSSEC details of a zone"
Hi,

Do you support DNSSEC?
If no, please support it.

Thanks in advance,
HLFH

[2015-12-31 03:30] ngoduykhanh commented on #1
Hi @HLFH ,

You can run it in several ways. I would recommend using `systemd` or `supervisord`. For `systemd` script, please find the example below

`$ sudo vim /etc/systemd/system/powerdns-admin.service`
[code]

[2015-12-31 07:44] HLFH commented on #1
Thanks!

[2015-12-31 07:44] #1 closed

[2016-01-07 09:09] mattirk opened #3 "Software licence"
Hi,

Could you include licence for your code? We are interested in forking this repo as a base for our own DNS admin panel!

- mattirk

[2016-01-09 02:44] ngoduykhanh commented on #3
I've added the MIT license. Commit https://github.com/ngoduykhanh/PowerDNS-Admin/commit/3fe28d1151225bb3918a77e41472a8571adf42a1

[2016-01-09 02:44] #3 closed

[2016-01-14 15:14] mortzu opened #4 "Able to create empty domains"
An error message should appear when I try to add a domain without a domain name

[2016-01-15 06:50] ngoduykhanh commented on #4
Fixed in commit https://github.com/ngoduykhanh/PowerDNS-Admin/commit/abb80784e4feb75dc8f1991eb4cadcb312e60a6e

[2016-01-15 10:59] mortzu commented on #4
Thank you!

[2016-01-15 10:59] #4 closed

[2016-01-15 11:34] mortzu opened #5 "Can't enter multiple NS records"
If I add a second NS entry for the zone it removes the first one

[2016-01-20 16:17] marnovdm opened #6 "Can't apply changes - loginKey 'priority' not an Integer or not present"
Running powerdns 3.4.1-4+deb8u3 on Debian 8 and latest version for PowerDNS-Admin console. I can login but when trying to apply changes (add record) I get this error: loginKey 'priority' not an Integer or not present. I noticed something about 'priority' in https://doc.powerdns.com/md/authoritative/upgrading/ but that's only in 3.4.2. Any idea what's going on? Logs show:

[INFO] 10.168.100.2 - - [

[2016-01-29 23:21] sirantd commented on #6
Have same problem with all frontends i checked.

Looks like all using modern api, and all now work when i installed powedns 3.4.7 from jessie-backports

Add to /etc/apt/sources.list
deb http://http.debian.net/debian jessie-backports main

apt-get update
apt-get install -t jessie-backports pdns-server (and all other backends, etc)

restart pdns service

[2016-02-01 12:52] marnovdm commented on #6
@sirantd thanks, that seems to work! I thought I checked the backports version but I guess I didn't :)

[2016-02-01 12:52] #6 closed

[2016-02-08 22:33] ivanfilippov commented on #5
This also affects MX records.

[2016-02-09 00:21] ivanfilippov commented on #5
Looks like the PDNS API expects same-type records to be updated as a single 'rrset' in the JSON request (using multiple 'records') instead of over multiple 'rrsets'.  This issue will prevent the creation of any records (after the first one) that share a name type, this includes NS and MX entries as well as multiple A and AAAA entries used for round-robin.

This is what the PDNS API expects:
[code]

[2016-02-11 06:51] ivanfilippov commented on #5
I'm not a Python wizard by any means, but I've created a pull request with my solution to this problem. Anyone else wanting to fix the issue can make the code modifications listed in the pull request (https://github.com/ngoduykhanh/PowerDNS-Admin/pull/7)

[2016-02-11 09:58] ngoduykhanh commented on #5
Thanks @mortzu for raising this issue and @ivanfilippov for the pull request. I've tried the code in your pull request, it seems not working in all case yet. There was a case that I lose all duplicate records.

I also pushed a new change for fixing this bug, see commit c94e24c98574da2595729547c9e41decce7ffa26

[2016-02-11 16:16] ivanfilippov commented on #5
Your changes worked on my side, thanks @ngoduykhanh !

[2016-02-11 16:43] ivanfilippov opened #8 "Suggestion: Add the option to increment SOA serial on update"
Setting kind to SOA-EDIT-API and content to INCEPTION-INCREMENT in the domainmetadata table in PDNS allows API edits to trigger an increment in the SOA serial.

This metadata entry can be enabled via the API by passing in the below JSON during domain creation.
"soa_edit_api": "INCEPTION-INCREMENT"

This is also editable after domain creation.

Suggestion: add a check-box to allow the user to enabl

[2016-02-12 22:27] ivanfilippov opened #9 "Suggestion: dyndns2 support"
I'd like to suggest adding 'dyndns2' protocol support. This will allow dynamic updates of DNS entries via third-party software (ddclient and many consumer routers).

I've created a branch [here](https://github.com/ivanfilippov/PowerDNS-Admin/tree/dyndns2_support) that adds this support. I've tested it with ddclient 3.8.1 using the 'dyndns2' protocol and it works well. I'll be rolling this out to r

[2016-02-13 15:59] ngoduykhanh commented on #9
Thanks @ivanfilippov for your suggestion. This feature is good and helpful. I've tried your code, there is a bug which I commented in the in your branch, you can review it again.

I also have some comments below

What is missing here? I see both of them work. Actually they are Basic Authentication which can work in URL based or header based.

The return codes have been reduced for simplicity, here

[2016-02-15 10:34] #5 closed

[2016-02-25 03:17] ivanfilippov commented on #9
Hi @ngoduykhanh, I went back to the code you commented on [here](https://github.com/ivanfilippov/PowerDNS-Admin/commit/e6567da8b03509fa21944a08269b477c804ae741#commitcomment-16078694) and I cleaned it up a bit, but I'm not sure I understand what the bug is. To me it seems like if I loop through all the records and append them to the **records** list before applying (whether I modify the record or

[2016-02-25 09:56] ngoduykhanh commented on #9
Sorry @ivanfilippov , I was looking at a difference peace of code, please ignore my previous comment in the code diff. But I see another problem, let me show you with quoted code below.

[code]

Your code is trying to search the `hostname` in all zones which user own. If the first zone doesn't contain any records match the `hostname` you posted, `domain_name` variable will be empty and cause the e

[2016-03-05 10:06] ngoduykhanh commented on #8
pushed commit a4df1e47fe92504006f9f487ebe1a181e37a3d2a to allow to set SOA-EDIT-API option during domain creation.

[2016-03-06 22:12] ivanfilippov commented on #8
Thanks, I'm going to try this out!

[2016-03-10 07:29] seitzbg opened #11 "Default admin user?"
When I try to sign up I get:

(_mysql_exceptions.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`powerdnsadmin`.`user`, CONSTRAINT `user_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `role` (`id`))') [SQL: u'INSERT INTO user (username, password, firstname, lastname, email, avatar, role_id) VALUES (%s, %s, %s, %s, %s, %s, %s)'] [parameters: ('bryan_seitz', 'h

[2016-03-10 08:16] seitzbg commented on #11
I fixed the SQL issue, my DB is a cluster so auto increment is not equal to 1.  You might want to populate the initial data for roles with the create script and enter values manually and or search for the role name when adding a user.  Also can you add the ability do disable signup with regular auth ? Another thing that would be nice is to enforce an LDAP group membership as well.

[2016-03-10 08:35] seitzbg opened #12 "When trying to login with a user after the first user is created it fails."
When trying to login with a user after the first user is created it fails.
If I delete the first user from the DB (after ldap login created it), I can login with a different user and it will create this user in the DB.  I cannot however login with another user where it would be the second user in the DB.  Please advise.

[2016-03-13 14:17] TacoScheltema opened #13 "Support for PowerDNS 4.x"
Hi,

Will you be supporting PowerDNS 4.x? I got it to work nicely on version 3 but on 4 I can only see the domains, not the records under a domain (I get a 500 error then).

Cheers,
Taco

[2016-03-13 14:17] TacoScheltema commented on #2
+1 for DNSSEC support

[2016-03-14 23:51] ivanfilippov commented on #9
Hi @ngoduykhanh!

Good point about the 501/403 error codes, I've made the change and tested against dhclient and it works.

I've fixed the issue with the update failing if the first found domain isn't the one the user is trying to update.

Please review my branch again. Once these issues are fixed, I will start working on moving the majority of this code into the model.

Also @ngoduykhanh, I want

[2016-03-17 01:17] ngoduykhanh commented on #9
Hi @ivanfilippov ,

Your changes look good to me. Now it works as expected :+1:

Thank you

[2016-03-17 13:10] ngoduykhanh commented on #13
PowerDNS 4 still in Alpha release. But I will start working on this to make sure PowerDNS-Admin can work with the new version of PowerDNS.

[2016-03-18 07:34] ngoduykhanh commented on #2
@HLFH do you mean support creating domain with DNSSEC enabled? If yes, we are not able to do it from front-end yet because the PowerDNS RestAPI doesn't support enabling `dnssec` yet.
https://doc.powerdns.com/md/httpapi/api_spec/#url-apiv1serversserver95idzones

[2016-03-18 13:14] HLFH commented on #2
@ngoduykhanh Yes, it would be great to support it when PowerDNS RestAPI will support `dnssec`. At least, for this moment, [like nsedit](https://github.com/tuxis-ie/nsedit), it would be cool to be able to "show the DNSsec details of a zone".

[2016-03-23 20:17] ivanfilippov commented on #8
This is working great, thanks for the addition!

[2016-03-23 20:17] #8 closed

[2016-03-24 13:06] ngoduykhanh commented on #2
@HLFH : pushed commit 990bbe5 to support showing DNSsec detail of a zone

[2016-03-24 13:21] HLFH commented on #2
@ngoduykhanh Thanks a lot!! Issue solved.

[2016-03-24 13:21] #2 closed

[2016-03-26 03:27] almereyda opened #16 "Docker + Docker Compose example"
It would be nice to have a docker setup for this application similar to https://github.com/obi12341/docker-pdns, https://github.com/tuxis-ie/nsedit or https://github.com/xbgmsharp/yapdnsui/blob/master/Docker.md.

How could I assist in preparing such?

[2016-03-30 09:50] TacoScheltema opened #17 "Add wsgi example"
Just a small suggestion to add an example configuration for running PowerDNS-Admin in apache.

I managed to get it to work on a debian 8.3 machine as follows:

My PowerDNS-Admin files are located under /opt/powerdnsadmin and I've created a user called pdnsadmin and a group called pdnsadmin.

change the owner of /opt/powerdnsadmin and everything within it:

`sudo chown -R pdnsadmin:pdnsadmin /opt/p

[2016-04-10 10:12] TacoScheltema commented on #17
I ran into a small issue when changing the reverse proxy vhost to use https, the url scheme returned by the application is http and unfortunately my knowledge about python/flask isn't enough to get this to work.

I found several suggestions on how to solve this, one that looked the most promising can be found here: http://flask.pocoo.org/snippets/35/ but I don't know how to implement it. would it

[2016-04-10 10:48] ngoduykhanh commented on #17
@TacoScheltema : Which software are you using as a reverse proxy ? is it nginx ? if yes, make sure you  set proxy header, for example:
[code]

And yes, it has some redirection from https to http (when login/logout). It seems that Flask's `url_for` use http schema by default. Let me take a look to fix this.

[2016-04-10 11:09] TacoScheltema commented on #17
I use apache, I added:
`RequestHeader add X-Forwarded-Ssl on`
but I'll see if I can find the apache equivalent of the headers you suggest.

Thanks!

[2016-04-10 14:39] ngoduykhanh commented on #17
I've pushed commit df045cb2e5e53c497aa101719c528b1f17c03a1f to add ProxyFix() middleware component to fix the HTTPS redirection issue. I am using nginx as reverse proxy and it work fine for me with this proxy header set:

[code]
I am not sure about Apache. Can you checkout the new code and use `RequestHeader add X-Forwarded-Proto https` in Apache SSL vhost ?

[2016-04-11 08:57] ivanfilippov commented on #9
Hi @ngoduykhanh!

I've pushed some changes to my branch to move the dyndns2 login into the model from the view. I've done some preliminary test and it seems to be working well, but I'll be doing more thorough testing over the next few weeks. Please review the code if you get a chance. :smile:

The latest commit is here: https://github.com/ivanfilippov/PowerDNS-Admin/commit/6fda89a49f6709e0838a1413

[2016-04-11 09:49] ivanfilippov commented on #11
Hi @seitzbg!

I ran into the same issue with my SQL cluster and it looks to be a simple fix. You can grab the modified branch [here](https://github.com/ivanfilippov/PowerDNS-Admin/tree/db_improvements) if you'd like to try it out. These changes automate the population of the Administrator and User roles and also search for the role names/IDs instead of expecting them to be specific values.

I'll b

[2016-04-11 09:53] ivanfilippov commented on #12
Hi @seitzbg!

If you're able to, can you try the same thing with local non-LDAP users and let me know if it breaks?

[2016-04-11 12:19] ivanfilippov commented on #11
Hi @seitzbg!

I've added initial support for LDAP group membership (although I've only tested it with an AD style LDAP). Please try the branch [here](https://github.com/ivanfilippov/PowerDNS-Admin/tree/ldap_group_security) and provide feedback if you have any.

@ngoduykhanh please review the initial implementation of this branch.

[2016-04-11 13:36] ngoduykhanh commented on #11
Thank you @ivanfilippov  for your help. I've tried your branch `db_improments`. It works fine for me. You can submit a pull request for it 👍 .

About LDAP group membership, I have no idea why do we need it since we are managing the user privileges/role via PowerDNS-Admin itself. And the filter `(&(objectcategory=group)(member=%s))` seems doesn't work all cases, at least for me, maybe :)

[2016-04-11 14:00] ivanfilippov commented on #11
Thanks for accepting the PR @ngoduykhanh!

I think the primary reason @seitzbg mentioned the LDAP group enforcement is to prevent users creating "empty" accounts in the PowerDNS-Admin database.  I could be wrong, hopefully @seitzbg will let us know.

I took it a bit further than that and allowed the management of normal users and admin users via AD groups instead of PowerDNS-Admin itself. I left t

[2016-04-11 14:02] TacoScheltema commented on #17
Just tried it and it works! Awesome work!

For anyone interested: my setup is as follows:

## Server A:
[code]
added a user called pdnsadmin, then `chown -R pdnsadmin:pdnadmin /opt/powerdnsadmin`
added these lines to the apache vhost, in my case I'm using 000_default as there's no other vhosts on this server:
[code]
create the file /opt/powerdns/powerdnsadmin/powerdnsadmin.wsgi:
[code]

## Server

[2016-04-11 15:48] ngoduykhanh commented on #11
Hi @ivanfilippov ,

I am using openLDAP on Linux which may has diffrence schema. I've not tried it on Windows Server yet. If we decide to have this feature I can help to take a look deeper :)

You put `LDAP_GROUP_SECURITY ` to be able to switch on/off this feature, it is good. I just have one sugesstion, if `LDAP_GROUP_SECURITY` is `False`, we shouldn't force to the value of `LDAP_ADMIN_GROUP` and

[2016-04-11 16:24] ivanfilippov commented on #11
Good idea! I've moved those two behind a condition in models.py

Is your LDAP_TYPE set to 'ldap' or 'ad'? I'll set up an openLDAP server as well so I can test against both.

[2016-04-12 02:39] ngoduykhanh commented on #11
@ivanfilippov : My `LDAP_TYPE` is `ldap`:)

[2016-04-12 16:13] c0fe opened #19 "Ubuntu"
I am interested in using this on Ubuntu 14.04 and the upcoming version of Ubuntu. Would this software be supported on that distro or this up in the air?

[2016-04-12 18:10] ngoduykhanh commented on #19
I've not tried this source code on a Ubuntu machine yet but i am pretty sure it will work :). It's just Python/Flask which is supported to run on Ubuntu, let try and feel free to post any issue here.

[2016-04-12 21:09] c0fe commented on #19
I am having a bit trouble at "Enable virtualenv and install python 3rd libraries" step.

http://hastebin.com/ojiricewam.vhdl

That is log of commands. Can you please help?

[2016-04-13 00:40] ivanfilippov commented on #19
Hi @c0fe!

Looks like you're in the wrong directory, make sure you're running ``pip`` and the other commands in the same directory as the ``requirements.txt`` and ``create_db.py`` files.

[2016-04-13 02:17] c0fe commented on #19
I am still running into a bit of an issue: http://hastebin.com/ipoloquguw.vhdl

[2016-04-13 02:40] ngoduykhanh commented on #19
Hi @c0fe ,

It looks like you missed some dependencies to install pip packages. I've tried to install on a Ububtu 14.04 machine successfully following:

[code]

About the `config.py` file, for basic usage, you can leave the config for LDAP, just set `LDAP_TYPE = 'ldap'` to avoid syntax error. The important part is `DATABASE CONFIG` and `POWERDNS CONFIG`, they need to be corrected base on your envi

[2016-04-13 03:11] ivanfilippov commented on #19
@ngoduykhanh that sounds like a good idea. Do you want another option or a third option for ``LDAP_TYPE``? Like if it's blank or set to ``none``, LDAP is disabled?

[2016-04-13 03:41] ngoduykhanh commented on #19
@ivanfilippov : yes, that sounds good too. My idea is about reducing the number of unnecessary config in the `config.py` file. For example, if `LDAP_TYPE` is absent from `config.py` we can mark LDAP feature is disabled.

[2016-04-13 13:24] c0fe commented on #19
Looks like I am having problems with the dependencies: http://hastebin.com/ojanorikah.vhdl though not sure if MariaDB is too new?

[2016-04-13 13:32] ngoduykhanh commented on #19
@c0fe, can you install `libmariadbclient-dev` or `libmariadbd-dev` if you are using MariaDB?

And no, You don't need OpenLDAP server.

[2016-04-13 13:39] c0fe commented on #19
Was able to install, http://hastebin.com/uriramojob.vhdl

But same error.

[2016-04-13 13:42] ngoduykhanh commented on #19
@c0fe , no, since you are using MariaDB, you don't need `libmysqlclient-dev` anymore. Let try to install pip packages.

[2016-04-13 13:55] c0fe commented on #19
I installed all pip requirements getting this error:

root@ns2:~/flask/bin# ./activate
-bash: ./activate: Permission denied
root@ns2:~/flask/bin#

[2016-04-13 13:57] c0fe commented on #19
http://hastebin.com/xoqibabaqo.coffee

[2016-04-13 14:01] ivanfilippov commented on #19
Hi @c0fe!

``activate`` isn't an executable script, you have to run it by running ``source activate``.  I'm not sure if it's important to run it from the root of PowerDNS-Admin, (where the ``run.py``, ``create_db.py``, etc files are), but do it from there anyway. So run it like this:

``source ./flask/bin/activate``

[2016-04-13 14:05] c0fe commented on #19
It is still erroring out: http://hastebin.com/qonusuhune.coffee

[2016-04-13 14:08] ivanfilippov commented on #19
Looks like you're missing python-dev, you can try ``apt-get install python-dev``. I'm going to set up a quick Ubuntu 14.04 VM and try it out as well.

[2016-04-13 14:10] c0fe commented on #19
It was missing but it still throws up the same error.

[2016-04-13 14:10] ngoduykhanh commented on #19
@c0fe , According to http://hastebin.com/uriramojob.vhdl you didn't successfully install following packages:
- python-dev
- libsasl2-dev
- libldap2-dev
- libssl-dev

Please try to install them before rerunning pip command

[2016-04-13 14:16] c0fe commented on #19
Copy command isn't found: http://hastebin.com/sucitekame.coffee

[2016-04-13 14:20] c0fe commented on #19
config.py is empty for me too, not sure what to write in there or how. Meaning i have nano to edit just what is the syntax.

[2016-04-13 15:50] ivanfilippov commented on #19
Hi @c0fe!

There's a typo on the instructions page, we'll get that fixed, try this instead:
`cp config_template.py config.py`

That will fix the empty config.py as well.

[2016-04-13 17:22] c0fe commented on #19
Got this error:

flask) root@ns2:/etc/powerdns#  cp config_template.py config.py
cp: cannot stat ‘config_template.py’: No such file or directory

[2016-04-13 20:03] ivanfilippov commented on #19
Looks like you're in the wrong directory, based on your previous pastebin it looks like you should be running that command from `~/temp/PowerDNS-Admin`.

[2016-04-13 20:14] c0fe commented on #19
Yup that was embarrassing, eyes are crossing. Here is what I am running into: http://hastebin.com/zokoyatapi.coffee

[2016-04-13 20:22] ivanfilippov commented on #19
You'll need to modify config.py a bit. Change the line that says `LDAP_TYPE = 'ldap' // or 'ad'` to `LDAP_TYPE = 'ldap'`. This doesn't mean you need ldap, its just to get config.py to be parsed properly

[2016-04-13 20:33] ivanfilippov opened #21 "GitHub Wiki"
Hi @ngoduykhanh!

I've started a wiki in my fork, but I'm not sure how to set up a wiki PR to the main repo (based on my quick search, it might not even be possible...). Take a look to see if you'd like to integrate it into the main repo. I'd like to fill it up with guides about installation on various systems, integrating AD, LDAP, DynDns, etc.

The wiki is [here](https://github.com/ivanfilippov/

[2016-04-13 21:06] c0fe commented on #19
Not even sure where it is seeing this: qlalchemy.exc.OperationalError: (_mysql_exceptions.OperationalError) (2003, 'Can\'t connect to MySQL server on \'192.168.59.103\' (110 "Connection timed out")')
(flask) root@ns2:~/temp/PowerDNS-Admin# nano config.py

[2016-04-13 21:13] ivanfilippov commented on #19
It's trying to connect to a SQL database defined by the `SQLALCHEMY_DATABASE_URI` option in config.py. Check that to make sure it's pointing to your database server, right now it's pointing to 192.168.59.103.

[2016-04-13 21:31] c0fe commented on #19
Got it running but still don't know whe3re to look in the URL. It says running on 127.0.0.1 great but I want to access from a remote computer on the local network.

[2016-04-13 21:33] ivanfilippov commented on #19
Change `BIND_ADDRESS = '127.0.0.1'` in config.py to `BIND_ADDRESS = '0.0.0.0'` and restart the app. Then you can access it on remote computer by typing in http://yourServerIP:9393

Note, for production purposes I recommend putting this behind a reverse proxy like Apache or Nginx.

[2016-04-13 21:37] c0fe commented on #19
I can't even find this: http://hastebin.com/coqagafaqe.vhdl

Also why would you recommend the reverse proxy?

[2016-04-13 21:46] ivanfilippov commented on #19
Ah, looks like you have a slightly older version of the repository, checkout a new version via git, or download a new zip.

A reverse proxy gives you a bunch of advantages, some are:
- compressing data in transit to speed up page loads
- allowing caching of content
- enabling HTTPS on your PowerDNS-Admin app
and there are more.

[2016-04-13 21:59] c0fe commented on #19
Now another issue, can't even run this, somehow its not seeing the files: http://hastebin.com/pusatiquda.coffee

[2016-04-13 22:04] ivanfilippov commented on #19
It looks like your virtualenv is no longer in sync with your setup.  Try these commands one at a time:

Then modify your config.py as needed. Then run the below two commands:

[2016-04-13 22:15] c0fe commented on #19
I got it working. Awesome. Its a bit unfortunate that it loses connectivity (I am not really familiar with flask) once I disconnected the ssh session. But it looks great.

[2016-04-13 22:16] ivanfilippov commented on #19
There are a few ways to keep it running outside your ssh session, you can try ``screen`` or even add it as a service to ``systemd``. Glad we were able to help, good luck! :smile:

[2016-04-13 22:38] ivanfilippov commented on #16
Hi @almereyda!

[Here is a sample initial implementation of a Dockerfile](https://github.com/ivanfilippov/PowerDNS-Admin/blob/docker/Dockerfile) that builds a docker image that just runs PowerDNS-Admin, all the parameters are configurable via variables in the Dockerfile. I'm just a beginner when it comes to Docker, so you're more than welcome to contribute to it. :smile:

What use-case are you goi

[2016-04-13 22:39] c0fe commented on #19
Any suggestions on how to add it as a service properly? I don't want to screw it up.

[2016-04-13 22:41] ivanfilippov commented on #19
@ngoduykhanh actually posted a config for `systemd` in one of the issue here. [Check it out here](https://github.com/ngoduykhanh/PowerDNS-Admin/issues/1).

[2016-04-13 22:57] c0fe commented on #19
Ok I will try that and report back. I am grateful for the support. I would like to offer making a website and clarifying up the tutorial for this project if that is interested, this of course along with the hosting would be free.

[2016-04-13 23:00] ivanfilippov commented on #19
I've actually been working on a tutorial in the Wiki as we've been going through this issue. Right now it only exists in my [branch here](https://github.com/ivanfilippov/PowerDNS-Admin/wiki) but I hope to get it merged into the main repository as well. :smile:

[2016-04-13 23:05] c0fe commented on #19
I will try this on the Xenial version of Ubuntu since it supposed to have systemd (14.04 doesn't) I will report back on this.

[2016-04-13 23:07] c0fe commented on #19
Additionally I didn't check but did you write that wiki with the issues I was having? :P

[2016-04-13 23:18] piwats opened #22 "postgresql?"
Hello,

could you please provide install instructions for use with postgresql?

I got the app running (via uwsgi/nginx), also I got it to run under postgresql, unfortunately it does not show any dns records at all. I have to assume that the db setup I did is somehow wrong.

pdns logs say it transmits the json data.

Many thanks

[2016-04-14 00:02] c0fe commented on #1
Confirmed working on Ubuntu 16.04

[2016-04-14 04:34] ngoduykhanh commented on #21
Hi @ivanfilippov ,

I've created initial Wiki page and public it. It is editable now. You can copy the wiki from your repo into it. (so your name will marked there :-) )

Thank you for great contribution!.

[2016-04-14 06:36] ngoduykhanh commented on #22
hi @piwats ,

It looks like that you completed the setup for running PowerDNS-Admin with Posgresql. Your issue is a bug actually. I've fixed it at commit f1b38b1. Please checkout the new code and let me know if it fixes your issue.

[2016-04-14 12:12] #19 closed

[2016-04-14 13:56] piwats commented on #22
Hello there,

unfortunately I still cannot see any records.

[2016-04-14 14:02] piwats opened #23 "Doc add-on: how-to run via uwsgi and nginx"
Hello,

maybe it can be of some use for you:

.ini for uwsgi:
(Be advised to change the ```plugins = python27``` to whatever is correspondent with your setup of uwsgi)
[code]

nginx:
[code]

[2016-04-14 14:07] piwats commented on #22
Could it be because I run in a subdirectory? e.g. server.com/pdns?

[2016-04-14 16:35] ivanfilippov commented on #21
HI @ngoduykhanh

Awesome, thanks! I host the screenshots in the wiki as well, and I can't publish those via the GitHub editor:

![screenshot](http://i.imgur.com/EaXGtv3.png)

Since I don't have contributor access can you merge my wiki repo into the main wiki repo? The repo is here: https://github.com/ivanfilippov/PowerDNS-Admin.wiki.git

[2016-04-14 17:35] ngoduykhanh commented on #21
@ivanfilippov , I've merged your wiki into the main repo. Thank you.

I am not sure about the permission when using Github editor. I've changed Wiki access permission follow [this instruction](https://help.github.com/articles/changing-access-permissions-for-wikis/) already. Let try to use command line instead, you can check [this guide line](https://gist.github.com/larrybotha/10650410).

[2016-04-14 17:39] ngoduykhanh commented on #22
It works for me on Ubuntu 14.04 and Postgresql 9.4. What are you environment? I don't think the subdirectory can cause this issue, but have you tried to removing it?
Can you show me your `config.py` file also ?

[2016-04-14 17:53] ivanfilippov commented on #21
Hi @ngoduykhanh

That's actually the guide I was following, it says that the owner of the main repo has to do the merges themselves. :disappointed:

I'll try to batch up a few edits into my repo before sending you more merge requests, so you're not doing it all the time.

[2016-04-14 17:53] #21 closed

[2016-04-14 19:45] piwats commented on #22
[code]
I'm on gentoo wit pgsql-9.5.2, to be precisely.

[2016-04-14 19:49] piwats commented on #22
Ah, I forgot to mention, that I also tried to run it in /. Same behavior, no changes.

[2016-04-15 17:58] ngoduykhanh commented on #9
Thanks @ivanfilippov , you changes looks good except a issue with `priority` which I commented in [your link](https://github.com/ivanfilippov/PowerDNS-Admin/commit/6fda89a49f6709e0838a14137c1a2dc677e3a29a)

[2016-04-18 12:36] c0fe opened #24 "Setting up a domain"
Ok so I have a dummy domain, adivix.org where my registrar points to my IP address as the place to check for all DNS records. So how do I properly setup the records where the DNS records are setup to point to specific servers on the local network.

Let's take this for example:

192.168.1.100 - IP Address of my DNS server
192.168.1.101 - IP Address of my website host (A record)
192.168.1.102 - IP A

[2016-04-18 13:42] c0fe opened #25 "Weird Error"
I have Ubuntu Xenial Release 2 with MariaDB and PowerDNS running. I have this set to run via service. I didn't do anything, didn't add any domains, just refreshed within admin section and got this error:

http://imgur.com/a/OFzTH

http://hastebin.com/imuwisehoh.vhdl

[2016-04-18 14:22] ngoduykhanh commented on #25
It looks like a problem with connectivity between the application and database server. Please double check your MariaDB config and make sure the connection is good.

ref: [lost connection to mysql server during query](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=lost%20connection%20to%20mysql%20server%20during%20query)

[2016-04-18 14:25] ngoduykhanh commented on #24
Hi @c0fe ,

I don't understand your question. Are you asking about creating records or setting up pdns service? PowerDNS-Admin is just a Web-UI. You can create records with internal ip addresses if you want and make sure that clients are able to connect to dns server (pdns) via port 53, that's all.

[2016-04-18 14:45] c0fe commented on #25
The connection is good also it is running on the same machine.

[2016-04-18 14:47] c0fe commented on #24
I just want to correctly setup the domain via webUI where if someone externally enters "adivix.org" or sends an email what IP addresses should I enter? Public IP or the internal IP?

[2016-04-18 16:23] c0fe commented on #24
Maybe I am doing something wrong but I keep getting 404 errors:

https://www.youtube.com/watch?v=4_8CWDmZQjw&feature=youtu.be&hd=1

[2016-04-19 01:08] ngoduykhanh commented on #24
@c0fe , Do you have any error message from logfile / console ?

[2016-04-19 11:22] piwats commented on #22
Could you please change the create_db.py script so I can try it with postgresql?

Last time I had to create the db structure by hand, maybe I did something wrong?

[2016-04-19 11:52] ngoduykhanh commented on #22
@piwats : didn't `create_db.py` work for you? I works fine for me with Postgresql. Can you create new bank database and rerun the script?

[2016-04-19 12:53] c0fe commented on #24
Nope, log is blank

[2016-04-19 16:20] piwats commented on #22
I've got it now:

Somehow the app won't work if the venv (aka 'flask' directory) is not inside of PowerDNS-Admin...

[2016-04-19 16:21] piwats opened #26 "BUG: "Home" in the breadcrum is linked to /"
When operating in a subdirectory the "Home"-Link in the breadcrumb should not point to /.

Instead it should point to the /subdirectory it is running in.

[2016-04-19 16:25] piwats opened #27 "Make width 100%"
It would be great, if you could change the width to 100%. Else the space is not used.

[2016-04-19 16:28] piwats opened #28 "Break lines when displaying records, which are very long"
When you have a long record, f.e. a dkim key which can go up to 254 chars, PowerDNS-Admin does not break the lines in order to be more compact.

This affects how all the records are displayed, that is that the 'Data' field becomes unnecessary long.

[2016-04-19 16:30] piwats opened #29 "Edit records by pressing on them, instead of clicking on the edit button"
Editing the records in a kind of 'in-line' mode would be cool.

[2016-04-19 16:37] piwats opened #30 "Display records in a verbatim font (monospace)"
Would it be possible to display the records in a font that is fixed-width or non-proportional, like monospace or equivalent?

[2016-04-19 19:17] ivanfilippov commented on #24
Hi @c0fe,

Try running PowerDNS-Admin directly while we're troubleshooting instead of as a service, that will give you console access and you'll be able to show us any errors.

My guess is that PowerDNS-Admin can't connect to the PowerDNS API and that's causing the 400 error, but the console logs will show for sure.

[2016-04-19 19:22] ivanfilippov commented on #22
Hi @piwats

The flask directory contains all the dependencies (Flask, SQLAlchemy, etc), but you can install the dependencies into your system Python packages without the `virtualenv` and avoid needing it there. :smile:

[2016-04-19 19:23] ivanfilippov commented on #22
I should mention that `virtualenv` is the recommended way of doing it, unless you're building a docker image or something that will only ever run PowerDNS-Admin.

[2016-04-19 19:29] ivanfilippov commented on #26
Hi @piwats

Do you mean when you proxy PowerDNS-Admin behind a subdirectory like:

http://example.com/powerdnsadmin

[2016-04-19 19:56] piwats commented on #26
The Setup I am using is described in #23.

[2016-04-19 20:04] piwats commented on #22
My initial setup as described in #23 was:

../PowerDNS-Admin
../venv

Now it is

../PowerDNS-Admin
../PowerDNS-Admin/flask

where venv = flask, meaning ```virtualenv flask```

[2016-04-20 00:08] ivanfilippov commented on #26
I've replicated your environment here and made a fix that works for me. Would you be able to test with my branch?

You'll need to add a new remote, fetch my branches and switch to the branch with the fix:
`git remote add ivanfilippov https://github.com/ivanfilippov/PowerDNS-Admin.git`
`git fetch ivanfilippov`
`git checkout breadcrumb_fix`

After that, restart uWSGI and see if that will work for yo

[2016-04-20 01:27] piwats commented on #26
Thank you! Seems to work 👍

[2016-04-20 02:26] ngoduykhanh commented on #22
For you description #23, they are:
[code]
Yes. you need the `env` (flask) directory in inside `PowerDNS-Admin` to make it work.

[2016-04-20 02:27] ngoduykhanh commented on #26
@ivanfilippov : Your changes look good to me. Please submit a PR. Thank you!

[2016-04-20 02:32] piwats commented on #22
That I have already changed. I think it is safe to close this issue.

[2016-04-20 02:32] #22 closed

[2016-04-20 02:36] ngoduykhanh commented on #25
@c0fe : Try to adjust your mysql configuration too, pay attention to `max_allowed_packet` and `timeout` values.

[2016-04-20 02:42] #17 closed

[2016-04-20 14:56] #26 closed

[2016-04-20 15:55] ivanfilippov commented on #9
Hi @ngoduykhanh

Thanks for your feedback! I've fixed the few issues you mentioned, added some extra logging. Also I missed some stuff in my previous testing and found that 'ddclient' does not understand the content of the response if it is not returned in an HTTP 200 response, so I reverted back to using 200 return codes for the dyndns parts of the code.

I'm going to test these changes in my env

[2016-04-20 22:48] ivanfilippov commented on #30
:+1:

I like this change, it makes comparing records much quicker.
Default:
![default](http://i.imgur.com/xE7G4Yl.jpg)
Monospaced:
![monospaced](http://i.imgur.com/OvcY959.jpg)

I have a sample implementation at https://github.com/ivanfilippov/PowerDNS-Admin/tree/fonts

@ngoduykhanh if you're interested in this change, I'll submit a PR.

[2016-04-20 22:51] ivanfilippov commented on #28
This is a good idea.  I have a sample implementation here https://github.com/ivanfilippov/PowerDNS-Admin/tree/width_fix

The end result looks like this:
![wrapping](http://i.imgur.com/e3kAcxD.jpg)

@ngoduykhanh Please review to let me know if my implementation works for you and I'll submit a PR.

[2016-04-20 22:53] ivanfilippov commented on #27
I like this idea as well, I've put up a sample implementation here https://github.com/ivanfilippov/PowerDNS-Admin/tree/width_fix for review

[2016-04-21 00:35] ngoduykhanh commented on #30
@ivanfilippov Yes, this font looks much more better than the default one. Feel free to submit the PR

[2016-04-21 00:48] ivanfilippov commented on #27
I somehow broke my branch and made an empty commit. I've now fixed that for review.

[2016-04-21 00:50] ivanfilippov commented on #30
Submitted PR #32

[2016-04-21 01:20] ngoduykhanh commented on #28
@ivanfilippov : for long line data, after pressing `edit` button i got no data. I think it is because the data field is currently a input text filed, not a text area.

I tried with:
Chrome: 49.0.2623.112
Safari: 9.1

[2016-04-21 01:27] ivanfilippov commented on #28
Weird, I'm not seeing that, I'm testing on:

Chrome: 50.0.2661.75
Firefox: 32.0.1
EDGE: 25.10586.0.0

I think it shouldn't affect the input field because they have static widths but I'm going to look into it.

[2016-04-21 02:26] ngoduykhanh commented on #28
Yes, it's weird, it tried on Firefox 45.0.2 too. All my test is on MacOS. I will try on a windows machine also.

Sample data:
[code]

[2016-04-21 05:18] ivanfilippov commented on #28
I've replicated it, has something to do with the doublequotes around that data (I was testing with long string without quotes).

[2016-04-21 05:24] ivanfilippov commented on #28
It happens in master as well, not sure when that broke, because I've created and modified TXT and SPF records in my environment before and all mine still have the double-quotes.

So the issue is that the double quotes get parsed as part of the HTML because the first double-quote closes the `value="` tag like so:
`<input type="text" class="form-control input-small advance-data" value="" v="DKIM1;"

[2016-04-21 06:29] ivanfilippov commented on #28
Oops, sorry about that didn't realize I'd spam this issue with my cleanup commits. Made a mess of a rebase and had to fix a whole bunch of stuff.

I've also submitted PR #33 to fix the blank input data field for review.

[2016-04-21 06:45] ngoduykhanh commented on #28
@ivanfilippov : it's ok. Your changes from branch `long_records_fix` and `string_escape_fix ` work fine for me. I think you can merge them. I also put a comment in your PR #33. Thank you.

[2016-04-21 06:56] ivanfilippov commented on #28
@ngoduykhanh Your comment on #33 is a good idea, do you want me to append it to that PR or make a new one? Once you merge #33, I'll rebase `long_records_fix` to make a clean merge and submit the PR.

[2016-04-21 06:57] ngoduykhanh commented on #28
@ivanfilippov : You can append directly. Thanks!

[2016-04-21 07:48] ivanfilippov commented on #28
PR to fix this submitted.

[2016-04-21 07:49] #28 closed

[2016-04-21 10:15] piwats commented on #30
Thank you all very much 👍

[2016-04-21 10:27] piwats opened #35 "Fonts from google are getting blocked if requested from http when PdnsAd. is run via https"
When running PowerDNS-Admin via https, and using Chrome, one gets the following error:

[code]

That is because of the links in the head:
[code]

The files in question are:

app/templates/base.html
app/templates/login.html

Related: #30

[2016-04-21 10:33] piwats opened #36 "Be able to select how many records are shown permamently"
Use case:

Domain with >150 records.
At the moment one has to select how many records are to be displayed from the standard setting of 15 to something convenient, like 20 or 'All'.

An default option to set how many records are to be shown would be nice.

(How about infinite scrolling/autoload? e.g. https://github.com/pklauzinski/jscroll)

[2016-04-21 10:41] piwats commented on #23
```virtualenv = /the_place_of/PowerDNS-Admin/flask``` was changed in accordance with #22

[2016-04-21 10:46] piwats commented on #30
Related: #35

[2016-04-21 10:53] #30 closed

[2016-04-21 14:25] TacoScheltema commented on #35
I believe the proper syntax should be
[code]
That way the browser will use the same protocol as it used to load the page itself.

[2016-04-21 15:23] ngoduykhanh commented on #35
Yes, It should be `//` instead of `http://` in the url. Fixed it commit bca3005

[2016-04-21 15:23] #35 closed

[2016-04-28 07:29] Trozz commented on #13
any movement on this?

[2016-04-29 18:29] ivanfilippov commented on #27
This is fixed in the `new_ui` branch. This is a new branch with a new template and I'm still testing it so I don't recommend it for daily use. Once merged into master this issue can be closed.

[2016-05-06 22:07] ivanfilippov commented on #13
I've started a very naive implementation of pdns 4 support in a new branch. You'll need to add `/api/v1/` to the end of your PDNS_STATS_URL in `config.py` when configuring the new code.

It works in my test environment with pdns 4.0.0-alpha1, but I would appreciate feedback from others.

The branch can be found here: https://github.com/ivanfilippov/PowerDNS-Admin/tree/pdns4-support

[2016-05-13 11:56] fredericmohr opened #39 "Feature: Add local Users"
The WebUI has a section "manage users", which is great but it lacks the option to add new users. This would be a great additional feature. I disabled registration after I created the first admin user, so nobody can register and mess with my dns records.

[2016-05-13 12:04] fredericmohr opened #40 "Unable to Delete Domain"
During PDNS setup, I created the test entries for example.com (see powerdns documentation).
After I installed PowerDNS-Admin, I created all my domains and their DNS records and resolution works fine.

However, I can't delete the example.com domain. I was able to delete all records for the domain, using the web UI, but when I go to manage -> delete domain and accept the permanent deletion, I get re

[2016-05-13 23:58] ivanfilippov commented on #39
Hi @fredericmohr

New users created via the registration system don't get access to any domains until an admin level user grants them access, so you shouldn't need to worry about that. :smile:

Your suggestion to add the ability to create users in the admin section is a great idea. I'll work on getting this implemented, but it might not show up until we've merged the new templating system (which i

[2016-05-13 23:59] ivanfilippov commented on #40
Hi @fredericmohr

Can you tell me what version of PowerDNS you're using?

[2016-05-14 00:47] ivanfilippov commented on #40
Hi @fredericmohr

I'm trying this on a fresh pdns-3.4.8 with the PowerDNS-Admin `master` and I can't replicate it. I created `example.com` using these queries:
[code]

Do you have the LOG_FILE parameter set in `config.py`? Not sure if it works as I expect it to in uwsgi mode, but check for its existence and see if that log is more useful.

You can also try running PowerDNS-Admin via `python run.py

[2016-05-14 00:48] ivanfilippov commented on #29
This enhancement is part of the 'new_ui' branch and will be implemented when that is merged.

[2016-05-14 00:54] ivanfilippov commented on #11
The main issue is now fixed in `master` with the merging of #18 that includes the following commit: https://github.com/ivanfilippov/PowerDNS-Admin/commit/64531999f655d7317efd74eda9cd20d9d06b0b18

The LDAP group based security discussion is unrelated to the issue title so I recommend this issue be closed.

[2016-05-14 00:57] ivanfilippov commented on #12
I think this issue might be related to a broken DB after the manual fix applied in issue #11. Since I can't replicate this issue via Active Directory or OpenLDAP and the reporting user hasn't returned I recommend this issue be closed.

[2016-05-14 09:33] fredericmohr commented on #39
Thanks, good to know. In our case, we only need two admin accounts (for
now) so I just added another via mysql directly.

On Sat, May 14, 2016 at 1:58 AM, Ivan Filippov <notifications@github.com>
wrote:

[2016-05-14 10:49] fredericmohr commented on #40
Strange, this problem only seems to occur in Firefox. Deleting in Chrome works fine. I added my DB Version, since I'm not using MySQL but MariaDB, but I don't think that's the problem. This looks Browser Specific (I'm on Kubuntu 16.04 btw)

    ubuntu@powerdns:~$ pdns_server --version
    May 14 10:33:57 PowerDNS Authoritative Server 3.4.8 (jenkins@autotest.powerdns.com) (C) 2001-2015 PowerDNS.COM

[2016-05-14 10:52] fredericmohr commented on #40
Oh, and another thing. In chrome, the domain still shows after the redirect, until I do a page refresh...

[2016-05-15 19:16] ivanfilippov commented on #40
Hi @fredericmohr

I was able to replicate both the Firefox and the Chrome issues. I've pushed a fix to this branch here: https://github.com/ivanfilippov/PowerDNS-Admin/tree/fix_domain_deletion_issues. Are you able to try it out to tell me if the issue is fixed for you as well? If it's fixed I'll merge it into the main repo.

[2016-05-15 20:32] ivanfilippov commented on #39
Hi @fredericmohr

I've added the create user functionality into the `new_ui` branch. You're welcome to try it out here:
https://github.com/ivanfilippov/PowerDNS-Admin/tree/new_ui

I'm almost done with this branch and we will most likely be integrating it into the `master` soon.

[2016-05-15 23:05] ivanfilippov commented on #13
Spoke too soon, this will need quite a bit more work to work properly with pdns4.

[2016-05-17 07:19] fredericmohr commented on #40
Works perfectly in both Chrome and Firefox now :)
Since I had to switch origin url to test the patch, will this be merged into this repository? Because currently I switched to the fork, which makes me a bit uneasy on a production server ;)

[2016-05-19 01:04] ivanfilippov commented on #40
Hi @fredericmohr

I've created PR #42 for @ngoduykhanh to review, once accepted you can switch back to master. :)

[2016-05-19 03:40] #40 closed

[2016-05-19 03:41] ngoduykhanh commented on #40
Hi @ivanfilippov ,

Your changes look good to me. Thank you for the PR. Merged.

[2016-05-19 11:07] olfway opened #43 "Auto PTR"
Please, add support for ptr records auto generation, probably with "Create PTR" checkbox

ie if i added "foo.bla.com. A 10.0.0.1" record and have domain "0.0.10.in-addr.arpa" configured,
then create "1.0.0.10.in-addr.arpa PTR foo.bla.com" too

[2016-05-21 16:38] TacoScheltema opened #44 "Can't change MX record"
Hi, when edit an MX record I get a popup with a dialog asking for Server Name and Priority, like you would expect. The server name that is already in the record that I'm editing isn't pre-filled in, instead the "Server Name" field says 'undefined'.
Then, when I fill in my server name and a priority of 10 it will add a record for it like so:
`@	MX	Active	3600	10 mx1.example.com`

but when I then cl

[2016-05-22 02:32] ngoduykhanh commented on #44
@TacoScheltema
That error message came from pdns api. May i know which version of PowerDNS are you using? I can't reproduce the issue with PowerDNS Authoritative Server 3.4.8

[2016-05-22 10:04] TacoScheltema commented on #44
I have 3.4.1-4+deb8u5 which is the latest for my distro (Debian 8.4). I've tried to enable logging of json in powerdns (experimental-logfile option) but that doesn't seem to do anything.
Adding a new MX record produces the same error.

Should I try a different apt source to get a newer version of powerdns?

[2016-05-22 14:35] TacoScheltema commented on #44
I switched to jessie-backports and upgraded to 3.4.7-1~bpo8+1, this fixed the issue for me.
perhaps worth mentioning in the installation guide?

The steps I took were as follows:

Add the following line to /etc/apt/sources.list
`deb http://ftp.de.debian.org/debian jessie-backports main`

run
`apt-get update`

run
`apt-get -t jessie-backports install pdns-server pdns-backend-mysql`

I didn't have t

[2016-05-26 02:36] ivanfilippov commented on #44
The issue exists in 3.4.1 and not in 3.4.2 which means it's most likely the API priority change that happened between those two releases. Here is the PowerDNS commit that contains the change:
https://github.com/PowerDNS/pdns/pull/2143/files

Here is the reference to the change in the PowerDNS documentation:
https://doc.powerdns.com/md/authoritative/upgrading/

@ngoduykhanh Do you think we should u

[2016-05-26 02:44] ngoduykhanh commented on #44
@ivanfilippov : Yes, I think we should update the documentation to reflect that we only support pdns >= 3.4.2. Since there will be a lot of change with pdns api in later version, let's start supporting from v3.4.2 :).

[2016-06-07 10:14] ngoduykhanh commented on #13
@ivanfilippov : I've pushed some adjustments to support pdns v4.x.x in our `new_ui` branch.
Features are working:
- Add a domain
- Show domain/record table
- Adding a records.

Still have problem with multiple records adding which described at https://github.com/ngoduykhanh/PowerDNS-Admin/issues/5#issuecomment-181637576 in my adjustment.

Let me know if you have any idea/adjustment.

[2016-06-08 02:24] ivanfilippov commented on #13
@ngoduykhanh I fixed the multiple record adding issue in this commit: https://github.com/ngoduykhanh/PowerDNS-Admin/commit/812aa055f858c09e4324ad043e8172821264df4d

During testing I noticed that the new PDNS API won't accept MX or SRV records unless they are suffixed by a '.'. This looks like it's part of the spec for MX and SRV records, so I'll work on adding that in as well just for the new API

[2016-06-08 02:44] ivanfilippov commented on #13
@ngoduykhanh I fixed the '.' issue with MX and SRV records I mentioned above, but I'm not sure that the way I fixed it is the best way. Can you review it? Commit here: https://github.com/ivanfilippov/PowerDNS-Admin/commit/b9f57e8cfec5addc0e278f9228904c610ee2cf38

[2016-06-08 03:00] ngoduykhanh commented on #13
@ivanfilippov : I am OK with your change. But it looks like we need more than `MX` and `SRV` here. `CNAME`, `NS` also requires trailing dot in their content.

p/s: pdns v4.x.x requires to add a trailing dot in the records `name` and `content`, but the trailing dots aren't saved in the pdns's database actually :)

[2016-06-08 03:07] ivanfilippov commented on #13
@ngoduykhanh I noticed that the pdns database does not save the dots as well, but pdns itself must add them when responding to queries. I wonder why they decided to do that.

We'll need to add CNAME and NS to this line: https://github.com/ivanfilippov/PowerDNS-Admin/commit/b9f57e8cfec5addc0e278f9228904c610ee2cf38#commitcomment-17781503

Go ahead and add those two in if you're free, I won't have a

[2016-06-08 03:10] ngoduykhanh commented on #13
@ivanfilippov : I see. I will take care of adding those two in. thanks Ivan.

[2016-06-08 04:05] ngoduykhanh commented on #13
Pushed commit aad9d920389d675f19dd7f28b41c53ccb6f2d12c for those changes.

[2016-06-08 04:35] ivanfilippov commented on #13
@ngoduykhanh

Thanks!

By the way, I'm going to remove my own `new_ui` branch and push directly to the one in your repo, having my own branch and keeping it in sync is becoming a pain. :smile:

[2016-06-08 04:48] ngoduykhanh commented on #13
@ivanfilippov
Yes, you should do that. Thanks buddy :)

[2016-06-08 20:41] dfiel opened #47 "Master & Slave NS Setup"
Hello All,

I followed the [DigitalOcean tutorial](https://www.digitalocean.com/community/tutorials/how-to-configure-dns-replication-on-a-slave-powerdns-server-on-ubuntu-14-04) to set up master and slave servers. In order for the domain to replicate, there must be 2 NS records in the domain. I don't see an option to add NS records. Am I missing something?

[2016-06-08 22:30] ivanfilippov commented on #47
Hi @dfiel

Thanks for trying PowerDNS-Admin! You'll need to add the NS record type into `config.py`. Find the line that says this:
`RECORDS_ALLOW_EDIT = ['A', 'AAAA', 'CNAME', 'SPF', 'PTR', 'MX', 'TXT']`
and change it to this:
`RECORDS_ALLOW_EDIT = ['A', 'AAAA', 'CNAME', 'SPF', 'PTR', 'MX', 'TXT', 'NS']`

Let me know if that helps. :smile:

[2016-06-09 01:24] ivanfilippov commented on #36
I've added this feature into the `new_ui` branch. It will be in mainline once that's merged.

[2016-06-09 01:29] dfiel commented on #47
@ivanfilippov Yes, that worked. Now I just have to get the actual syncing of records to work. Would you know anything about that?

[2016-06-09 01:29] ivanfilippov commented on #24
We haven't heard from @c0fe in over a month, I think we should close this issue. What do you think @ngoduykhanh?

[2016-06-09 01:30] ivanfilippov commented on #25
We haven't heard from @c0fe in over a month, I think we should close this issue. What do you think @ngoduykhanh?

[2016-06-09 01:51] ivanfilippov commented on #47
This is how you'd configure a traditional master/slave setup:
- Make sure you have `allow-axfr-ips=<your slaves IP address>` set in the masters `/etc/powerdns/pdns.conf`.
- Add a new domain as a master on the PowerDNS-Admin instance on the master
- Add the same domain as a slave on the PowerDNS-Admin instance on the slave (making sure to enter the masters IP address when you do it)
- That's it, Po

[2016-06-09 02:33] ngoduykhanh commented on #24
@ivanfilippov : Yes, I think so. Closing the issue.

[2016-06-09 02:33] #24 closed

[2016-06-09 02:33] ngoduykhanh commented on #25
@ivanfilippov : Yes, I think so. Closing the issue.

[2016-06-09 02:33] #25 closed

[2016-06-09 02:35] #23 closed

[2016-06-09 21:51] dfiel commented on #47
@ivanfilippov How long does this usually take to propagate? My settings look like this:

     +---------------+------------------------+---------+
     | ip            | nameserver             | account |
     +---------------+------------------------+---------+
     | 104.XXX.61.XX | ns2.XXXXXXXXXXXXXX.xyz | admin   |
     +---------------+------------------------+---------+

The correct master I

[2016-06-10 00:53] ivanfilippov commented on #23
Documentation added here: https://github.com/ngoduykhanh/PowerDNS-Admin/wiki/uWSGI-example

[2016-06-10 00:56] ivanfilippov commented on #47
Your settings look good to me. To confirm, the supermaster snip you pasted above is on the slave server and the screenshot is from master, correct?

Also, have you tested to make that your slave can access and query the master? Something like running `dig ns1.yourdomain.com @yourmastersIP` on the slave should do it.

[2016-06-10 21:57] dfiel commented on #47
@ivanfilippov Yes, the MySQL results are on the slave, and the screenshot is from my master server.

Using dig as you mention returned the correct IP as an A record.

[2016-06-13 19:28] Trozz opened #48 "Minify JS / CSS"
Hey @ngoduykhanh

Not sure if you would want a PR or not but on my fork I have minified the JS/CSS in efforts to increase the speed on large deployments.

Let me know if you want it and ill send a PR

[2016-06-14 05:00] ngoduykhanh commented on #48
Hi @Trozz ,

Thank you for your idea. It is good to use minified JS/CSS files in the production environment. But we should do that in the deployment process. I prefer keeping normal JS/CSS for easy code maintenance in Github.

Regards,

[2016-06-18 09:11] ngoduykhanh commented on #9
Hi @ivanfilippov

How was your test? is everything work fine?

[2016-06-20 10:07] ngoduykhanh commented on #9
btw I synced the code to the `new_ui` to branch in commit 39648294b79ba538ec219a2c7f606a2ed029085e. It works as I expected. Let me know your about test.

[2016-06-21 22:13] ivanfilippov commented on #9
Hi @ngoduykhanh

My tests have been going well, I think this is good to go. :smile:

[2016-06-21 22:15] ivanfilippov commented on #47
Hi @dfiel

Sorry for the delay. This may be a bit beyond my abilities, you might want to ask for help on the PowerDNS forums/github.

[2016-06-21 22:19] ivanfilippov commented on #9
When do you think we should merge `new_ui` into master?

[2016-06-23 02:40] ngoduykhanh commented on #9
@ivanfilippov : All good for me so far. I think we can merge it now. Do you still have something need to do with this branch?

[2016-06-23 02:40] #48 closed

[2016-06-25 02:59] ivanfilippov commented on #9
No, I think all the functionality from the old ui is in `new_ui` and we can merge. :smile:

[2016-06-26 12:45] #29 closed

[2016-06-26 12:45] #36 closed

[2016-06-26 12:45] #39 closed

[2016-06-26 12:55] ngoduykhanh commented on #9
@ivanfilippov : thank you for your confirmation. I've merged it. This issue can be closed also :)

[2016-06-26 12:55] #9 closed

[2016-06-26 12:57] ngoduykhanh commented on #27
We can set the width 100% now with PR  #50

[2016-06-26 12:57] #27 closed

[2016-06-26 12:58] ngoduykhanh commented on #13
PDNS 4.x.x is supported now with PR #50 . Feel free to open issues related to PDNS 4.x.x compatibilities.

[2016-06-26 12:58] #13 closed

[2016-06-26 13:26] piwats opened #51 "Error 500..."
Somehow I cannot get PowerDNS-Admin to work under uwsgi.
The latest errors I get are like this one:

[code]

[2016-06-26 13:57] ngoduykhanh commented on #51
Problem was caused by the recent PR #50 . Please pull the latest update and run following command to update your powerdns admin database

[code]

[2016-06-26 15:52] piwats commented on #51
I've reinitialized the db completely. It seems I get it to work again. But now I get this, when I try to load a domain:

[code]

[2016-06-26 16:10] ngoduykhanh commented on #51
@piwats  Have you pulled the latest code?

[2016-06-26 16:42] piwats commented on #51
Now it seems to work...

[2016-06-27 02:54] #51 closed

[2016-06-27 13:58] piwats opened #52 "Under uwsgi, some actions lead to 404 errors."
When I want to toggle the fullscreen_layout f.e. I get the following error message inside my logs:

[code]

Nothing happens thereafter. Basically all the new settings are affected by this.

[2016-06-27 19:46] ivanfilippov commented on #52
Hi @piwats,

Is the PDNS-Admin uWSGI at root or in a sub-folder(like: http://host/powerdns/)?

Let me know because that's likely the problem and I'll look into fixing that so that it works in both setups.

[2016-06-27 19:47] TacoScheltema opened #53 "Wrong record is deleted"
Hi,

I've setup a domain with the following records (domain names and ip addresses have been changed here for the example of course)
[code]
When I then try to delete a record it's always deleting the topmost record instead of the selected record.

I am using Powerdns 3.4.7
[code]

I did a `git pull origin` earlier today.
Is this something in my setup or could this be a bug?

[2016-06-27 20:29] piwats commented on #52
I have it under a subdirectory running, like host.tld/xy/pdns-admin.

[2016-06-27 20:54] piwats commented on #52
Same happens, if I try to apply changes.

[2016-06-28 17:24] ngoduykhanh commented on #53
Fixed in commit 50973a295c9dbbcf1be18f004366f7d5662668a7. Thanks for reporting.

[2016-06-28 21:13] TacoScheltema commented on #53
Yes, it's working now. Thanks for the quick fix 👍

[2016-06-28 21:48] TacoScheltema opened #54 "template for new domains"
A thought for a new feature:

Having an editable template to be applied when adding a new domain. Application of the template should be optional.

[2016-06-29 00:33] piwats commented on #54
+1, also if possible to have multiple templates to choose from / and also to be able to combine them.

[2016-06-29 02:16] #53 closed

[2016-06-30 12:04] CaptainQwark opened #56 "current version cannot insert/update any records with PDNS 4.0.0"
Hi,

It seems that I cannot make any changes to records with pdns 4.0.0 (rc2).
Is this a known issue (as there seems to be support for 4.0.0)?

I'm willing to work on this issue if it's known to be broken with 4.0.0 (and someone else isn't doing that already)

Thanks,
Alex.

[2016-06-30 15:15] ngoduykhanh commented on #56
It works for me on version `4.0.0~alpha2-3build1` (on ubuntu 16.04). I haven't tried version 4.0.0 (rc2) yet. Can you give more detail on the error you got?

[2016-06-30 15:31] CaptainQwark commented on #56
not much. the gui just says:
{ "msg": "There was something wrong, please contact administrator", "status": "error" }

and in the debug log:
2016-06-30 17:27:17,004 - MODEL - ERROR - Cannot apply record changes to domain While fetching http://127.0.0.1:8081/api/v1/servers/localhost/zones/test123.com: 'content-type'. DETAIL: test123.com
2016-06-30 17:27:17,007 - werkzeug - INFO - 172.20.15.252 - - [

[2016-06-30 16:30] tony-o opened #57 "PSQL Support?"
Do I need to install MySQL or is there a flag or something I can use to use postgres?

[2016-06-30 16:51] ngoduykhanh commented on #57
Yes, PowerDNS-Admin can use Postgresql. check the wiki for more information https://github.com/ngoduykhanh/PowerDNS-Admin/wiki/Using-PowerDNS-Admin-with-PostgreSQL

[2016-06-30 21:41] CaptainQwark commented on #56
I've tracked down the problem with pdns 4.0.0.
the problem is that pdns doesnt return any json (or any content) if everthing went fine.  It just returns a 204 and no body.

this is easyly fixable in utils.py by adding something like:
[code]

But that needs handling in models.py as well. At least in Records.apply() but probably in other places as well. I have it working now but need to check other

[2016-07-01 01:18] trenb opened #58 "Info buttons on items in history do not work on pages other than the first"
If I click "info" on any history items on page 1, it displays as expected. But once on page 2, the info button does nothing.

I am on git commit 17be7ba, running on CentOS 7. Please let me know if you need more info or details.

Thanks!

[2016-07-01 03:06] pirogoeth opened #59 "Login does not complete behind a reverse proxy"
For example, my BIND_ADDRESS is `10.0.0.1`, and I've got a reverse proxy serving it. When login happens and the user is redirected, for some reason, it redirects to `10.0.0.1:9393`. Is there a way to override this behaviour?

[2016-07-01 19:41] trenb commented on #58
As well, if I change the sort order in the history, the info buttons stop working.

[2016-07-01 19:51] CaptainQwark commented on #56
just returning an empyt dict solved the problem and didn't need further changes in models.py.
See PR #60

[2016-07-01 20:10] trenb opened #61 "Allow dyndns to create host record if it doesn't exist"
Would it be possible to allow host records to be created via dyndns if they don't exist, but so long as the user has rights to the domain?

[2016-07-01 21:18] trenb opened #62 "Dyndns - /nic/checkip.html doesn't seem to work"
All I get is "None" as a response when I call it. Am I missing something? I thought this was supposed to return the IP you're coming from.
[code]

Thank you!

[2016-07-01 22:04] trenb commented on #62
#63 Fixes this for me
[code]

[2016-07-01 22:06] trenb commented on #62
lol, you're too fast for me! Thanks for looking into this and fixing it.

[2016-07-01 22:07] ivanfilippov commented on #62
NP, I'll wait for @ngoduykhanh to accept the PR.

[2016-07-01 22:10] ivanfilippov commented on #61
I like this idea in, but I'd like for it to be a setting, on a per domain basis. We don't have a way of setting per-domain settings yet but probably should look for into creating one.

@ngoduykhanh what do you think?

[2016-07-01 22:11] ivanfilippov commented on #59
Hi @pirogoeth

My primary environment is behind an nginx proxy and it seems to work for me, can you share a little bit more about your setup?

[2016-07-01 22:12] ivanfilippov commented on #44
This has been merged and fixed.

[2016-07-01 22:12] #44 closed

[2016-07-01 22:25] trenb commented on #61
Agreed. For us it allows newly provisioned hosts to be added to DNS as soon as they're turned up as we include ddclient as a standard part of our provisioning.

[2016-07-01 22:33] ivanfilippov commented on #58
Fixed in #65

[2016-07-02 00:51] ivanfilippov commented on #52
Hi @piwats

Are you able to try the following branch https://github.com/ivanfilippov/PowerDNS-Admin/tree/scriptroot_fix ? I'd like to make sure I'm not missing anything.

I have applied a fix that works for me in the below four scenarios:
- directly via Flask
- Flask running behind an nginx reverse proxy
- running under uWSGI without a subfolder
- running under uWSGI with a subfolder

[2016-07-02 03:47] #62 closed

[2016-07-02 03:51] #58 closed

[2016-07-02 03:54] #57 closed

[2016-07-02 04:04] ngoduykhanh commented on #56
That's a weird behavior of pdns i think. Maybe because of unstable version?
The `status_code` should be checked in the `fetch_remote` function as I commented on your PR.
btw, what is the response header did you get? I am interested in what did you get in `r.headers['content-type']`.

[2016-07-02 04:07] ngoduykhanh commented on #59
I works fine for me with setup of PowerDNS-Admin+Nginx (as reverse proxy).  From my experience, this might caused by the nginx config, can you share your setting?

[2016-07-02 04:16] ngoduykhanh commented on #61
There is no public dyndns service provider allow to do this. Because of security and records management. But in internal use, in one of server provisioing step, using ddclient to provision the host's domain name is a really good idea.

I agree with you @ivanfilippov, this should be a setting. By default we won't allow this, but we can have a setting to "turn it on" for specific domains.

[2016-07-02 04:24] ivanfilippov commented on #61
I have an implementation of domain specific settings almost ready with this
dyndns feature as the first use case. I'll submit it for review in the next
day or so.
On Jul 1, 2016 10:16 PM, "Khanh Ngo" <notifications@github.com> wrote:

[2016-07-02 08:38] CaptainQwark commented on #56
Below is the output of curl for a PATCH request. No content-type is given. Probably logical for a zero byte 204 reply :).

And this behavior is actually documented here [https://doc.powerdns.com/md/httpapi/api_spec/](url):

and: [https://httpstatuses.com/204](url) so returning a 204 seems quite logical here.

curl output:
[code]

[2016-07-02 10:38] ngoduykhanh commented on #56
Thanks @CaptainQwark  for figuring it out. `204` is the new http response code in pdns 4. I've commented in your PR and merged it.

[2016-07-02 15:11] jallakim opened #66 "Gravatar"
Hi,

Could Gravatar-support be added, as an alternative to uploading avatars?

[2016-07-02 16:47] jallakim opened #67 "LDAP as default on login.html"
Hi,

When LDAP is enabled; could it also be the default in the authentication-dropdown list? Or at least configurable to be the default choice?

I could of course just edit ```app/templates/login.html``` and alter it there, but would be nice if it was configurable in some way.

[2016-07-02 17:26] ivanfilippov commented on #61
Hi @ngoduykhanh

Please review this new branch: https://github.com/ivanfilippov/PowerDNS-Admin/tree/per_domain_settings

If you don't see see any issues I'll submit a PR.

@trenb you're welcome to try that branch as well. :smile:

You'll need to do a DB migrate/upgrade if you're not doing a fresh install.

[2016-07-02 17:33] ivanfilippov commented on #61
@ngoduykhanh

I'm waiting for user testing on branch `scriptroot_fix` from #52, there is one place in the new `per_domain_settings` branch that will need the scriptroot_fix as well. Can you help test the `scriptroot_fix` branch? If it looks good I'll PR that and then update the `per_domain_settings` branch.

[2016-07-02 17:33] #47 closed

[2016-07-02 17:46] jallakim opened #68 "Enable/disable DNSSEC"
Hi,

Slightly relevant to #2 -- is PowerDNS-Admin supposed to automatically detect if a zone is DNSSEC-enabled?

Currently I have a zone that I have DNSSEC-enabled (via the proper PowerDNS utilities), and the different keys are present. The domain is still listed as "Disabled" within PowerDNS-Admin. However, clicking the "Disabled"-button, it shows the relevant DNSSEC-information.

I looked at the

[2016-07-02 17:48] jallakim commented on #68
Another thing; the "Enabled"-button (when ```dnssec = true```) should probably have a green (or green-ish) background (and not the grey it currently has).

[2016-07-02 18:00] jallakim commented on #56
Works for me just fine in 4.0.0rc2.

Thanks!

[2016-07-02 18:01] trenb commented on #61
I get an error from both db_migrate.py and db_upgrade.py. They both complain about:

Which there is no directory for that. Am I missing files from this branch? Also, where are the settings for enabling this feature? The settings screen is the same as it was before. And if I try to admin a domain, everything blows up, assuming because I'm not running the correct DB version.

Looking forward to tryi

[2016-07-02 18:17] jallakim opened #69 "default_domain_table_size"
Hi,

Should add ```default_domain_table_size``` that defines the default number of domains to show. Currently this can only be changed by manually adding ```pageLength``` to ```app/templates/dashboard.html```.

[2016-07-02 18:18] jallakim commented on #69
(sorry for the spam -- just writing down all impressions/thoughts as I work through the software "for the first time").

[2016-07-02 20:08] ngoduykhanh commented on #61
Thanks @ivanfilippov for the quick implementation. I've tried your code but it doesn't work. There 2 issues I can see now are:
- The checked box isn't checked after we applied the change successfully.
- Cannot get the domain id which is allowed in the DomainSetting table (I've commented about the error in your code)

- @trenb : The `db_repository` directory was created when you run `create_db.py`.

[2016-07-02 21:18] trenb commented on #61
@ngoduykhanh Aww. That original directory is long since gone. Is there a way to regenerate it?

[2016-07-03 00:01] trenb commented on #61
@ngoduykhanh Ah well, I flattened my install and started fresh. I'll ensure I keep that db_repository directory, though it doesn't seem to actually be filled with anything other than empty py files.

@ivanfilippov The feature is tested and it does add the record. However it's marked as "disabled". Is this expected?

Thank you for your work! Let me know if you need any other information.

[2016-07-03 00:35] ivanfilippov commented on #61
@trenb You're right about the disabled thing. I've fixed that in the latest commit to that branch.

@ngoduykhanh I can't seem to replicate the checkbox issue on my side. When I check it, the browser does the javascript call and the checkbox stays checked after it succeeds. I'll keep trying to replicate but I'm probably missing something.

Also, for your comment in the code the `DomainSetting.domai

[2016-07-03 00:39] trenb commented on #61
@ivanfilippov I've got that, tested and working perfectly now. Thank you!

[2016-07-03 03:33] ngoduykhanh commented on #61
@ivanfilippov

I see. I've tried again.  The exception which I got is:
[code]

Looking to the DB I see:
[code]

It means that `ondemand_creation.value` is a string with value `true` and cannot be parsed into integer. But why the value is `true` instead of `1` or `0` ? I realize that the [new_value](https://github.com/ivanfilippov/PowerDNS-Admin/commit/4eb5862ecbb0316f25a4a8c72f39f0c5bcd74f5b#diff-

[2016-07-03 03:53] ivanfilippov commented on #61
Good call, I'm using MySQL, I'll make the change to put in True instead of
the integer.

Ivan Filippov
On Jul 2, 2016 21:33, "Khanh Ngo" <notifications@github.com> wrote:

[2016-07-03 04:32] ivanfilippov commented on #61
I think I've got it, check this commit https://github.com/ivanfilippov/PowerDNS-Admin/commit/b096788cf1e3ef24801b43819d23e28ad6708090

It now stores the string representation of `True` and `False` and still works fine in MySQL. @ngoduykhanh  can you try with pgSQL (I don't have a pgSQL environment ready)?

[2016-07-03 04:58] ngoduykhanh commented on #61
I have test with my Postgresql env, it works fine if the setting is preset. Just 2 more small adjustment need to be done. I've commented in your code. Thanks @ivanfilippov

[2016-07-03 10:04] TacoScheltema commented on #68
I totally agree with the green background for the dnssec button. I would also prefer if the width of the enabled button is the same as the disabled button, I think that would look better in the layout.

[2016-07-03 11:43] TacoScheltema opened #70 "Password reset option"
Hi,

I'm missing an option to reset the password for a user when logged in as administrator.

I think it would be nice to have an option where an administrator can send an email with new (generated) password to a user.

Also would be nice to have a 'forgot password' option on the login page so that a user can have a password reset url sent to his email address.

[2016-07-03 18:43] ivanfilippov commented on #61
Thanks for the comments! Try https://github.com/ivanfilippov/PowerDNS-Admin/commit/e0461a52107d30c6121a09f7e83b46ca5db73fba and let me know what you think.

[2016-07-03 18:58] ivanfilippov commented on #68
@jallakim I've replicated your issue, I'll look into it.

@jallakim @TacoScheltema The button should be green, that was something I missed during the migration from the old template into the new one. I've made the fix and I'll push it alongside the rest of the fix for the problem @jallakim described.

[2016-07-03 19:29] ivanfilippov commented on #68
@jallakim I spoke too soon, I replicated an issue but not your specific issue. It looks like there is a delay between modifying the domain via `pdnsutil` and the pdns API showing the change (the delay is somewhere between 1 and 5 seconds, and its randomness makes me think there is a rolling timer that updates the data after a change with `pdnsutil`), see the below log. I've bolded the times I ran

[2016-07-04 01:29] #11 closed

[2016-07-04 01:29] #12 closed

[2016-07-04 01:34] ivanfilippov commented on #56
This is resolved.

[2016-07-04 01:34] #56 closed

[2016-07-04 02:19] #68 closed

[2016-07-04 02:31] ngoduykhanh commented on #61
It looks like you missed one of my comments. The last one is about the checkbox's value after changing from integers to True/False string. See [comment](https://github.com/ivanfilippov/PowerDNS-Admin/commit/4eb5862ecbb0316f25a4a8c72f39f0c5bcd74f5b#commitcomment-18106753). I think you can create the PR after that. Thanks.

[2016-07-04 09:39] jallakim commented on #68
@ngoduykhanh, this issue is not fixed. I'll look into it later today with more details/answer to @ivanfilippov's comment.

[2016-07-04 10:01] jallakim commented on #68
The width needs to be changed;

![DNSSEC button width](http://files.jocke.no/b/dump_2016-07-04_11.59.42.png)

I'll look at the other issue later.

[2016-07-04 11:42] jallakim commented on #68
@ivanfilippov, tested it now.

1. Created a new domain within PowerDNS-Admin. Set NS + A-records, and pushed/updated (so that it would propagate throughout to the slaves/whatnot. The DNSSEC-button is gret, and no DNSSEC-info is displayed.

![Updated domain](http://files.jocke.no/b/dump_2016-07-04_13.32.16.png)
![No DNSSEC](http://files.jocke.no/b/dump_2016-07-04_13.32.28.png)

2. Then made the DNS

[2016-07-04 15:16] ngoduykhanh commented on #68
@jallakim : I guess you are using PostgreSQL as DB backend for PowerDNS-Admin, right?.
@ivanfilippov : The issue is the `dnssec` value isn't reloaded when we run `domain.update()`. It is same issue with #61 which is related to how we store the Boolean value in the PostgreSQL.

Fixed in 0bd488b9bc69fc8ee78a74ddceea61ebca0b4852

[2016-07-04 15:22] ivanfilippov commented on #68
@ngoduykhanh Nice find!

While you're in there, can you also fix the width of the buttons themselves that I tried here: https://github.com/ngoduykhanh/PowerDNS-Admin/commit/d0c40c09e521f588b272c48cacd797c384079dc8

I'd say get rid of the `col-md-6` and just set the width with a `width="10%` or something similar (like we do for the edit and delete buttons in the domain.html template)

[2016-07-04 15:43] jallakim commented on #68
@ngoduykhanh, correct, I'm using PostgreSQL as backend.

[2016-07-04 15:45] ngoduykhanh commented on #68
The width of DNSSEC column can be changed when the use resize their windows. I can't make sure 10% or something similar can fit the text so I set it to 100% width of the column in 7a0327d29000547f78d412cc47e8c3a1b8ab8309  for the quick fix. It looks good to me, let me know if you don't like it :D

<img width="1015" alt="screen shot 2016-07-04 at 10 41 07 pm" src="https://cloud.githubusercontent.co

[2016-07-04 15:51] jallakim commented on #68
Works like a charm now. Thanks!

The 100% width is fine by me. Maybe a bit "intrusive" (due to it's size), but at least much better than "Enabled" and "Disabled" both being gray (-:

[2016-07-04 17:00] jallakim opened #72 "Sorting of records"
Hi,

Sorting of records should probably take numbers into account. Specially for IPv4 PTR zones.

In the below example, I would expect the first page to be filled with 0-14 (and not 0,1,100-109,11,110).

![Sorting](http://files.jocke.no/b/dump_2016-07-04_18.58.47.png)

[2016-07-04 17:56] jallakim commented on #72
Fixed in #73 by implementing the Natural Sort plugin for DataTables.

![Natural Sort](http://files.jocke.no/b/dump_2016-07-04_19.55.41.png)

[2016-07-04 18:00] jallakim commented on #72
Only implemented on column 0 (name) and 4 (data) for the domain.html template.

[2016-07-05 12:06] jallakim opened #74 "TTL for NS-records is "stuck""
Hi,

Trying to change the NS-records for my domains. They are defaulted to 3600 (1 hour). Trying to change these to 86400 (24 hours). I set the value (for all the NS-records), hit "Save", then "Apply". Update successful. Refresh domain/page, old values are displayed (and is also what resides in the DB).

PowerDNS 4.0.0rc2 + PostgreSQL DB backend.

[2016-07-05 12:40] jallakim commented on #74
1. "Apply"-button calls for ```/domain/$domain/apply```, which hits ```record_apply()```.
2. Records sent to ```Record.apply()``` has new TTL value (86400).
3. Records in ```for r in new_records:``` have new TTL value.
4. ```final_records``` does **not** have new TTL value (it's now been replaced with the old value).

[2016-07-05 12:42] jallakim commented on #74
Culprit seems to be related to ```NEW_SCHEMA```, and in turn changes done in #5.

[2016-07-05 12:50] jallakim commented on #74
[code]

This sets the TTL of a record to whatever is stored first in ```records``` (after the sort). Probably not what we want...

[2016-07-05 13:41] jallakim commented on #74
I've patched it successfully, but there needs to be more logic in ```Record.apply()```. The API in 4.0.0 seems to limit the TTL to be set per RRset-entry, which means that the logic should handle each TTL for each type of RRset.

https://doc.powerdns.com/md/httpapi/api_spec/#url-apiv1serversserver95idzoneszone95id

E.g. if we have one NS-record with TTL 3600 and another NS-record with TTL 86400, t

[2016-07-05 14:02] jallakim commented on #43
https://doc.powerdns.com/md/httpapi/api_spec/#url-apiv1serversserver95idzoneszone95id

[2016-07-05 14:05] jallakim commented on #74
How is the API supposed to handle different TTL's?

According to https://doc.powerdns.com/md/httpapi/api_spec/#url-apiv1serversserver95idzoneszone95id ;

So, since changetype is REPLACE, all records with same name/type are deleted, and then re-created. Since TTL now is set per RRset, this means records not matching the TTL, would be deleted. For good.

[2016-07-05 14:30] jallakim opened #76 "Show warning if different TTL for records with same name + type"
As per #74, we should show a warning if trying to "Apply" where records of same name **and** type has different TTL's.

For example;
[code]

Should yield a warning. Currently one of the records would be deleted when hitting "Apply".

[2016-07-05 15:20] pirogoeth commented on #59
Sorry for the delay -- here's my nginx config:
[code]

[2016-07-06 01:24] ivanfilippov commented on #61
Fixed and PR submitted.

Thanks for all your help @ngoduykhanh  :smile:

[2016-07-06 01:27] ivanfilippov commented on #54
I'm working on a basic implementation of this.

[2016-07-06 02:20] #61 closed

[2016-07-06 02:21] ngoduykhanh commented on #61
Merged. Thanks @ivanfilippov

[2016-07-06 02:24] #72 closed

[2016-07-06 02:25] ngoduykhanh commented on #72
@jallakim : This is a great enhancement. Thank you for your contribution!

[2016-07-06 02:30] #67 closed

[2016-07-06 02:39] ngoduykhanh commented on #69
Thanks @jallakim  for your contribution. I merged your PR.

To whom the database was already created. Need to run migration script and insert more fields in the setting table.

[code]

[2016-07-06 02:39] #69 closed

[2016-07-06 08:22] jallakim opened #80 "Use IPv6 address in PTR records"
Hi,

Would be far more "user friendly" if IPv6 addresses could be used directly in the "Name" column for IPv6 PTR zones. I'm coming from the BIND-world, where static text-configuration files where used, and having a /32 IPv6 zone it was quite useful to have different sections in the configuration file for each /64 using ```$ORIGIN```.

This is not possible in PowerDNS (afaik, at least), so some ki

[2016-07-06 09:12] jallakim commented on #80
I plan to implement this at some point (unless someone beats me to it). Just made the issue to address the issue, and to keep track of it.

[2016-07-06 15:47] piwats commented on #52
Sorry for the delay.

I tried your fixed repo and the original one. Now I get a 500 Error, too many redirects:

[code]

[2016-07-06 15:49] ngoduykhanh commented on #52
@piwats : due to PR for issue #69 . Please follow my last comment there to update your db.

[2016-07-06 16:28] jallakim commented on #61
create_db.py needs an update for this too? On a general note; how to address database changes for existing users? db_upgrade.py only handles the actually upgrade of version/whatnot, and does not address new/updates schemas?

[2016-07-06 16:30] jallakim commented on #61
Would be nice to add some ```CREATE TABLE``` stuff for this change as well, so we don't have to reverse-engineer what types of columns/whatnot (-:

[2016-07-06 16:32] joachimtingvold opened #82 "Set default TSIG-key upon domain creation"
Hi,

Whenever the metadata-API is made available, PDA should make related metadata-entries upon creation of the domain (and even better; make them editable). Specifically TSIG-information, so that zone transfers are signed.

https://doc.powerdns.com/md/httpapi/api_spec/#url-apiv1serversserver95idzoneszone95namemetadata

[2016-07-06 16:33] jallakim commented on #61
And yes, the above commit/merge broke the Admin-page;

[code]

[2016-07-07 06:09] #52 closed

[2016-07-07 19:38] jallakim commented on #74
I guess the PR (#75) could be more a bit more "nice" and/or smart about it. That is, don't delete, but set both to the same TTL value (either from DB, or the new TTL). I'll take a look at it. Then the warning-suggestion (#76) would be "obsolete".

[2016-07-11 01:56] alythemonk opened #85 "Safari and PowerDNS-Admin"
Doesn't work super well in Safari, especially in editing the profile area. Had to use Chrome for this. Would it be possible to solve this ? Thanks.

[2016-07-11 18:44] TacoScheltema commented on #85
Hi, thank you for your report. To help out the developers a bit, would you be able to describe what is  going wrong in safari? do you see any error messages? is the layout different in safari compared to chrome? is something not functioning in safari?
Please provide as much information as you can, for instance the steps you took to get to the problem you're describing.

Thanks.

[2016-07-13 04:31] ivanfilippov commented on #59
@pirogoeth

Sorry for delay. I've replicated your issue, to fix it add the below line to your `location /` block.

`proxy_set_header Host $host;`

[2016-07-13 04:36] ivanfilippov commented on #85
@alythemonk

Looks like a recent version of Safari is not available for Windows. Can someone with a Mac confirm or provide more insight?

[2016-07-13 04:46] ngoduykhanh commented on #85
@ivanfilippov : I am using Safari Version 9.1.1 (11601.6.17) on Mac OSX Capitan 10.11.5 and I can't reproduce the issue. Let's wait for more information from @alythemonk .

[2016-07-13 05:46] ivanfilippov commented on #66
@ngoduykhanh

Can you review and assist if you can with this? I have it working here https://github.com/ivanfilippov/PowerDNS-Admin/commit/c22f3424f6b03e66b4b90c3c3a9659924b66cb86

But I feel like there should be a better way than injecting the local variable on user load. I tried to make it a local variable in the model but it doesn't stick around. There's an option to make a custom Jinja filter

[2016-07-13 08:24] TacoScheltema commented on #85
I'm using version 9.1.1 (11601.6.17) on El Capitan as well and can't reproduce the issue either. I will install Safari on Windows to see if that shows any issues.

[2016-07-13 08:37] TacoScheltema commented on #85
@alythemonk I Just checked; Apple has discontinued Safari for Windows in 2012, The last update to Safari for Windows was 5.1.7, this version is now outdated insecure, it should not be used. The issue you are experiencing is likely caused by it being out of date and probably missing support for some new CSS/Javascript features. I suggest using Firefox or Chrome instead.

@ivanfilippov , @ngoduykhan

[2016-07-13 12:59] alythemonk commented on #85
Gents,

I did an update and to seems to have fixed the problem ! Sorry about the false report. Thanks.

Cheers,

ASD.

[https://ci3.googleusercontent.com/proxy/yRaxhwVs0q3BQNi_a1Q1V4QtzkrbV_dNQxBRzQGfzeM-IALUZm6kHIBMOJPFcUMy1rTrCEIW-QnCeFGgcCY0Wtv5tlkRYJk9bI4RiHi7cryJFYWZS_4mrR91iL5xOe2BNuA-Pfq_P_ZhDd0Al7Mv3J3hRIgGGlFqSUxw=s0-d-e1-ft#https://d3pv4gq91q59qh.cloudfront.net/images/6624/30748/images/5

[2016-07-13 13:31] #85 closed

[2016-07-13 14:40] ngoduykhanh commented on #66
Hi @ivanfilippov ,

Honestly I don't like the idea of adding one more value in the model for this purpose. We better to use Jinja filter, it is more flexible.

Please take a look at my `gravatar` branch with commit 3edf9b01faac33bc5b6574256490f85e3f2c2253

Thanks.

[2016-07-13 15:13] pirogoeth commented on #59
@ivanfilippov Not sure how I missed that / including proxy_params. Fixed, thanks!

[2016-07-13 15:38] jallakim commented on #61
@ivanfilippov, could you provide the ```CREATE TABLE``` for this one?

[2016-07-13 15:47] jallakim commented on #61
I guess roughly something like this;

[code]

[2016-07-13 16:32] ivanfilippov commented on #66
@ngoduykhanh Nice, I like it!

If you'd like, I think you can simplify the code a bit since I don't think we need to check for SSL.  It should be ok and error-free to request gravatars over HTTPS even when PDNS-Admin is loaded over HTTP, as opposed to the other way around which would cause errors.

:+1:

[2016-07-13 16:32] #59 closed

[2016-07-13 16:51] ngoduykhanh commented on #66
@ivanfilippov : do you mean forcing to load gravatar with HTTPS even PowerDNS-Admin is loaded over HTTP? If yes, I am ok with that too since we won't waste server resource to check if the connection is SECURE in every request :D

[2016-07-13 16:54] ivanfilippov commented on #61
@jallakim You can use `db_migrate.py` to generate the code that reflects the schema changes that happen between versions (they get put into the db_repository directory) and `db_upgrade.py` to apply the changes . You can run both every time you upgrade your PDNS-Admin repo to keep up to date, that won't break anything.

`create_db.py` shouldn't need to get upgraded because it's meant to to be used

[2016-07-13 16:58] ngoduykhanh commented on #61
Actually we can re-run `create_db.py` script to create missing tables.

[2016-07-13 17:02] ivanfilippov commented on #61
Oh cool, I didn't know that. So running `create_db.py` after we change the models will do the same thing as doing a `db_migrate.py` and `db_upgrade.py`?

[2016-07-13 17:03] ivanfilippov commented on #66
Yes that's what I meant!

[2016-07-13 17:10] ngoduykhanh commented on #66
OK, removed the SSL check and added this enhancement into `master` branch. Thanks.

[2016-07-13 17:10] #66 closed

[2016-07-13 17:14] jallakim commented on #61
I still can't see how the ```domain_setting``` table would be created for new installs as it is now? You'd need to edit ```create_db.py``` as a minimum? It currently only handles the ```Role``` and ```Setting``` classes from ```models.py```, and your PR didn't change that file at all.

[2016-07-13 17:17] jallakim commented on #61
Hmm, never mind. I guess the init-thingie is just for tables that needs initial values, which is not the case for the ```domain_setting```.

[2016-07-13 17:19] ngoduykhanh commented on #61
@ivanfilippov : no, `create_db.py` script only help to create missing tables and initialize the configs such as User/Roles/Settings.

@jallakim : `create_db.py` was changed in another PR which contribute by @winggundamth . Let's check the latest `create_db.py` script in the master branch.

[2016-07-14 13:31] alythemonk opened #87 "Feature Request: FreeIPA/Red Hat iDM authentication integration"
Hello Gents,

Would you consider adding this as an authentication mechanism. I know that most mainstream browsers support this. I think that it would be a great advantage. It could also leverage the password and OTP/MFA capabilities of FreeIPA/iDM. Thanks for considering this.

Cheers,

ASD.

[2016-07-15 15:17] fabiorauber commented on #54
This would be really awesome.

[2016-07-15 17:06] fabiorauber commented on #54
Would it be possible to create a DNSSEC enabled zone template?

[2016-07-17 12:45] wagnst opened #88 "LDAP Filter memberOf not working"
As soon as I put a `memberOf` filter to `LDAP_FILTER` attribute, no user is found anymore. If guess there is something missing in regarding e.g. "member attribute" or group naming attribute. Can you confirm this is a bug?

I used:

[code]

Log Output:

[code]

[2016-07-17 12:57] wagnst commented on #88
After leaving out the ou=people in `LDAP_SEARCH_BASE` it worked. Sorry, my mistake!

[2016-07-17 12:57] #88 closed

[2016-07-17 13:40] wagnst opened #89 "Removing a domain does not work"
If you want to remove a domain, this does not work. There can also NO logentry be found.
Doing this with `pdnsutil remove-zone` works.

I see a HTTP request going to `http://pdns/admin/domain/test.de/delete` and referring back to the domain list, but the domain is still in there.

[2016-07-18 08:40] techhelper1 opened #90 "No MX Priority Setting"
I'm seeing the records are getting added with a static priority of 10, which is wrong. The priority needs to be user setable.

I will preface this with the fact that I have not installed this to give it a fair review, but I found this issue by looking through the source code and the screenshots.

[2016-07-18 09:59] ngoduykhanh commented on #90
The priority field has been removed from PowerDNS API since version 3.4.2 (see [change log](https://doc.powerdns.com/md/changelog/)).

But, we did support to set the priority of **MX** records, follow the API data format [here](https://doc.powerdns.com/md/types/#mx).
<img width="600" alt="screen shot 2016-07-18 at 4 54 16 pm" src="https://cloud.githubusercontent.com/assets/6447444/16911419/8aea8ed

[2016-07-19 10:17] cseres3 opened #91 "Delete does not work after Edit & Save"
If you click Edit for a record, then Save for the same record, but do not apply changes and then click Delete for the same record, the record goes into edit mode instead of delete confirmation.

Reproduced always, browser Firefox 47.0.

Expected result: A record deletable always independent of previous actions.

[2016-07-19 10:25] cseres3 opened #92 "No indication for unsaved changes"
There is no indication if there are unsaved changes. If you edit records and forget to click "Apply Changes" button, all changes are lost and you don't get a warning or notification.

Expected results: clear indication of unsaved changes such as "Apply changes" button being gray by default if there are no unsaved changes and getting colour after changes. Possibly a warning if you try to browse to

[2016-07-19 10:39] ngoduykhanh commented on #91
It is a typo in custom js. Fixed in commit ddb8825852a61f5d59a2d52fa2269b8bbfc61426. Thank for reporting.

[2016-07-19 10:39] #91 closed

[2016-07-19 10:43] ngoduykhanh commented on #89
Can you provide more information about your setup? (pdns version, backend-db)

It works fine for me.
Logs from the console.
[code]

[2016-07-20 14:33] righter1983 opened #93 "Slow with many Domains"
Hi first of all great work, was looking for that since years...

On one of my servers which is managing 1600 domains with 11'000 records, The dashboard needs 10 seconds to load (Corei7 with SSD).

Do you have some tips to tweak it?

[2016-07-24 01:49] trenb opened #94 "Issue with add record field when sort order changed"
When adding a record to a domain, if you change the sort order "highest to lowest", the entry dialogue is moved to the bottom of the list. Changing the sort order should not change where the entry dialogue is located.

Let me know if you need any more information.

[2016-07-25 07:09] stackexpress-kushal commented on #5
I have added two MX records , If I'm trying to add third MX record its replacing older records.

[2016-07-25 07:16] kushalkumar101 commented on #5
I have added two MX records, If I try to add third MX record it will replace older records.

[2016-07-26 18:05] jallakim commented on #94
Somewhat related (not sure if it should have it's own issue, but the solution should probably address both issues as "one");

If you're filtering records (e.g. searching for 'dns'), and you hit "Add Record", the entry dialogue isn't shown at all (since it doesn't match 'dns'). You have to clear the filter in order to see the dialogue.

[2016-07-26 18:47] jallakim commented on #74
Okay, after a bit of testing, PR #95 should do the trick. It fixes so that it doesn't use the same TTL for the entire RRset (only the same name and type), which fixes the "stuck" issue I had. It also address the issue when you try setting different TTL-values for the same name+type.

If you have the following two entries;

[code]

...and you try changing one of them to `TTL=1800`, it would not del

[2016-07-26 18:48] jallakim commented on #74
#76 is no longer relevant imho, and I closed it.

[2016-07-26 18:51] jallakim commented on #76
#74 fixes this. That is, no warning is shown, but it doesn't delete records anymore.

[2016-07-26 18:51] #76 closed

[2016-07-26 18:56] jallakim commented on #74
@ngoduykhanh -- food for you (-:

[2016-07-27 03:50] ngoduykhanh commented on #74
@jallakim : I tried but it didn't work. I have a comment at [your PR](https://github.com/ngoduykhanh/PowerDNS-Admin/pull/95/files#r72377002) :)

[2016-07-27 15:05] jallakim commented on #74
@ngoduykhanh - Ah, yes, my bad. Tested with the wrong branch. Should work now (-:

[2016-07-27 15:11] tingvold opened #96 "pdns or PowerDNS-Admin creates duplicate records"
Hi,

I've experienced several times now when using the PowerDNS-Admin GUI that random (at the moment I see no pattern) records are being duplicated. It happens when updating the zone, and it seems to be related to the same name+type tuple.

E.g. having these entries;

[code]

Applying changes to that zone (for whatever reason -- adding new, or changing existing records), you could suddenly end up

[2016-07-29 02:53] ngoduykhanh commented on #93
I haven't tried with that amount of domain yet. But the probably reason is because we are fetching the pdns API every time we load the dashboard to sync the domain metadata to local PowerDNS-Admin (And the DNSSEC checking part also) - see [this function](https://github.com/ngoduykhanh/PowerDNS-Admin/blob/master/app/models.py#L492). Disabling this feature and replace by another method can speed up

[2016-07-29 02:53] #90 closed

[2016-07-29 02:54] ngoduykhanh commented on #89
Closing the ticket as cannot reproduce

[2016-07-29 02:54] #89 closed

[2016-07-29 02:55] ngoduykhanh commented on #16
Also take a look at [docker-compose.yml)](https://github.com/ngoduykhanh/PowerDNS-Admin/blob/master/docker-compose.yml)

[2016-07-29 02:55] #16 closed

[2016-07-29 21:46] jallakim commented on #74
Fixed in PR #95.

[2016-07-29 21:46] #74 closed

[2016-08-03 08:15] righter1983 commented on #93
Ok thanks for your help.
Cool would be a limit for the dashboard. So that it will only load a configurable amount of zones. and if you click on next page, it loads the details only then for the next amount of zones. :-)

[2016-08-03 08:15] #93 closed

[2016-08-04 07:11] michielvisser opened #98 "Delete domain does not work"
I just installed PowerDNS admin and I like the tool. However, I cannot delete any domains I've created, the same as in issue #89. My setup is based on CentOS 7, powerDNS 3.48 and MySQL as the backend. SELinux has been disabled.

I can delete all the records from a domain, that works fine. However, going to the admin button for the domain I want to delete, the click delete and confirm, nothing happ

[2016-08-04 07:26] michielvisser opened #99 "History information detail unreadable on large changes"
I just added a bunch of records to a domain. When I view the change history details for that edit, it is completely unreadable for humans:

![image](https://cloud.githubusercontent.com/assets/15341393/17393671/87190674-5a25-11e6-88df-440fcc0a864d.png)

System is based on CentOS 7, PowerDNS 3.4.8, latest commit of PowerDNS-admin.

[2016-08-09 10:15] blackyzero opened #100 "Install error"
Hello,

I am getting stuck at create_db step, error as below:
`./pdnsa/create_db.py
/var/www/pdns.oios.org/flask/local/lib/python2.7/site-packages/flask/exthook.py:71: ExtDeprecationWarning: Importing flask.ext.login is deprecated, use flask_login instead.
  .format(x=modname), ExtDeprecationWarning
/var/www/pdns.test.com/flask/local/lib/python2.7/site-packages/flask/exthook.py:71: ExtDeprecationW

[2016-08-09 10:44] ngoduykhanh commented on #100
@blackyzero : as I can see from your output, they are just warning message. The tables were created properly. Let go a head with signing up step.

[2016-08-09 13:35] blackyzero commented on #100
thanks @ngoduykhanh
I tried to add new domain, and receive following error:

`/var/www/testdomain.com/adns/flask/lib/python2.7/site-packages/flask/exthook.py:71: ExtDeprecationWarning: Importing flask.ext.login is deprecated, use flask_login instead.
  .format(x=modname), ExtDeprecationWarning
/var/www/testdomain.com/adns/flask/lib/python2.7/site-packages/flask/exthook.py:71: ExtDeprecationWarning

[2016-08-09 16:41] blackyzero commented on #100
after correcting config.py and initialize the db, i still get the issue.
from console, it shows
"[ERROR] Cannot add domain testdomain.com.
[DEBUG] While fetching http://192.168.200.57:8081/api/v1/servers/localhost/zones: 500 Server Error: Internal Server Error
"

i am running Ubuntu 16.04 and pdns version 4.0.0-alpha2

[2016-08-09 16:44] trenb commented on #100
@blackyzero are you using replication at all? If so, you need to add
`binlog_format=row`
to your my.cnf

I ran into this myself, and this resolved it for me.

[2016-08-09 16:55] blackyzero commented on #100
Thanks @trenb
At moment, no. i am testing only, but i will follow this instruction here for replication.
https://www.digitalocean.com/community/tutorials/how-to-configure-dns-replication-on-a-slave-powerdns-server-on-ubuntu-14-04

do i need to enable this feature for replication as you mentioned?

Thanks!

[2016-08-09 16:59] trenb commented on #100
I'd recommend reviewing https://doc.powerdns.com/3/authoritative/backend-generic-mypgsql/ - It lists the changes necessary for replication.

Do you have the binary log enabled on your mysql?

[2016-08-09 23:02] wagnst commented on #89
Hi @ngoduykhanh,
sorry I was on business trips.
I am using a fresh install of 4.0.1 PowerDNS and a git fetch of this master branch on most current Debian Jessie version. Backend DB is MariaDB on its most current stable version (all managed through Puppet)

[2016-08-10 02:33] blackyzero commented on #100
thanks @trenb
You're right. After enabling that option in my.conf. i am able to create domain, but still getting error from console.

[2016-08-10 04:23] blackyzero commented on #100
This ticket answered my question ;)
https://github.com/ngoduykhanh/PowerDNS-Admin/issues/47

[2016-08-10 09:22] blackyzero opened #101 "Running error"
Hi Team,

[code]

Full error following as below:

[2016-08-11 13:54] dorion commented on #43
https://github.com/ngoduykhanh/PowerDNS-Admin/pull/102

[2016-08-11 18:34] vauxia commented on #98
The log says, "IOError: [Errno 32] Broken pipe" when this happens.

[2016-08-12 07:51] #100 closed

[2016-08-12 07:53] ngoduykhanh commented on #99
They are printed in python's json format. Just a matter of displaying.

[2016-08-12 07:55] ngoduykhanh commented on #101
This is problem with connectivity between the application and MySQL. Please double check your MySQL server config to avoid error "MySQL server has gone away"

[2016-08-12 07:55] #101 closed

[2016-08-12 08:19] ngoduykhanh commented on #98
I couldn't reproduce @michielvisser 's issue with the same setup. It works fine for me. Does the history log show anything?

@vauxia : Try to restart application and delete the domain again. It looks like your application hangs. You can also set `threaded=True` in the `app.run()` function in `run.py` file to improve the application performance.

[2016-08-15 06:04] elitest opened #105 "AD authentication has no email address for gravatar"
I installed and hooked up to AD.

[code]

Once you log in using your AD account

[code]
It looks like the culprit is the code that turns an email into a gravatar via the email address in utils.py.  However when authing with AD you don't tell the app about your email address.

[2016-08-15 06:12] jallakim commented on #105
Should probably extend the config to have an `LDAP_EMAILFIELD` option, in addition to checking if the email-value is None (set it to '' rather than None or something).

[2016-08-15 22:00] elitest commented on #105
On the other hand... The my profile section allows you to enter your own email address, which might be better for those who want to use the email address associated with their gravatar and not their corporate email address.  Unless you wanted to default to whatever was in AD and then let the user overwrite.

[2016-08-15 22:02] jallakim commented on #105
Either works. I have my corporate email added to the same Gravatar-account as my personal, so, I'm kinda "whatever" :-P

[2016-08-16 02:37] #105 closed

[2016-08-16 05:39] michielvisser commented on #98
Tried today with the latest commit, but this does not change the issue. The history log does not show that much, here is the output. Actions I did:
- Logged in with my user
- Clicked on 'admin' for the domain I wanted to delete
- Clicked 'Delete domain [name]'
- Confirmed the delete

Then I got the dashboard back and nothing has happened. I also cannot see a delete request of some kind going to th

[2016-08-16 05:59] michielvisser commented on #98
And another test, just to check the API connection is working for this. When I enter the URL by hand, the domain gets deleted:

URL I've entered: http://192.168.50.25/admin/domain/vrijdagscouts.nl/delete

[INFO] Delete domain vrijdagscouts.nl successfully
[INFO] 192.168.50.60 - - [16/Aug/2016 07:55:41] "GET /admin/domain/vrijdagscouts.nl/delete HTTP/1.1" 302 -
[INFO] 192.168.50.60 - - [16/Aug/2016

[2016-08-16 06:42] michielvisser opened #108 "Enhancement request: Add hovering bar to manage domain page"
If there are many DNS records in a domain it is sometimes difficult to see which set of buttons (Edit, Delete) belongs to which record. Is it possible to have the row of the table over which the mouse is hovering highlighted? This would make it easier to link the actions to the correct record.

[2016-08-16 06:44] michielvisser opened #109 "Enhancement request: Ability to navigate through the hosted domains via the sidebar"
At this moment the only way to manage a domain is by going to the dashboard and then select the domain. I think it would be practical to have the hosted domains in the sidebar on the left hand side, so you can select between them quickly.

[2016-08-16 06:57] michielvisser opened #110 "Enhancement request: Ability to change the font size of the records table"
At the moment, the font size is quite large in the records table for a domain. Maybe it is possible to add a setting to PowerDNS-Admin to select font size in the tables? Personally I would prefer to have the font a little smaller so more records would fit in the screen.

I've tried this myself by editing the custom.css file. This does work but as the font size of the action buttons is not changed

[2016-08-16 22:56] jallakim commented on #108
Isn't the alternating row-color/shade enough? Or maybe they are not that visible on screens having too much contrast?

[2016-08-17 02:45] ngoduykhanh commented on #109
I don't think moving the list of domain into the left sidebar for navigation is a good idea because the list may be long; depends on user's pdns infrastructure, they may have hundred of domain.

[2016-08-17 02:51] ngoduykhanh commented on #98
Are you running PDNS-Admin behind any reverse proxy? Can you post your web server config?

[2016-08-18 10:38] alexkiousis opened #112 "Differences between pdns 3.4.2 and 3.4.1?"
README mentions this project needs pdns 3.4.2 or newer.
Debian Jessie comes with pdns-server v3.4.1. From a look at the settings the (experimental) API this project needs is there on that version. Are you aware of some other incompatibilty that wouldn't let this project work with 3.4.1?

[2016-08-18 21:09] pschiffe commented on #87
You should be able to use ldap auth against FreeIPA.

[2016-08-18 21:18] pschiffe opened #114 "Feature request: Support OpenID Connect for auth"
I see you added github oauth as an option for authentication, which is great, but would it be possible to also add support for generic OpenID Connect [1]? It's an extension for oauth, and basically a standard today for SSO. With OpenID Connect, for example, it's possible to use Keycloak [2] as an auth provider.

[1] http://openid.net/connect/
[2] http://www.keycloak.org/

[2016-08-19 10:16] adrpp opened #115 "Reset search field on "add record" event"
Hello,

not really a bug, but might confuse a bit. Inside of domain where existent RR's are shown, when entering a search string into the search field and afterwards clicking on "add record" shows 'nothing'.

This is by design, as the newly created (empty) RR field doesn't match the search string.
Maybe want to reset search field after clicking on "add record" button to workaround this behavior ?

[2016-08-19 13:27] pschiffe opened #116 "Support uWSGI"
In production deployments, python web server is usually not facing users. For performance and stability reasons, there is usually an nginx proxy with uWSGI in front of a python app.

Couple of useful links:
https://www.digitalocean.com/community/tutorials/how-to-deploy-python-wsgi-applications-using-uwsgi-web-server-with-nginx
http://flask.pocoo.org/docs/0.11/deploying/uwsgi/

[2016-08-19 13:44] jallakim commented on #116
Not sure what this "issue" is for? *WSGI is already supported -- you just have to make the Apache/nginx-configuration yourself.

Should probably be some examples/instructions/documentation, but the support itself is already there.

[2016-08-19 13:48] jallakim commented on #116
Example setup with Apache 2.4 with mod_wsgi;

[code]

Content of `/srv/vhosts/superawesomedns.foo.bar/powerdnsadmin.wsgi`;

[code]

[2016-08-19 13:51] jallakim commented on #115
Hi,

This is related to #94. Your suggestion would fix the issue I described (if you have an active search), but would not fix the problem if you've altered the sorting of the rows (as OP of #94 describes).

Both these issues should probably be addressed in the same fix, hence, I'm not sure clearing the search field on "Add record" would be enough...

[2016-08-19 14:00] pschiffe commented on #116
Great. I wasn't sure because there was no info/doc about it. Thanks for the examples. Feel free to close this, or use it for documentation update PR.

[2016-08-19 14:07] jallakim commented on #116
I don't have much WSGI-experience, so there are no guarantees that the above examples can be classified as "best practice" (-:

But yeah, an example of nginx should probably also be added together with the above, and put into the documentation for future reference.

[2016-08-19 14:09] pschiffe commented on #116
Ah, there is a wiki..
https://github.com/ngoduykhanh/PowerDNS-Admin/wiki/uWSGI-example

[2016-08-19 14:09] #116 closed

[2016-08-19 14:59] xbulat commented on #87
I confirm, with FreeIPA it works fine.

[2016-08-19 18:17] jallakim commented on #109
I wouldn't like it that way even with few domains. Even when editing a lot of domains, the overhead of going via the dashboard isn't that much.

[2016-08-19 23:11] jallakim commented on #80
Should work with PR #118.

[2016-08-19 23:19] jallakim commented on #80
![Pretty IPv6 PTR](http://files.jocke.no/b/dump_2016-08-20_01.17.19.png)

[code]

[2016-08-19 23:30] jallakim commented on #80
@ngoduykhanh *notify*

[2016-08-19 23:32] jallakim commented on #80
The code does *no* form of error-checking regarding if the IPv6-address actually is a part of that ip6.arpa-domain. That's left as an exercise for the user (-:

[2016-08-19 23:39] jallakim commented on #80
Also, it only works with `NEW_SCHEMA`. 4.0 is released, so I don't see a reason why new features should be implemented using the old method(s).

[2016-08-20 10:05] ngoduykhanh commented on #112
There is a change with `priority` key as we discussed at #44 . You can also look at pdns changelog.

[2016-08-20 10:05] #112 closed

[2016-08-20 11:11] #94 closed

[2016-08-20 11:13] ngoduykhanh commented on #115
This issue was fixed by @jallakim . Please get the latest code. Thanks.

[2016-08-20 11:13] #115 closed

[2016-08-20 11:15] ngoduykhanh commented on #109
Closing the issue since it isn't useful.

[2016-08-20 11:15] #109 closed

[2016-08-20 12:43] fabiorauber opened #119 "Feature Request: Edit zone type after creation"
Right now, it is not possible to edit the properties of the zone after the zone is created, like the zone type. It would be useful to be able to do that, especially in migrations.

[2016-08-20 14:43] pschiffe opened #120 "Support python 3"
When trying to use python 3, I get:

[code]

Unfortunately, `python-ldap` doesn't support python 3, but there are at least 2 alternatives that do:
https://github.com/cannatag/ldap3
https://github.com/pyldap/pyldap

[2016-08-20 14:59] ngoduykhanh commented on #120
I only did tests with Python2. Except python-ldap, not sure if other components will work with Python3.

[2016-08-20 15:44] pschiffe commented on #120
I understand, replacing ldap library is probably only a beginning of python 3 support, but I think it's worth it in the end. Linux distros are in the process of slowly deprecating python 2, so installing pdns-admin on latest distro means installing legacy stuff (for example, latest Fedora docker image has only python3 installed).

[2016-08-20 18:01] jallakim commented on #80
I left out IPv4 on purpose. I'll probably look into that at some point, but IPv6 PTR's was by far first-priority.

[2016-08-20 20:02] ivanfilippov commented on #99
@ngoduykhanh Are you thinking something like `pprint` (https://docs.python.org/2/library/pprint.html)?

[2016-08-20 20:09] ivanfilippov commented on #87
Seems like this is a non-issue. :smile:  I'm not familiar with FreeIPA, would anyone like to write some Wiki documentation for configuring authentication against it?

Githut doesn't let you do a PR on a Wiki document (as far as I know), but if you fork the project and write a Wiki article in your fork and let us know, either I or @ngoduykhanh can copy the content over to the main projects wiki.

[2016-08-20 20:59] pschiffe commented on #87
There is nothing special to it, really. FreeIPA is a collection of services for identity management, where the main component is 389 directory server (ldap). Info about configuration against FreeIPA ldap can be found here https://www.freeipa.org/page/HowTo/LDAP

[2016-08-20 22:10] alexkiousis commented on #112
Thanks, that covers it.

[2016-08-21 02:26] ngoduykhanh commented on #87
@pschiffe : I have never used FreeIPA before. But as you said, FreeIPA is a collection of services for identity management and it has LDAP which PowerDNS-Admin supported already so I don't think it is neccessaray to have extra works, right?

[2016-08-21 02:30] ngoduykhanh commented on #120
Understand. I will consider this issue as a enhancement for PowerDNS-Admin to fullly support Python3 in my next works. Any contribution is welcome also ;).

[2016-08-21 10:29] pschiffe commented on #87
@ngoduykhanh correct. I would rather focus on #114 which gives you single sign on functionality for in-house providers.

[2016-08-21 14:54] jallakim commented on #99
Something like #121?

![Pretty history](http://files.jocke.no/b/dump_2016-08-21_16.25.41.png)

[2016-08-21 18:48] pschiffe opened #122 "Feature request: add option to disable OTP"
It would be great, if administrator has option to disable OTP auth. If disabled, no OTP field on login page would be displayed and user wouldn't be able to enable 2fa in my profile page.

[2016-08-21 18:51] pschiffe opened #123 "Feature request: add option to configure TTL values"
Like the `RECORDS_ALLOW_EDIT` config option, it would be nice to have similar config option for TTL values dropdown, with possibility to select the default option.

[2016-08-23 03:31] #99 closed

[2016-08-24 10:03] michielvisser commented on #98
Sorry, it has been a few days before I had some time get a step further with this issue.

At the moment, the PDNS-admin is not running behind a reverse proxy, I just set up the Python webserver (in config.py) to port 80. There is a firewall between the management network the PDNS server is in and the rest of the network.

As I had some doubts on the implementation I created a new CentOS 7.2.1511 s

[2016-08-24 10:05] michielvisser commented on #108
@jallakim: the alternting row colors are barely visible on my screen, it also depends on the screen I'm using - on my laptop it is more visible than through my Virtual Desktop (which uses a browser based RDP session).

A hover bar would be of much help to improve the visibility in managing domain records, thanks.

[2016-08-24 12:00] direktorn opened #126 "cant run create.py for DB creation"
Hi,
Whatever I do the DB script will not connect to the MySQL (MariaDB) Backend:
(flask) PowerDNS-Admin# ./create_db.py
INFO: Wait for database server
ERROR: Couldn't connect to database server

However Pdns works fine with the same backend, I can run mysql -u with the username and password in my config-file and it works fine.

Ubuntu 16.04
mysql  Ver 14.14
PowerDNS  4.0.0-alpha2  (Intrestingly an

[2016-08-24 12:07] michielvisser commented on #126
I had the same issue with this, CentOS 7 with MariaDB. The following solved this for me:
yum install MySQL-python
pip install python-mysql

Somehow these are not part of the installation of the requirements. After that, all went well...

[2016-08-24 17:51] direktorn commented on #126
I have followed the installation guide here and mysql-phyton should be installed.

[2016-08-25 03:04] ngoduykhanh commented on #80
#118  has been merged.

[2016-08-25 03:04] #80 closed

[2016-08-25 05:48] michielvisser commented on #98
@ngoduykhanh: And after some more testing last night and this morning: the issue is browser-related. When I try to delete a domain with Firefox (version 48.0.2) it does not work, but with Google Chrome it does. This also explains why I don't get a POST in the logs, the browser does not even send it.

I've tried this on multiple Windows computers (Win 7 and Win 10) and on my Macbook (MacOS 10.11.6)

[2016-08-25 07:22] jallakim commented on #98
Sounds like a caching issue that doesn't take the fix commited into account?

[2016-08-25 07:26] michielvisser commented on #98
@jallakim I don't think it is a caching issue as I also used a computer I didn't use before with PowerDNS-admin. Also, on the other computer I've tested with Firefox I cleared the browser cache and that didn't help.

[2016-08-26 18:00] direktorn commented on #126
It there any guide(s) available that can help me go trough the steps of isntalling PDNS-Admin on an vanilla Centos or Ubutu? I have not been successful following an guides :(

[2016-08-27 17:42] Kraeutergarten opened #127 "Is there an API?"
Hey,
is there an API for editing Zones? (For Let's encrypt for example)

[2016-08-27 18:14] jallakim commented on #127
That would be inception-API, as PowerDNS-Admin utilizes the PowerDNS API. PowerDNS-Admin doesn't store any records of any kind in it's own database, and fetches/pushes records/whatnot from the PowerDNS API itself.

Therefore; use the PowerDNS API itself for things like Let's Encrypt. E.g. [pdns_api.sh](https://github.com/silkeh/pdns_api.sh) should do the trick (it's made to work with [letsencrypt.

[2016-08-27 18:19] alythemonk commented on #126
Into this problem, I don't know if this is the right thing to do, BUT I inserted mysql-python at the end of my requirements.txt and re-ran it ... I again could be off base but that worked for me ?

[2016-08-28 10:25] direktorn commented on #126
@alythemonk That did the trick, it also showed that i was missing the mysql-developer package. Perhaps it could be good to update the requirements.txt file.

Now everything works as expected: )

[2016-08-28 10:29] direktorn opened #128 "Feature request: auto-save for resource records"
Hi,
1. I would like to see an auto-save feature for the entries. Lets say I want to add 10 records I would like to be able to do that quite quickly and when I'm done I can apply the changes. Also saving data is not really true as if you move to another part of the GUI without Applying changes all your changes are lost.
1. The GUI does not support SRV records. I'd also like that PTR records are han

[2016-08-28 16:03] trenb commented on #128
For multiple issues, it's best to log multiple requests. With regards to editing SRV and other records, look at this [https://github.com/ngoduykhanh/PowerDNS-Admin/blob/master/config_template.py#L78](url) - You can add other record types you'd like to edit.

Can't really speak to your other questions.

HTH

[2016-08-29 00:18] jallakim commented on #128
1. Auto-save should be opt-in in that case. With a BIG warning sign. Being able to do (multiple) changes, and then review them, before saving/pushing the changes, is quite nice and non-disruptive.

2. See comment from @trenb (the URL is wrong, try [this one]( https://github.com/ngoduykhanh/PowerDNS-Admin/blob/master/config_template.py#L78)). It's in the documentation. Regarding PTR; what should be

[2016-08-31 11:12] broedli opened #129 "Slaves don't get notified when adding / updating / removing records."
Hi,
I must've done something terribly wrong but I dont know exactly what. When I change smth. via PowerDNS-Admin it doesn't update the SOA / RRSIG entry. This means my Slaves don't get notified of said changes. I also noticed that the same thing happens when I try to add /update / remove an entry over the api manually. Is there a setting I've missed? Or is this excpected behaviour of the api? Coul

[2016-08-31 11:58] broedli commented on #129
Ok got to the bottom of this. Since I've used an older db the entries for `SOA-EDIT-API` in `domainmetadata` weren't set. After I added them manually it works like intended.

Sorry for spamming subscribers.

[2016-08-31 11:58] #129 closed

[2016-08-31 16:55] brian4286 opened #130 "Allow users to create domains"
I would like to request a feature to allow users access to create new domains. It would seem that any feature allowing end users to add domains should have some limits involved to keep them abusing the system such as number of domains or possibly number of records. I would also think that limiting the type of domain (Native, Master, Slave) would be important.

[2016-08-31 19:50] jallakim commented on #127
Adding users? LDAP-users can log in right away (but won't be able to edit any zones until an admin adds a user to a zone/multiple zones). You want an API to edit these permissions?

[2016-08-31 19:51] jallakim commented on #127
The only thing I can see an advantage of PDA (PowerDNS-Admin) having it's own API, would be to "circumvent" the limitation in the pdns-API with only having one single API-key with full access (i.e. no role-based access control to define specific rights to specific zones).

[2016-08-31 19:58] pschiffe opened #131 "Enhancement: better RECORDS_ALLOW_EDIT"
Currently, RECORDS_ALLOW_EDIT config option results in an unexpected behaviour. If record type is missing in RECORDS_ALLOW_EDIT, nobody is allowed to see that record, and nobody is allowed to edit that record. If the record is included in RECORDS_ALLOW_EDIT, everyone can see and edit that kind of record. I'm suggesting this behaviour:
- everyone can see any kind of dns record  any time
- admin can

[2016-08-31 20:02] pschiffe commented on #127
@jallakim current workflow: add user to ldap, user logs in to pda, add user to domain. Even when user exists in LDAP, you can't just allow him to manage zone without him being in the pda db.

But again, I think that better solution to this problem is to let users to create zones. So admin doesn't need to. Ofc, this should be configurable.

[2016-08-31 20:21] ivanfilippov commented on #127
If #130 is implemented with a per-user flag that allows users to create domains only if they're flagged (which is the right way, IMO), then your workflow would still be the same, you'd need a user to log in once, then enable them for domain creation after that.

I think #130 (and the use-case @pschiffe describes) could be solved by a new Role type, something like 'Power Users', which can create do

[2016-08-31 20:38] pschiffe commented on #127
@ivanfilippov power users is good idea, but if that's too much work to implement, config flag if all users can create zones or not should be sufficient. With less functionality, but sufficient.

[2016-09-02 05:48] unclev0va opened #133 "LDAP password store in db as plain text"
But if I create new user, password stored hashed.
In code:

[code]

I fix this by add
`self.password = self.get_hashed_password(self.plain_text_password)`
before
`db.session.add(self)`

[2016-09-02 07:24] jallakim commented on #133
The password-logic should probably be removed from LDAP-users completely? Or is the idea that LDAP-users should be able to log in with whatever passord is stored locally if LDAP suddenly becomes unreachable? (provided that they've logged in before and the user was created).

[2016-09-02 09:20] Nosxxx commented on #127
My main problem is, that i need a "role based" API like @jallakim already described.

[2016-09-02 09:40] pschiffe commented on #133
User's LDAP passwords should never be stored in local DB whatsoever - plain or hashed. That's one of the point of centralized identity management, that even when the app is breached, passwords are still safe.. This issue is a security vulnerability.

[2016-09-03 20:26] harobed opened #134 "cp: cannot stat ‘/home/web/powerdns-admin/config_template_docker.py’: No such file or directory"
[code]

[2016-09-03 21:30] jallakim commented on #134
Uhm, is this the latest version from git? The file it complains about was removed in commit [0c94d3b](https://github.com/ngoduykhanh/PowerDNS-Admin/commit/0c94d3b80cee7a693c9d66828cb60af824221a39). Not sure how docker works if you ran docker *before* the file was removed (so that it expects it to be there), and then update from git, and run docker again.

If it's a clean install, there's no refere

[2016-09-03 21:35] jallakim commented on #133
@pschiffe, never thought about it from that angle before, but I guess most people utilize LDAP to be able to have the same password "everywhere". I know of several applications that caches users/passwords locally in order to facilitate login in case LDAP is unreachable (if user is deactivated in LDAP, and LDAP is reachable, the users won't be able to log in, of course -- so only in the event of an

[2016-09-03 22:10] pschiffe commented on #133
@jallakim LDAP is used in that way because it's easy to set up and use that way. Caching passwords is definitely a wrong work-around to a problem, which should be solved differently (LDAP replicas). But again, because it's possible to cache it, and relatively easy to do, people do it. But that doesn't mean it's OK, it's definitely insecure.

When you look at the modern standards for "one password

[2016-09-04 06:47] harobed commented on #134
I did:

[code]

[2016-09-04 06:50] harobed opened #135 "I suggest to move Dockerfile from winggundamth/docker-base to ngoduykhanh/PowerDNS-Admin"
I suggest to move Dockerfile from https://github.com/winggundamth/docker-base/tree/master/powerdns-admin to https://github.com/ngoduykhanh/PowerDNS-Admin in `docker` folder.

[2016-09-04 06:50] harobed commented on #134
#135

[2016-09-04 11:36] pschiffe commented on #135
If you are looking for more of a prod version of pdns-admin Docker image, check my repo: https://github.com/pschiffe/docker-pdns

[2016-09-05 02:31] ngoduykhanh commented on #133
I agree with @pschiffe . The User which created from LDAP or openID should never have a password. LDAP's "local user" in the pdns-admin is only used for role/permission setting. The current code should be changed to remove LDAP user password completely.

[2016-09-05 02:42] ngoduykhanh commented on #126
The mysql developer package was removed from requirements.txt file in PR #104 . It should be optional since user can use difference kind of DB backend. Please reference to README, WIKI for more information.

[2016-09-05 02:42] #126 closed

[2016-09-05 16:27] kaechele commented on #127
@Nosxxx A role based API is something that could be achieved by using nginx as a proxy letting it handle authentication instead of pdns. Then you could use regexes to limit API access based on user/group and URL (endpoint) passed to the proxy.

[2016-09-06 08:03] Scrowny opened #136 "LDAP login problem with sensitive case."
Hello,

I have a LDAP authentication problem with sensitive case.

Exemple :  The login "test" and "Test" are considered like two different account

( Sorry about my bad english :dancers: )

[2016-09-06 08:39] hlidotbe opened #137 "Impossible to apply changes to a zone with a txt entry"
Hi,

When using PDNS-Admin with PowerDNS 3.4 I can't apply changes to a zone with a txt entry.

Here's the error received:

{ "msg": "Record mg.epic-sys.io/TXT v=spf1 include:mailgun.org ~all: Parsing record content: Data field in DNS should start with quote (\") at position 0 of 'v=spf1 include:mailgun.org ~all'", "status": "error" }

The field is quoted in the DNS and the changed record is unrel

[2016-09-08 02:16] phoenixlzx opened #138 "CJK support on Name"
First Name and Last Name seems does not support CJK characters, server returns 500 error when I try to add user with Japanese name.

MySQL error log

[code]

[2016-09-12 12:14] Cultti commented on #98
I can confirm that this is browser related issue. The domain does not get deleted when using Firefox. Chrome works perfectly.

The problem is that the browser will redirect first instead of calling /delete endpoint. This can be easily fixed by making sure that the delete executes first and only after then we redirect to dashboard. Other option would be actually to redirect browser to /delete endpo

[2016-09-12 21:53] trenb opened #140 "Issues with how the History view works with large domains"
When doing a single record update in a zone containing a large number of records (over 800 in this case), it seems like PDA is submitting the ENTIRE ZONE, instead of the deltas. This isn't necessarily an issue, however we get NOTHING back when we click "Info" in the history view (literally nothing, the button doesn't do anything).

In addition, if you are running MySQL/MariaDB with "STRICT_TRANS_T

[2016-09-12 22:26] jallakim commented on #140
The Proper™ way to solve this would be, as you describe, to only submit the actual changes made to the zone. In stead of doing a comparison (e.g. compare with the previous values when submitting the zone), we could probably solve this somewhat "easy" by setting some kind of "edited"-flag on a record whenever you "save" it (regardless if you actually changed it). Only records having the edit-flag w

[2016-09-12 22:43] trenb commented on #140
The Proper™ way is always preferable, but at this point, I'd be happy with anything ;-) The history view was a big plus for us and in its current implementation is not useable.

Thanks for responding right away to this. I was concerned I was doing something wrong, but glad to hear it's something that needs improvement.

Let me know if you have any code you want tested! :-D

[2016-09-12 22:51] jallakim commented on #140
Well, the culprit isn't really the history-view -- it's actually working as intended (the whole zone is submitted, and thus, the whole zone is also displayed in the history).

The MySQL/MariaDB-error is specific to those databases, as the `text` data type in PostgreSQL supports `strings of any length` (i.e. unlimited amounts of text).

[2016-09-12 22:56] jallakim commented on #140
After thinking two more seconds about it, I don't think it's as easy as I thought, as the pdns API wants all records for the same FQDN in the same RRset -- all the other records not present are deleted/removed. E.g. if you have `foo IN A 10.10.10.10` and `foo IN A 10.20.20.20`, and you only change the first (hence, only the first gets the "edited" flag), the second record will be removed upon savi

[2016-09-12 23:03] trenb commented on #140
Hmm. Okay, I'm not sure how we handle this then. The Info button is dead for any updates I've committed that are truncated due to size. And even if the Info button worked, it'd show the entire zone. I'm not sure how useful the Info button is for domain edits. Unless I'm misunderstanding how this feature is expected to work?

And regarding the issues with "Text" field type in MySQL, it looks like i

[2016-09-12 23:12] trenb commented on #140
`ALTER TABLE history MODIFY detail LONGTEXT;`

The above did the trick. Now I have no issues with the Info button working, and the updates are pushing as they should.

Still doesn't help highlight what record out of the 800+ was actually edited though :-( I'm not sure what can be done about that though.

It might be worth altering the schema for MySQL with this change so others with large domains

[2016-09-13 02:49] ngoduykhanh commented on #140
To me, there is no way to ONLY keep the records that were modified in  the history. By using the pdns api, you won't know exactly which record is modified/added/deleted. My original ideal about keeping history of record's JSON data is for another feature likes Version Control so we can revert our changes if need.

[2016-09-13 03:12] #98 closed

[2016-09-13 03:18] trenb commented on #140
Ah! Then I did misunderstand the purpose of the history. Thanks for the explanation. This make sense and I see the value.

Do you agree with the mysql schema change for the history table? If so after that change, this ticket can be closed.

[2016-09-13 05:26] ngoduykhanh commented on #140
`MEDIUMTEXT = 16,777,215 characters (approx 16 MB)`: This should be enough i think.

Changing to `detail = db.Column(db.Text(16777215))` works well with mysql db backend, it create mediumtext column type but seems not working for Postgresql.

[2016-09-13 07:10] ngoduykhanh commented on #140
It looks like `text` in [PostgreSQL](https://www.postgresql.org/docs/9.1/static/datatype-character.html) is unlimited. I applied the change for MySQL at commit d2bbc04d5b73a775c27e6a948fb223a0b042bd79

[2016-09-13 07:10] #140 closed

[2016-09-16 07:15] unclev0va opened #141 "Editing zone by several admins"
When several admins edit one zone,  changes of all admins overwritten by changes of admin who last click 'apply'.
Check the serial number of the zone before saving,  would be nice

[2016-09-16 19:19] willfurnell commented on #137
Are you sure you are quoting using " marks rather than ' marks? I've found " marks work.

[2016-09-18 00:35] kaechele commented on #120
https://github.com/kaechele/PowerDNS-Admin/tree/python3

[2016-09-18 17:13] ngoduykhanh commented on #137
You have to quote your txt record with double quotes ""

[2016-09-18 17:13] #137 closed

[2016-09-19 06:16] hlidotbe commented on #137
Found the issue while looking into the database. Some unrelated records where not quoted. It was not obvious because the error was for another but yeah. Fixed the database and now everything works. Thanks

[2016-09-22 17:13] HLFH opened #144 "Add support PowerDNS API for pdns-recursor"
Hi,

According to [the API spec](https://doc.powerdns.com/md/httpapi/api_spec/), it would be interesting to support the PowerDNS API for `pdns-recursor`.
For example, we could modify the `allow_from` directive... I'm sure that we can do a lot with the API for `pdns-recursor`.
Could you support it?
In fact, if you do that, `PowerDNS-Admin` will be the great leader of the WebFrontends for PowerDNS.

[2016-09-26 23:23] cstruck opened #145 "considering flask coding guidelines[1] and app renaming"
Hey Khanh Ngo,

great work you're doing here.

I have 2 suggestions to make.
- Usage of relative imports.
- And Renaming the "app" (by this I mean the app folder) to something more self explaining like powerdnsadmin or powerdns-admin

Best regards

Struck

[1] http://exploreflask.com/en/latest/conventions.html

[2016-09-28 09:15] bergzand commented on #136
Is this problem caused by LDAP not being case sensitive with the login, but PowerDNS-Admin handling ldap logins case sensitive?

[2016-09-29 10:06] bergzand opened #147 "Domain management should not allow different TTL values for same-named records"
When managing a domain with two records with the same name, It is possible to edit the TTL value of one of the records. This can result trying to apply a set of same named records with different TTL values. The current PowerDNS api does not allow this and with PowerDNS-Admin it wil result in either all records changed to the new TTL value, or none of the records changed.
This is of course due to t

[2016-09-30 09:26] Scrowny commented on #136
Hi,

PowerDNS-Admin create an account for every case sensitive login :

Example : bergzand, Bergzand, BeRgZaNd, bergzanD

4 differents logins are created in the login database.

Regards,

[2016-09-30 09:28] ngoduykhanh commented on #136
They should be difference. `bob` and `Bob` should be difference user likes what we have in *nix system.

[2016-09-30 09:33] Scrowny commented on #136
Oh ok ... ! Thanks ;)

[2016-09-30 09:33] #136 closed

[2016-09-30 12:09] bergzand commented on #136
Isn't this caused by ldap matching bob and Bob to a single ldap account possibly named bOb. Since a lot of ldap attributes are matched case insensitive.

I would suggest lower casing the stored database login name in lower case if the account is from LDAP

[2016-09-30 12:14] bergzand commented on #131
I'm currently working on this.
The interface side is rather easy to modify to allow this, but server side checks would have to be done to verify whether forbidden records are modified

[2016-10-11 12:21] bjo81 opened #148 "'_ldap' extension build failure"
building '_ldap' extension

creating build/temp.linux-x86_64-2.7

creating build/temp.linux-x86_64-2.7/Modules

x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -fno-strict-aliasing -D_FORTIFY_SOURCE=2 -g -fstack-protector-strong -Wformat -Werror=format-security -fPIC -DHAVE_SASL -DHAVE_TLS -DHAVE_LIBLDAP_R -DHAVE_LIBLDAP_R -DLDAPMODULE_VERSION=2.4.21 -IModules -I/us

[2016-10-12 02:39] dzhyw opened #149 "How to set the timezone for the CST?"
hi,all
  I am a Chinese, I use powerdns-admin ,when use Dashboard, Recent History Time is UTC? how to change it. thanks!

The following is my local system Settings:

  mysql 5.6.31
  mysql> SHOW VARIABLES LIKE '%time_zone%';
+------------------+--------+
| Variable_name    | Value  |
+------------------+--------+
| system_time_zone | CST    |
| time_zone        | SYSTEM |
+------------------+-----

[2016-10-12 20:28] jallakim commented on #147
Hi,

This was "fixed" in PR#95 / issue #74.

The ideal thing would of course be to have some logic to "warn" the user that different TTL's for the same name+type tuple, but what it does now is to set the TTL to whatever topmost entry is present. More detailed description is in the PR/issue.

[2016-10-14 00:45] jallakim commented on #148
This is a computer/Python/non-PowerDNS-Admin issue. Google is your friend.

E.g. http://stackoverflow.com/questions/4768446/i-cant-install-python-ldap

[2016-10-14 00:45] jallakim commented on #149
Timezones <3

[2016-10-14 08:32] RoRoo1977 commented on #54
Templates would be awesome.
Looking into this to replace poweradmin and their template functions is widely used here.

[2016-10-14 15:29] dupondje opened #151 "PRETTY_IPV6_PTR and Wildcard records"
Hi,

In PowerDNS you can add \* as record for IPv6 DNS records.
This so you don't have to add all PTR's for each IP in the database.

This works fine, but if you enable PRETTY_IPV6_PTR, the code seems to go nuts :)

Can this be fixed?

Thx

[2016-10-14 15:40] jallakim commented on #151
PRETTY_IPV6_PTR was a quick "hack" to avoid dealing with dotted strings from hell. I don't think I'll get the motivation to fix interoperability between PRETTY_IPV6_PTR and wildcard-PTR's any time soon, as it's kinda a very, very specific corner case (tbh. I've "never" heard of people actually using wildcards for their IPv6 reverse -- "add PTR's to whatever is in use, and leave the rest be" has be

[2016-10-16 16:23] saldru opened #152 "Error 500 : Internal Server Error when creating new domain"
Hi all,

When I want to create new domain in the PowerDNS-Admin GUI, I have a 400 error.
If I look in the debugger, I see this :

`Traceback (most recent call last):`

 `File "/opt/PowerDNS-Admin/app/models.py", line 586, in add
    jdata = utils.fetch_json(urlparse.urljoin(PDNS_STATS_URL, API_EXTENDED_URL + '/servers/localhost/zones'), headers=headers, method='POST', data=post_data)`

  `File "/o

[2016-10-17 07:14] dupondje commented on #151
Well indeed :) but I tought it might be easy to just check if there is a '*' in the string, and if this is the case, just don't do the PRETTY_IPV6_PTR stuff :)

[2016-10-17 07:42] jallakim commented on #151
The problem with doing that approach is that there is (currently) no input-validation in PDA, so if you open an IPv6 reverse zone that has no wildcard-entries, it will do the PRETTY_IPV6_PTR (which is done on load), and it would go haywire trying to update the zone. But I guess at least you'd be able to view the zone. Not sure what is better :-P

[2016-10-17 07:45] jallakim commented on #151
I guess we can do validation on '*', and if so, disable/remove the "Add Record"-button. It's ugly, but I think we're past that point regarding PRETTY_IPV6_PTR :-D

[2016-10-17 13:46] dzhyw commented on #149
how to solve this problem?

[2016-10-18 14:22] jeromeza opened #153 "400 Oops! Bad request The server refused to process your request and return a 400 error."
#
# ADDING A DOMAIN

400
 Oops! Bad request
The server refused to process your request and return a 400 error. You may return to the dashboard.

This error is seen when adding a new domain. Fresh Ubuntu 16.04 install with MariaDB as the backend (no master slave setup - single server).
#
# POWERDNS VERSION

$pdns_control
version 4.0.1
#
# OS RELEASE INFO

$cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DIS

[2016-10-23 19:33] tihozh opened #154 "Install Error, accessing /tmp"
during the install process i run into this. I am using flask for the first time, add a one shit i cannot find out where flask wants to access to /tmp:
# pip install python-ldap

Collecting python-ldap
  Using cached python-ldap-2.4.27.tar.gz
Requirement already satisfied (use --upgrade to upgrade): setuptools in ./flask/lib/python2.7/site-packages (from python-ldap)
Building wheels for collected p

[2016-10-24 02:20] ngoduykhanh commented on #154
What is the problem with accessing tmp? have you installed ldap development packages? eg openldap-devel on rhel or libldap2-dev, libssl-dev on ubuntu

[2016-10-24 02:29] ngoduykhanh commented on #153
Can you create a domain via curl to the powerdns api?
https://doc.powerdns.com/md/httpapi/api_spec/#url-apiv1serversserver95idzones

[2016-10-24 02:29] ngoduykhanh commented on #152
Are you able to create a new domain via curl to powerdns api?
https://doc.powerdns.com/md/httpapi/api_spec/#url-apiv1serversserver95idzones

[2016-10-24 04:27] tihozh commented on #154
thank you for your answer.

i started a clean install on Centos, now the compiling works. i could not figure out what exactly the problem was.

Best Regards.

[2016-10-24 10:06] VicenteGiles commented on #154
Hello, I got the same error, and my openldap-devel are installed:

...
    building '_ldap' extension
    creating build/temp.linux-x86_64-2.7
    creating build/temp.linux-x86_64-2.7/Modules
    gcc -pthread -fno-strict-aliasing -O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector-strong --param=ssp-buffer-size=4 -grecord-gcc-switches -m64 -mtune=generic -D_GNU_SOURCE -fPIC -

[2016-10-24 10:17] VicenteGiles commented on #154
Hello again.

Did a clean install as tihozh did  and now it has compiled perfectly well!

Please, ignore my previous post.

Thank you very much!
Beset regards

[2016-10-24 13:51] cseres3 opened #155 "Instructions for updating PowerDNS-Admin"
Hi!
A short description what is the recommended way to keep PowerDNS-Admin up-to-date in production environment would be nice addition in the documentation. At least I did not notice instructions in Wiki or README.md.

[2016-10-24 14:07] jallakim commented on #155
`git update` (-:

[2016-10-27 11:43] tihozh commented on #154
Thanks for all your replies.

BTW: is there any way to handle NS Records? i do not have the Option NS when i add new Domains..(?)

BR
Tiho

[2016-10-27 11:49] jallakim commented on #154
"RTFM" :-P

See `RECORDS_ALLOW_EDIT` in your configuration file.

[2016-10-27 11:51] tihozh commented on #154
haha okay, thanks :) (there's a book about a spanish guy, called manual, i should read it) :p
---- when i find it

Thanks for your help

[2016-11-01 14:17] jeromeza commented on #153
Hi,

Unfortunately I moved on to another frontend in the interim so I can't test again.

[2016-11-10 16:13] METAJIJI commented on #153
Seems database backend is not installed!

Read the oficial docs: https://doc.powerdns.com/md/httpapi/README/

For `sqlite3` example on **Ubuntu 14.04**:
[code]

[2016-11-21 09:05] nidotech opened #157 "PowerDNS installation DB issue"
problem: cannot connect to database when running create_db.py

Env: Centos 7.2
MariaDB: 5.5.50
Python: 2.7.5
pip install -r requirements.txt: all satisfied

// run create_db.py
(flask) [root@localhost PowerDNS-Admin-master]# ./create_db.py
INFO: Wait for database server
ERROR: Couldn't connect to database server

//config.py
SQLA_DB_USER = 'powerdnsadmin'
SQLA_DB_PASSWORD = 'password'
SQLA_DB_HOST

[2016-11-21 13:04] petersipos commented on #157
Hello @nidotech

In https://github.com/ngoduykhanh/PowerDNS-Admin/pull/102/files#diff-04c6e90faac2675aa89e2176d2eec7d8
this modification @dorion corrected the README.md. Based on this correction you need to install mysql-python via pip to enable the mysql support in python:
`pip install MySQL-python`

[2016-11-21 13:18] petersipos commented on #43
or an another solution is: #156

[2016-11-21 15:24] jallakim commented on #154
@tihozh or @ngoduykhanh; close this issue, maybe?

[2016-11-21 15:25] jallakim commented on #153
@jeromeza or @ngoduykhanh; close this issue, maybe?

[2016-11-21 15:27] jallakim commented on #152
@ngoduykhanh, maybe go through some of the issues lacking a reply, and close them? They "clutter" up the issue list somewhat.

[2016-11-21 19:56] #154 closed

[2016-11-21 19:59] ivanfilippov commented on #153
Original issue requestor is not longer using PDNS-A. Closing.

[2016-11-21 19:59] #153 closed

[2016-11-21 20:03] ivanfilippov commented on #148
Thanks @jallakim

Closing due to this not being a PDNS-A issue.

[2016-11-21 20:03] #148 closed

[2016-11-21 20:09] ivanfilippov commented on #87
It seems like FreeIPA is already supported.

Closing this issue.

[2016-11-21 20:09] #87 closed

[2016-11-22 02:00] nidotech commented on #157
alright, thanks. I need to install mysql-devel first before running 'pip install MySQL-python' under virtualenv since mysql_config is missing.

[2016-11-22 17:25] ivanfilippov commented on #157
Looks like this is solved.

[2016-11-22 17:25] #157 closed

[2016-11-22 17:27] ivanfilippov commented on #152
No response from original submitter. Closing.

[2016-11-22 17:27] #152 closed

[2016-11-23 04:28] nidotech opened #158 "Strange SOA for new zone"
I've everything set up and running with supermaster. However, wheneverI create a master new zone with powerdns-admin, it will add a strange string in SOA. Though I can modify the SOA string manually, it is a bit inconvenient for this. Anyone got any idea how did this happen?

;; ANSWER SECTION:
test.com.               3600    IN      SOA     a.misconfigured.powerdns.server. hostmaster.test.com. 20

[2016-11-23 07:02] jallakim commented on #158
If you are referring to the `a.misconfigured.powerdns.server` part, it's not PowerDNS-Admin related at all (the string itself is a good hint for where you should look).

A quick Google search would yield you the answer, but I'll give you a tip; configure your PowerDNS server properly -- more specifically https://doc.powerdns.com/md/authoritative/settings/#default-soa-name .

[2016-11-23 07:19] nidotech commented on #158
oh, thanks. I thought it should be a parameter when creating a new zone in the UI.

[2016-11-29 18:28] gerdkoetje opened #159 "Domain templates or clone from domain"
Why is there no templates or clone a domain record set on new domain creation

[2016-11-29 18:29] jallakim commented on #159
Because it's not been coded yet? This is already a feature-request -- see #54.

Patches welcome.

[2016-11-30 11:42] madpsy opened #160 "Apache WSGI error"
I'm trying to launch pdns admin via WSGI with Apache but seeing the following...

[code]

Having never used WSGI before (nor confident with Python) I'm wondering if anyone knows off the top of the head what may cause this? My config looks sane (used the sample provided in #116).

My initial thought was it's to do with the virtualenv stuff but not convinced.

Running './run.py' directly in /var/www

[2016-11-30 12:03] madpsy commented on #160
Alright so this is indeed to do with virtualenv as after installing python3-werkzeug (Ubuntu 16.04) that error went away and moved on to Flask.

I suspect the best way to fix this is to get WSGI to use virtualenv, which is what I'm figuring out now.

[2016-11-30 12:54] madpsy commented on #54
Does anyone know if there is a way to at least automatically add the NS records when a domain is added?

I fear not and that will depend on this FR.

[2016-11-30 14:24] TacoScheltema commented on #160
Hi Madsppy,

I'm using the following in my setup:

powerdnsadmin is installed in /opt/powerdnsadmin

The file /opt/powerdnsadmin/powerdnsadmin.wsgi contains the following:

[code]

In my apache (2.4) vhost I have this:

[code]

This works for me.

[2016-11-30 14:31] madpsy commented on #160
Thanks!

I was clearly missing:

[code]

Working now, appreciate that.

[2016-11-30 15:53] #160 closed

[2016-11-30 16:01] madpsy commented on #70
Password reset links are the way to go rather than sending passwords in plain text over e-mail... apart from that this sounds good to me too.

[2016-11-30 16:18] madpsy opened #161 "Add option for reading custom header for /nic/checkip.html"
Just now it seems that /nic/checkip.html simply reads the remote_addr header. It would be really useful to be able to set what header should be read (no point in fixing it to 'X-Forwarder-For' like some software, because e.g. CloudFlare use 'CF-Connecting-IP').

Use case is when running the web server behind a proxy.

Note that headers are only as reliable as the upstream proxies make them - that'

[2016-11-30 16:20] madpsy commented on #161
Acutally, I presume it's not just checkip.html which would need changed but rather whatever method it is using so the actual update works too!

[2016-11-30 16:26] madpsy opened #162 "Import bind standard zone file"
It might be useful to have the ability to bulk import a zone via an uploaded or pasted in bind compatable zone file.

There's a few things you could do here, such as support for multiple zone imports, but some way to import even a single zone would be nice.

Of course there is a possibility of partial imports, e.g. because of RECORDS_ALLOW_EDIT, and generally you wouldn't import NS or SOA record t

[2016-12-01 10:26] madpsy commented on #127
@kaechele Can you hand off authentication to somewhere else just now? If so, I'm interested how as that would be really useful for me too.

[2016-12-02 14:06] willfurnell opened #163 "'module' object has no attribute 'checkpw' when logging in."
Hello,
I'm having an issue logging into the PowerDNS-Admin panel. When using the correct credentials I get the error
 'module' object has no attribute 'checkpw'
and cannot login at all.

I'm using the latest git commit version.

Thank you for your help.

[2016-12-04 14:00] willfurnell commented on #163
Well I did a bit of debugging myself - it turns out I had an older version of bcrypt installed (pre 3.1.0) which didn't have the checkpw function included. This meant I had to upgrade this to the latest version.
However, bcrypt requires an older version of cffi (1.4.2) so I needed to manually install this (and overwrite the newer version I had installed) first.

I used the following commands to ac

[2016-12-04 14:00] #163 closed

[2016-12-06 11:43] payano opened #164 "Updating records via API gives records new id number in SQL"

[2016-12-06 11:47] payano commented on #164
When quering this command: curl -X PATCH --data '{"rrsets": [
  {"name": "test1.example.org.",
   "type": "A",
   "ttl": 86400,
   "changetype": "REPLACE",
   "records": [ {"content": "192.0.2.5", "disabled": false} ]
  },
  {"name": "test2.example.org.",
   "type": "AAAA",
   "ttl": 86400,
   "changetype": "REPLACE",
   "records": [ {"content": "2001:db8::6", "disabled": false} ]
  }
  ] }' -H 'X

[2016-12-06 14:23] #164 closed

[2016-12-06 17:20] madpsy opened #165 "Dyndns Updates Not Working"
Let me state from the start there is a good chance this is my fault. I can't seem to get dyndns updates working. I've tried:

GET https://user:pass@host/nic/update?domain=sub.domain.com
GET https://host/nic/update?domain=sub.domain.com (with base64 encoded Authorizaion header)
GET https://host/nic/update?user=user&password=password&domain=sub.domain.com

plus a few others, with no luck - they all

[2016-12-06 17:49] ivanfilippov commented on #162
The `pdns-server` package in most distributions comes with a tool called `zone2sql` which will do this for you. 😄

[2016-12-06 18:06] ivanfilippov commented on #165
PDNS-Admin actually needs the domain to be in the `hostname` parameter. This should work for you
[code]
When implementing this feature I followed the DynDNS docs almost exactly (there are a few missing features, such as updating multiple A records at once, but for the most part its fully compatible) and I don't see the `domain` parameter in there. You can see those docs [here](https://help.dyn.com

[2016-12-06 19:52] madpsy commented on #165
Thanks but no joy. Here's what I'm running:

`curl "https://user:pass@blah.com/pdns-admin/nic/update?hostname=dyntest.mydomain.com&myip=1.1.1.1"`

The result is 'badauth'

I've double checked the user:pass and they're correct (copy/pasted etc).

If there's anything I can do to debug I'm more than happy to do it. This isn't critical for me, just a bit frustrating :)

[2016-12-06 19:55] trenb commented on #165
Works fine for me. I use via /etc/sysconfig/ddclient on centos type boxen.
[code]

Hope that helps!

[2016-12-07 23:55] trenb commented on #165
Have you created a user in powerdns-admin and assigned it access to the domain you're trying to do dyndns with? Creating a user isn't enough, unless it's an admin user which gets access to all domains.

[2016-12-08 00:02] trenb commented on #162
Use zone2sql. It works really well and is how we handled our own migration from bind to powerdns.

[2016-12-09 09:33] madpsy commented on #165
Yeah and I can log in to the UI with the credentials and edit the zone etc. Very strange.

[2016-12-09 09:36] ngoduykhanh commented on #165
@madpsy : You have to grant user (including Administrators) access to that domain to be able to edit the record via DynDNS. Let double check your "Domain Access Control" page.

[2016-12-09 09:37] #158 closed

[2016-12-09 09:40] ngoduykhanh commented on #149
Recent History Time is in UTC at the moment. Depends on the user's browser timezone, we can convert and display in proper time. Patches are welcome :)

[2016-12-09 09:40] madpsy commented on #165
I think I've done it right.. see screenshot.

![domainpriv](https://cloud.githubusercontent.com/assets/13963858/21044379/91e4f252-bdf3-11e6-9da9-7d65dd438251.png)

[2016-12-09 10:00] petersipos commented on #165
Uhmm you need to check in the "Allow on-demand creation of records via DynDNS updates?", don't you?

[2016-12-09 10:02] madpsy commented on #165
I thought that was if the record you were 'updating' didn't already exist, thus gets created... in my test case the record already exists and is a true 'update'.

[2016-12-09 11:31] pnunn opened #166 "powerdns 4.0.0 and admin."
I can see the domains configured in pdns but when I try and access or manage any of them I get an error

[ERROR] Cannot fetch domain's record data from remote powerdns api

any ideas why this might be?

[2016-12-09 11:37] pnunn commented on #166
Just discovered that the reverse domain and one of the three configured do work with the api, the other two throw an Internal Server Error when I try and query the api with curl so looks as though its a database error from upgrading earlier versions or so such thing.

[2016-12-10 04:59] ngoduykhanh commented on #166
so the problem solved? The error meant you have problem in the pdns api configuration.

[2016-12-10 05:01] ngoduykhanh commented on #165
"Allow on-demand creation of records via DynDNS updates?" is for creating new record only. In update case we don't need it.

@madpsy : can you try with another user with new credential? Your issue looks weird.

[2016-12-12 11:02] madpsy commented on #165
No joy either...

I'm beginning to wonder if this is because it's running under WSGI and maybe the basic auth stuff isn't being passed.

[2016-12-12 14:01] pentiumoverdrive opened #167 "Ability to add comments to records"
We have lots of records being added to different zones.
Can we somehow make these records somewhat traceable by adding an optional comment field for each record?
There you can add ticket number/identification for each added record.

Powerdns does have a comment table in the database at least, but not sure if this is for zones only.

Thanks

[2016-12-12 18:44] madpsy commented on #165
That solved it. Missing 'WSGIPassAuthorization On' from Apache config. Hopefully useful to someone else.

Thanks for everyone's time & help.

[2016-12-12 18:44] #165 closed

[2016-12-12 19:14] jallakim commented on #165
Thanks for the info, @madpsy. I added it to the [https://github.com/ngoduykhanh/PowerDNS-Admin/wiki/WSGI-Apache-example](WSGI Apache example) wiki page.

[2016-12-13 12:22] madpsy opened #168 "DynDNS - update domain apex IP"
I say 'domain apex' to mean '@' - if I try the zone itself (hostname=test.com) or indeed '@' it just returns 'nohost'. I guess I'm either missing something obvious or it hasn't been implemented.

[2016-12-16 22:01] Znuff commented on #54
This would be very useful. The default config values don't even allow to add NS records, which was a brief "WTF" for me.

[2016-12-19 14:14] Znuff commented on #162
While `zone2sql` is present on all the systems, that means I have to log on the actual server via SSH and run the SQL commands manually.

This kind of defeats the purpose of the PowerDNS-Admin. If you're at that, you might as well do everything by SQL/API ...

The ability to import zones directly via PowerDNS-Admin would also help a lot when creating multiple records in a batch. Right now doing th

[2016-12-19 16:20] fabiorauber commented on #162
I agree with @Znuff, batch import is a killer feature, and useful in many situations for operators that don't (shouldn't) have access to the PowerDNS server.

[2016-12-21 15:11] gianbisso opened #169 "enabling/disabling Two Factor Authentication doesn't work"
I'm trying PowerDNS-Admin but OTP activation didn't work i fixed it in this way:
[code]

[2016-12-29 01:02] vectr0n opened #170 "sqlalchemy.exc.OperationalError"
Resolved.

[2016-12-29 05:45] #170 closed

[2017-01-01 16:18] HLFH commented on #130
@jonsparks Great! Can you submit a PR when it's ready? Thank you so much!

[2017-01-05 09:28] andreasalberta opened #171 "cannot get systemd working..."
i get "run.py: /usr/bin/env: python: No such file or directory"

this is the same error message i get if i try to start run.py manually (/opt/PowerDNS-Admin/run.py).
run.py only work if i first execute "source /opt/PowerDNS-Admin/flask/bin/activate"
but how can i start a service with this extra command first?

(i'm on centos7 with sqlite)

[2017-01-08 20:37] mathieumd commented on #123
+1, and a "Custom" choice should let the user choose any value she wants. By default it would be seconds, but it would be possible to append a simple unit: **s**econds, **m**inutes, **h**ours and **d**ays.

[2017-01-08 20:52] mathieumd commented on #92
+1! Without such warning it's too easy to lost a lot of work. The edits should be highlighted (perhaps even a banner in the header with a summary of the waiting changes), and saved in a temporary buffer, so that the user could browser to other page and still get them when coming back to apply them.

The bottom line is that not a single edit/work of the user should be lost, at least not without a w

[2017-01-08 21:23] mathieumd opened #172 "List recently edited zones in the left column"
The left column should contain a list of the N zones recently edited. The navigation would be faster, because currently you have to go to the dashboard first before switching zones.

It could look like this:
![list_zones.png](https://cloud.githubusercontent.com/assets/2104679/21753588/76323744-d5f0-11e6-8943-6a71e47f413c.png)

[2017-01-08 21:32] mathieumd opened #173 "CSS: Emphasis on zone name"
The page "Manage domain" should have a title which put emphasis on the zone name. Something like this:
![better css](https://cloud.githubusercontent.com/assets/2104679/21753649/04b26dd0-d5f2-11e6-8ea9-c16e530cf17e.png)

In the same way, the HTML `<title>` should start with the zone name:
- NOW: `<title>DNS Control Panel - DOMAIN</title>`
- BETTER: `<title>example.com - DNS Control Panel</title>`

[2017-01-08 21:43] mathieumd opened #174 "Remove includes of external sites"
PowerDNS-Admin is bound to be used inside enterprises premises, managing very sensible data. It should not include any links to providers like `fonts.googleapis.com`, `cdnjs.cloudflare.com` or `gravatar.com`! All such data should be included into the sources, or if not possible (for Gravatar) enabled only _after_ confirmation by the user.

[2017-01-10 08:25] Olipro opened #175 "PowerDNS-Admin fails to start after update due to auto_ptr"
It appears to me that there is no DB migration for the auto_ptr - or at least, running the DB upgrade script did nothing.

Manually adding the auto_ptr field to the setting table fixed it. I'm using PostgreSQL.

[2017-01-13 14:44] Znuff opened #176 ""info" button on the history section of the dashboard breaks when record data contains quotes"
The regex in `custom.js` at line 171 converst this:

    {u'record_ttl': u'3600', u'record_type': u'TXT', u'record_name': u'@', u'record_status': u'Active', u'record_data': u'"google-site-verification=kCRMdROUVMqUomjGL5siVYci-EHGjTbAbMCoBi4LTLU"'}

to:

    {"record_ttl": "3600", "record_type": "TXT", "record_name": "@", "record_status": "Active", "record_data": ""google-site-verification=kCRMdROU

[2017-01-17 22:14] jon617 commented on #5
I cannot get three MX records to add.  Only the last one is stored.

    {
      "rrsets": [
        {
          "records": [
            {
              "disabled": false,
              "content": "10 mailserver.com."
            }
          ],
          "changetype": "REPLACE",
          "ttl": 600,
          "type": "MX",
          "name": "me.com."
        },
        {
          "records": [

[2017-01-20 07:44] anddah commented on #171
/bin/bash -a -c 'source /opt/PowerDNS-Admin/flask/bin/activate && exec  /opt/PowerDNS-Admin/run.py'

[2017-01-20 09:25] andreasalberta commented on #171
excellent, working thanks!

[2017-01-20 09:25] #171 closed

[2017-01-20 10:28] anddah opened #178 "Group zones"
It would be great to be able to group zones and also be able to assign a user to the group instead of the zone directly.

[2017-01-27 18:19] goldyfruit commented on #169
@gianbisso Thanks for the patch, it works for me 👍

[2017-01-29 21:05] SBC-MvS opened #179 "Editing NS records"
In the default configuration the record type NS for domains is not included. As those record types are required to be set if you create a new domain through the webinterface the first you have to do is to update the configuration to include them or else you can't add a new domain and configure it completely through the webinterface. This is a minor problem that should be changed in the config_temp

[2017-01-30 10:17] jallakim commented on #179
Explicitly having to "enable" NS record editing is good as it is, IMHO.

Regarding the issue with PTR zones, that was introduced in [b8848f3](https://github.com/ngoduykhanh/PowerDNS-Admin/commit/b8848f315b7c9935ed5a6463b577f375faafa685#diff-b5099d1f0106025f31781ccbe0a59d13) -- and yes, that should be changed.

[2017-01-30 11:38] SBC-MvS commented on #179
Maybe check if the RECORDS_ALLOW_EDIT contains 'PTR' and then add it in the overwrite in the views.py.

[2017-01-30 11:44] jallakim commented on #179
Or just add `PTR_RECORDS_ALLOW_EDIT` or similar, where you can control it for PTR zones. There are several allowed record types for PTR zones (PTR, NS, CNAME, TXT, etc).

[2017-01-30 14:42] dzervas commented on #152
I have the same problem, but I can't see any errors (I use [this](https://github.com/dzervas/powerdns-docker/blob/master/padmin/Dockerfile) docker container). The entry is created normaly on pdns.

[2017-02-07 21:31] githuhb opened #180 "Unable to grant admin access if users are not on first page"
Running latest PowerDNS-Admin with pdns 4.0.1

I am unable to grant admin access to a powerdnsadmin user (LDAP users) if the users are not on first page (more than 10 users), the tick box appears different on the second page and has no effect.

[2017-03-01 18:05] cropalato opened #182 "Add a changelog"
Hi,

Your project is really good, I've been testing for some time and now i decide to check for new features/bug fixes.
Since there is no changelog is difficult to understand what changed since my last upgrade.
Is it possible to add a changelog?

[2017-03-14 08:27] schlitzered opened #183 "!!! Data Curruption after adding records with PowerDNS-Admin !!!"
Hey,

there is a severe bug that can corrupt your whole dataset of any zone.

how to reproduce:

1. Create a new zone example.com
2. open two tabs in this zone
3. in the first tab, create a new zone record, save & submit, verify that you can see the record, do not reload the second tab!
4. in the second tab, that will not show this newly created record, create a second record, save & submit
5. rel

[2017-03-14 16:27] trenb commented on #183
I've had this happen as well.

[2017-03-14 23:12] phoenixlzx commented on #183
I think this is intended to be, you should never edit one zone in the same time.

According to PowerDNS API, you may sent only updated rrsets via `PATCH` method. However, this is not a delta because you don't know existing rrsets in the zone, and your records may still be overridden or corrupted.

IMO maybe simply set an 'edit lock' to the zone while entering edit mode, and removes the lock after

[2017-03-14 23:19] schlitzered commented on #183
no, this is IMHO wrong, PowerDNS Admin should only send updated/deleted records. for example, what if you also change records via dhcp ddns updates, what would be the reason to overwrite/delete these?

or imagine you have tens of thousands of records, sending them all the time is simply a stupid idea & very expensive.

i would call this unexpected behavior.

[2017-03-14 23:35] phoenixlzx commented on #183
You can send a delta when you already get all the records, but this is not possible to make a delta or keep data integrity when the zone is edited simultaneously.

[2017-03-14 23:54] schlitzered commented on #183
no, PowerDNS-Admin (the Javascript stuff) will not send a delta, it will always send the the full data set (since the page has been fetched), if you do not believe me, check it using firebug, or chrome dev tools.

after this PowerDNS-Admin, the python part, will:

- fetch a fresh copy of the zone records
- compare what has been send by Javascript with what is in PowerDNS
- if PowerDNS contains rec

[2017-03-15 18:13] jallakim commented on #183
Duplicate of #141 (different description/example, but the same underlying issue).

Only sending delta is not enough, since the API of pdns requires you to send *all* records of the same name and type in the same rrset.

If you have the following records;

[code]

User #1 logs in and enters a zone, followed by idle. Meanwhile, user #2 enters the zone, and adds ```foo.bar IN A 3.3.3.3```, and saves.

[2017-03-17 06:08] openmsk opened #184 "History detail"
User deleted record
User added record
User changed record - what value?

[2017-03-17 08:47] openmsk commented on #184
Resolved:
[code]

[2017-03-19 20:45] yohannprigent commented on #179
I think it should also copy original NS with auto_ptr

[2017-03-22 18:27] k0nsl opened #185 "Issue with adding A record"
I don't know why this is an issue, but it is.

Let me explain:

Adding an A entry for `subdomain.domain.tld` works perfectly fine, but if I try to add an entry for the actual `domain.tld` it doesn't work. In the admin interface it shows that the entry has been added, sure. But it does not resolve. So I can only add various subdomains, e.g `something.domain.tld`, `something.else.domain.tld`, and so

[2017-03-24 08:54] #133 closed

[2017-03-28 00:30] carragom commented on #179
Ran into this issue today. The root of the problem here seems to be that the criteria for Reverse zones are different than for Forward zones. Maybe an option could be to have two lists:

    FORWARD_RECORD_TYPES = ('SOA', 'NS', 'A', 'CNAME', etc)
    REVERSE_RECORD_TYPES = ('SOA', 'NS', 'PTR')

Then change [this](https://github.com/ngoduykhanh/PowerDNS-Admin/blob/master/app/models.py#L1131) line t

[2017-03-29 17:32] srinijreddy opened #187 "Powerdns Issue"
Hi Khanh,

I am trying to install powerdns on my existing DNS server, set following error.  This is my existing DNS server. Can you please help.

compilation terminated.
  error: command 'gcc' failed with exit status 1

  ----------------------------------------
  Failed building wheel for python-ldap
  Running setup.py clean for python-ldap
Failed to build python-ldap

Modules/common.h:10:20: fat

[2017-03-29 17:35] trenb commented on #187
This isn't an issue with PDA, you don't have your python development libraries installed. On a RHEL compatible system, it'll be python-devel.

[2017-03-29 21:30] srinijreddy commented on #187
Thanks Issue is resolved.

[2017-03-29 21:30] #187 closed

[2017-03-29 21:43] srinijreddy opened #188 "Unable to connect to DB"
Hi Khanh,

I am unable to connect to database when i run ../create_db.py in flask, When i run it with out flask it worked,

**I installed:**

pip install MySQL-python
Collecting MySQL-python
  Using cached MySQL-python-1.2.5.zip
Installing collected packages: MySQL-python
  Running setup.py install for MySQL-python ... done
Successfully installed MySQL-python-1.2.5

**DB Config**
SQLA_DB_USER = 'p

[2017-03-30 17:48] srinijreddy commented on #188
Do you have any update on this please.

[2017-03-30 19:08] ivanfilippov commented on #188
Your SQLA_DB_HOST shouldn't have an @ symbol in it, it should just be a host name or IP address.

[2017-03-30 19:15] ivanfilippov commented on #185
When you try to add an A record for `domain.tld` are you leaving the Name field blank (or with an @ sign)? Can you attach a screenshot of your interface?

[2017-03-30 19:21] ivanfilippov commented on #184
You can see the detail of changes by clicking the blue "Info" button on the right side. It doesn't list the previous data, but shows the current state of the domain.
![image](https://cloud.githubusercontent.com/assets/325998/24522051/8cba0cd6-154b-11e7-841e-39e59e36778d.png)

Because of how the PowerDNS API accepts updates, we have the send the full zone every time, so we'd need some logic to diff

[2017-03-30 19:21] #184 closed

[2017-03-30 19:25] ivanfilippov commented on #182
Since PowerDNS-Admin doesn't have "releases" and is usually used directly from the master branch on github a changelog would be tough to maintain. For now I recommend using the github commit log to review what was changed or added. If we decide on doing "releases" then we can create a changelog to show difference from one release to the next.

The owner of the project (@ngoduykhanh) might have a d

[2017-03-30 19:31] ivanfilippov commented on #166
No response from original reporter since December 2016. Closing issue.

[2017-03-30 19:31] #166 closed

[2017-03-30 19:38] ivanfilippov commented on #161
The code for checkip.html is very simple, you can check it out [here](https://github.com/ngoduykhanh/PowerDNS-Admin/blob/master/app/views.py#L738). Basically we would need to check for presence of every type of "proxy" header (X-Forwarded-*, CF-Connecting-IP, X-Real-IP,etc) and pick one that's available.

Should be an easy fix and I'll try to look at it but patches are welcome. :)

[2017-03-30 19:39] ivanfilippov commented on #161
Oh and the code relies on the 'myip' parameter being present in the DynDNS request.

[2017-03-30 19:56] srinijreddy commented on #188
Sorry that was a typo , I dont have @symbol in actual file.

[2017-03-30 20:27] ivanfilippov commented on #188
When you say it works outside of flask, but not in flask, do you mean the `virtualenv`? If so, can you run the `pip install -r requirements.txt` command inside the virtualenv again and post the results.

[2017-03-30 20:33] srinijreddy commented on #188
Yes in virtual environment,

 pip install -r requirements.txt
Requirement already satisfied: Flask>=0.10 in ./flask/lib/python2.7/site-packages (from -r requirements.txt (line 1))
Requirement already satisfied: Flask-WTF>=0.11 in ./flask/lib/python2.7/site-packages (from -r requirements.txt (line 2))
Requirement already satisfied: Flask-Login>=0.2.11 in ./flask/lib/python2.7/site-packages (from -r

[2017-03-30 21:30] Zuko commented on #183
https://github.com/zakk4223/PowerDNS-Admin/commit/544efc7fe36312a8b3c037e9457318dd9c4469c0 ?

[2017-03-31 08:23] madpsy commented on #161
Having the header read from plugin options or a config file might be better than looking for multiple headers given it can be completely custom.

[2017-03-31 16:12] tadamhicks commented on #188
Is your database host properly in DNS?  In other words, if you `ssh powerdns.mydomain.com` can you get there?

Have you tried using the ip address of your database host instead?

[2017-03-31 19:05] srinijreddy commented on #188
Yes, my DB is host is in DNS , I also check it with IP address.

SQLA_DB_USER = 'powerdnsadmin'
 SQLA_DB_PASSWORD ='password'
 SQLA_DB_HOST = '10.X.X.X'
 SQLA_DB_NAME = 'powerdnsadmin'

**I still get the issue**

./create_db.py
 INFO: Wait for database server
 ERROR: Couldn't connect to database server

[2017-03-31 22:11] tadamhicks commented on #188
Is your PDNS-Admin server on the same network?  Like, can you ssh from your PDNS-Admin server to your mysql server?  Can you remotely connect to your mysql instance?  Are you sure your mysql db is listening?

[2017-04-02 00:55] srinijreddy commented on #188
My PDNS-Admin and PDNS DB running on the same machine as i posted in above comment , In show databases, It shows both the DB's are running in the same machine.

| powerdns |
| powerdnsadmin |
+--------------------+

[2017-04-03 19:06] srinijreddy commented on #188
Any update for me here ?

[2017-04-04 08:09] shafe66 commented on #188
I was hoping you had found something.  Really wanted to use this gui for powerdns server, but I guess I will need to find something else.  I have exact same symptoms and errors as you.

[2017-04-04 08:58] ngoduykhanh commented on #188
@srinijreddy

If they are in the same machine, have you tried to set `localhost` or `127.0.0.1` for SQLA_DB_HOST?, Also, you should double check your mysql user permission.

[2017-04-04 09:07] ngoduykhanh commented on #182
Commit history is good enough for me at the moment. Since the project is still under development and bug fixes, we don't do any "release" to have change changlog

[2017-04-04 12:40] Zuko opened #189 "MySQL connection problem"
Hi, I move PowerAdmin database from local host to another host (Galera Cluster) and I experience too many ```2006, 'MySQL server has gone away'``` errors.

It's possible to just reconnect rather than putting ```error 500```?

Or maybe it's possible to set connection timeout?

[2017-04-04 16:30] srinijreddy commented on #188
Yes, I tried,

SQLA_DB_USER = 'powerdnsadmin'
SQLA_DB_PASSWORD = 'XXX'
SQLA_DB_HOST = 'localhost'
SQLA_DB_NAME = 'powerdnsadmin'

But i try to connect manually to DB , I am able to connect with out any issues,

PowerDNS-Admin]# mysql -upowerdnsadmin -pXXXXX -hlocalhost
Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MariaDB connection id is 7
Server version: 5.5.52-MariaDB MariaDB

[2017-04-04 20:26] srinijreddy commented on #188
Hi , Any help here , I need to implement this PDNS GUI .

[2017-04-05 10:33] petersipos commented on #188
@srinijreddy Maybe you have problem with your python module installations not the PDNS Admin. Several months ago I faced with the same issue, and I solved some way (sorry I don't remember how). Try to install the python mysql client manually or try to install another versions.

[2017-04-05 20:26] srinijreddy commented on #188
@petersipos I reinstall the package , Now i get the following message , What does this mean  ? my DB service is running .

(flask) [root@powerdns01 PowerDNS-Admin]# ./create_db.py
INFO: Wait for database server

[2017-04-06 02:24] unclev0va commented on #189
Try,
SQLALCHEMY_POOL_RECYCLE = 600
in config.py

[2017-04-06 16:19] srinijreddy commented on #188
Any update please.

[2017-04-07 16:50] srinijreddy commented on #188
Can you anyone throw quick taughts here, I have deploy this GUI.

[2017-04-07 17:20] ivanfilippov commented on #188
Hi @srinijreddy

Paste the following into a file called `test.py` (in the same directory as the PowerDNS-Admin config.py file) then run it by running `python test.py` and return to us with the output:

[code]

[2017-04-07 18:43] srinijreddy commented on #188
Hi @ivanfilippov

Here is the result.

2017-04-07 19:42:32,568 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
INFO:sqlalchemy.engine.base.Engine:SHOW VARIABLES LIKE 'sql_mode'
2017-04-07 19:42:32,568 INFO sqlalchemy.engine.base.Engine ()
INFO:sqlalchemy.engine.base.Engine:()
2017-04-07 19:42:32,569 DEBUG sqlalchemy.engine.base.Engine Col ('Variable_name', 'Value')
DEBUG:sqlalche

[2017-04-07 21:41] ivanfilippov commented on #188
@srinijreddy that output means that you've successfully connected to the database so the issue is not with your SQLALCHEMY_DATABASE_URI parameter or your MySQL server.

We can try troubleshooting the queries. Add `SQLALCHEMY_ECHO=True` to your `config.py` and run `create_db.py`

[2017-04-10 16:36] srinijreddy commented on #188
I get the following :

./create_db.py
INFO: Wait for database server
2017-04-10 17:34:05,050 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
[INFO] SHOW VARIABLES LIKE 'sql_mode'
2017-04-10 17:34:05,050 INFO sqlalchemy.engine.base.Engine ()
[INFO] ()
2017-04-10 17:34:05,051 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
[INFO] SELECT DATABASE()
2017-04-10 17:34:05,051 INFO

[2017-04-10 17:45] ivanfilippov commented on #188
That's normal. What happens when you try to access the web address?

[2017-04-10 18:04] srinijreddy commented on #188
its timing out..Is it due to port issue i guess.

[2017-04-11 14:35] openmsk commented on #184
Иван, простите за затишье с моей стороны.
но в моем случае кнопка info есть, но на большей части изменений не отображает детали.
в дебаг консоли браузера пишет
[code]
это в Chrome.
в Safari чуть иначе выглядит ошибка, но поведение такое-же

![screen shot 2017-04-11 at 17 33 50](https://cloud.githubusercontent.com/assets/3602406/24914500/11d334e8-1edd-11e7-9f2d-5881980ade44.png)

позднее, если нужн

[2017-04-13 08:54] cairnsolutions opened #191 "SRV Record Helper not working"
The record helper for SRV records on the domain page does not appear.

It looks like the modal.modal('show'); line is missing from the end.

[2017-04-15 16:28] Zuko commented on #189
Thanks

[2017-04-17 04:05] techhelper1 opened #192 "Support CAA Records"
It would be nice if the UI would support CAA records.

[2017-04-21 19:43] srinijreddy commented on #188
Its still timing out. Cant access the GUI .

[2017-04-21 20:09] ivanfilippov commented on #188
It operates on port 9393. Are you browsing to it from the same computer that you're running the run.py command on? If not, it will not work.

[2017-04-21 20:18] srinijreddy commented on #188
Yes, I have my DB, PDNS running on 10.13.56.24 and thats where i ran run.py , when i type 10.13.56.24:9393 , I gets connection timed out.
netstat -tulnp
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp        0      0 0.0.0.0:3306            0.0.0.0:*               LISTEN      52462/mysqld
tcp        0

[2017-04-21 20:23] ivanfilippov commented on #188
Try http://127.0.0.1:9393

[2017-04-21 20:24] ivanfilippov commented on #188
Sorry, I ignored your netstat. The PDNS-Admin server is not running according to that netstat.

[2017-04-21 20:26] srinijreddy commented on #188
when i try to start :

systemctl start pdns-admin
Failed to start pdns-admin.service: Unit not found.

[2017-04-21 20:46] ivanfilippov commented on #188
That's a different issue, let's focus on the issue of connecting to it. Can you try launching it via run.py, then connecting to it?

[2017-04-21 20:50] srinijreddy commented on #188
I re ran run.py  , But still i am not able to connect it .
 ./run.py
[INFO]  * Running on http://127.0.0.1:9393/ (Press CTRL+C to quit)
[INFO]  * Restarting with stat
[WARNING]  * Debugger is active!
[INFO]  * Debugger PIN: 217-035-495

netstat -tulnp
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp

[2017-04-21 21:20] ivanfilippov commented on #188
I don't see it running in your netstat. Are you leaving one terminal open with the run.py and running the netstat in a second one?

[2017-04-21 22:29] srinijreddy commented on #188
No , every thing is on the same system, DB , PDNS Admin and PDNS config on the same system .
Even netstat is also on the same system.

[2017-04-22 04:04] jallakim commented on #192
Just add it to ```RECORDS_ALLOW_EDIT```, and it should work just fine.

[2017-04-23 10:03] aloonj opened #193 "Multiple installations using same PDNS back-end?"
Would it be possible to have multiple PowerDNS-Admin installations and configure one in such a way to totally disable Admin console with restricted feature public facing access?

Public facing: Users can log in and edit records for their own assigned domains only.
Private facing: Admins can login (LDAP etc.) to administrate the system, add new domains, add/edit other users.

Thanks,

A

[2017-04-24 14:19] srinijreddy commented on #188
Can you help me please.

[2017-04-24 15:46] ivanfilippov commented on #188
Hi @srinjreddy,

'run.py' is running but the port that it shows itself as running on (9393)
is not showing up in netstat which means that 'run.py' has crashed/stopped
running before you ran netstat or 'run.py' is running on a different
computer. In the terminal that you're running netstat in can you run 'ps'
and then 'netstat -tulnp' and post the output (please review the output of
'ps' and edit i

[2017-04-24 16:44] srinijreddy commented on #188
source ./flask/bin/activate
(flask) [root@powerdns01 PowerDNS-Admin]# ./create_db.py
INFO: Wait for database server
ERROR: Couldn't connect to database server

 ./run.py
[INFO]  * Running on http://127.0.0.1:9393/ (Press CTRL+C to quit)
[INFO]  * Restarting with stat
[WARNING]  * Debugger is active!
[INFO]  * Debugger PIN: 217-035-495

ps -ef

root        445      1  0 Mar13 ?        00:00:14 /usr

[2017-04-24 19:33] ivanfilippov commented on #188
Oh I didn't realize that you didn't get `create_db.py` working earlier.
That shouldn't prevent `run.py` from working though, you'll at least be
able to access the login screen in the web UI.

I'm not sure I can help you any further, I don't see any reason for your
setup to not work (I even tried to install PDNS-Admin from scratch on a new
VM with a new database to replicate the issue and couldn't)

[2017-04-24 19:35] srinijreddy commented on #188
Anyone has any idea ? on this ? why i am i not able to connect to GUI and DB.

[2017-04-30 14:04] madpsy opened #194 "NoneType' object has no attribute 'value'"
After performing a 'git pull' (by accident I must admit), for some reason pdns-admin broke.

This occurs if if run directly (./run.py) or via wsgi. It was working beforehand so not sure what could have gone wrong here.

Anyone any thoughts?

`Traceback (most recent call last):
  File "/var/www/pdns-admin/flask/lib/python2.7/site-packages/flask/app.py", line 1997, in __call__
    return self.wsgi_a

[2017-05-04 09:03] maus007 commented on #188
For resolve this issue install MySQL-python
`pip install MySQL-python`
For this need libmysqlclient-dev

[2017-05-04 15:07] srinijreddy commented on #188
It still doesnt work .

(flask) [root@power PowerDNS-Admin]# ./create_db.py
INFO: Wait for database server
ERROR: Couldn't connect to database server
(flask) [root@power PowerDNS-Admin]# rpm -qa | grep -i Mysql-python
MySQL-python-1.2.5-1.el7.x86_64
(flask) [root@powerdns01 PowerDNS-Admin]#

[2017-05-04 15:10] maus007 commented on #188
You install to system not to virtual env
RUN `pip install MySQL-python`
Before this install `libmysqlclient-dev`

[2017-05-04 15:15] srinijreddy commented on #188
I installed it out of Virtual Environment , And moved in to Virtual environment -Flask. To run .Create.db.py

[root@powerdns01 ~]# yum install MySQL-python
Loaded plugins: fastestmirror, langpacks
base                                                                                                                                            | 3.6 kB  00:00:00
epel/x86_64/metalink

[2017-05-04 21:17] srinijreddy commented on #188
Message for me here please ?

[2017-05-04 21:49] yonexone commented on #188
It seem that I have the same problem, but under ubuntu 16.04 LTS with patches from today.

[code]
Database access is working. Maybe its a python2.7 problem?

[2017-05-04 22:03] yonexone commented on #188
This works for me:

[code]

[2017-05-05 07:27] maus007 commented on #188
You must do `pip install MySQL-python`
Only this way not install to system and copy to virtualenv

[2017-05-16 13:22] morbiddk opened #199 "systemd issues on Ubuntu"
I followed the Install steps for Ubuntu 14.04 and 16.04 yesterday and all is working great if I manually start the venv and run.py but I am now trying to get systemd working and it appears that no matter how I setup the service script there seems to be a problem with the activate script upon executing the systemd.

[code]

[code]

[2017-05-16 16:26] trenb commented on #199
That's because your systemd unit file is setting the path to only include /opt/web/PowerDNS-Admin - Because if this, your python binary is not able to be found. Usually when you want to add to the path you'd do something like:
[code]
There's a systemd unit file provided in the project wiki. I'd recommend using that as it works.

[2017-05-16 21:13] morbiddk commented on #199
Same error with your change and I would like to point out that my systemd did come from the Wiki and both "working" versions have the Environment variable specified exactly how my original one was.

[code]

[code]

[2017-05-16 21:31] elmobp commented on #199
Hey,

We had issues with it as well then moved to wsgi I have included the configs below

[code]

[code]

Nginx config
[code]

Been in prod for a while now!

[2017-05-16 21:31] trenb commented on #199
Sorry about that, it's been a while since I've set this up. The same unit file works for me on CentOS 7.

[2017-05-17 05:25] morbiddk commented on #199
Thanks elmobp for the idea. I already had apache running on the server from a previous web interface, so I just setup wsgi through that and its working great!

[2017-05-17 05:25] #199 closed

[2017-05-21 17:21] howsonwhocodes opened #200 "Running as a background service"
Hi,

I've tried running PowerDNSAdmin wtih gunicorn and using supervisor. The wiki examples using supervisor don't seem to work on Debian 8. Please can you advise how to run it as a service?

Thanks for making a great tool. Running it in the background is all i'm struggling with.

Thanks,

Tom

[2017-06-01 14:43] Poil opened #201 "Missing requirement"
We need this lib in requirements.txt
[code]

[2017-06-01 14:44] Poil commented on #201
And you can add to your requirement for Debian/Ubuntu

apt install libldap2-dev  libsasl2-dev libssl-dev
for MariaDB libmariadbclient-dev
for MySQL libmysqlclient-dev

[2017-06-06 11:30] olkitu commented on #200
Do you have tried?

`  sudo ./run.py &
`

[2017-06-16 21:12] bitsofinfo commented on #192
How do you do this? where is this property defined? file?

[2017-06-21 12:38] tobiasstein opened #203 "requirement.txt misses dependancy to psycopg2"
Hi,
When using `uwsgi` with a `virtualenv` the dependancy to `pyscopg2` is missing in `requirements.txt`.
Would be great if you added it. Latest (currently) 2.7.1 seems to be working.

[code]

Thanks for powerdns-admin!

[2017-06-21 21:32] cgonzalez commented on #194
I have the same issue. Have to use a backup of the application to recover.

What additional details can I send you to diagnose this problem?

[2017-06-25 21:30] jallakim commented on #192
@bitsofinfo, in ```config.py```.

[2017-06-26 15:20] mdomore opened #204 "problem when creating DB"
hi,

i ha ve some trouble creating the databases with the create_db.py

sqlalchemy.exc.OperationalError: (_mysql_exceptions.OperationalError) (1071, 'Specified key was too long; max key length is 767 bytes') [SQL: u'\nCREATE TABLE migrate_version (\n\trepository_id VARCHAR(250) NOT NULL, \n\trepository_path TEXT, \n\tversion INTEGER, \n\tPRIMARY KEY (repository_id)\n)\n\n']

Any one can help me wi

[2017-06-26 15:36] Hansfreddy commented on #204
I just wanted to add that I'm experiencing the exact same problem. I'm on Ubuntu 16.04 BTW

[2017-07-05 14:10] maysara opened #209 "LDAP binding using username"
Greetings,

This issue has both a suggestion of feature, but also a bug regarding using LDAP configs with LDAP_TYPE='ad'

currently I need to have an LDAP account to do the binding, and write down the password in plain text in the config file! this seems a common practice, I'm sure some are comfortable with, but since one is using LDAP account to login (apart from the binding account); I wonder if

[2017-07-06 11:07] mdomore commented on #204
i just switch to psql, but its a on going problem with mysql and inodb.

[2017-07-06 11:07] #204 closed

[2017-07-07 16:26] psy0rz commented on #93
so this issue isnt realy fixed and shouldn't be closed? it seems powerdns-admin still is inefficient with many domains.

it downloads a list of ALL the domains to the browser, so this is not scalable!

[2017-07-11 22:12] christophlehmann opened #210 "Support Fail2ban"
https://www.fail2ban.org/wiki/index.php/Main_Page

A source ip address in log lines like `[ERROR] User "test" input a wrong password` or `[WARNING] User "foo" does not exist` would be nice

[2017-07-15 08:06] vitalka200 opened #211 "Support for LDAP_GROUP_SECURITY"
Hi do you have any plans on adding the functuanality described by @ivanfilippov in
https://github.com/ngoduykhanh/PowerDNS-Admin/issues/11
It's very useful especially in large ldap/ad deployments when you want users/roles separation.

Actually having LDAP_USER_GROUP and LDAP_ADMIN_GROUP will allow controlling wich specific users from the domain can have read or write permissions without giving to

[2017-07-24 22:42] maysara commented on #211
I second that, thank you for pointing out that @vitalka200, I wrote a quick hack to make LDAP authenticated users admins by default, I shall replace it with work of @ivanfilippov

[2017-07-31 08:38] yasmeen2017 opened #212 "Powerdns-admin service path"
Greetings,

I followed up the example you mentioned here "PowerDNS-Admin/wiki/Systemd-example" and i think  there is no need to write this line " Environment="PATH=/opt/web/powerdns-admin" in the script,  as its not  running with it because this path breaks the user path

[2017-08-08 13:55] iXL7 commented on #180
Same Issue here.
I've updated manually the role_id in the mysql database for my user.
Anyone got a better solution ? Maybe increase the amount of user listed on the pages ?

[2017-08-09 07:11] Kazyini commented on #188
We use the PyMySQL Lib for better work with MariaDB 10.2.

`pip install PyMySQL`

Change the SQLAlchemy uri from:
[code]

to:

[code]

[2017-08-16 14:39] SIXwishlist commented on #70
Option "forgot password" is available?

[2017-08-23 01:39] tahiro86j commented on #126
Intended to run it on Raspbian Stretch and ran into the same problem today.

[2017-09-04 12:16] fabiorauber commented on #194
Just updated to the latest version, and the application broke with the same error:

[code]

[2017-09-04 12:25] fabiorauber commented on #194
This problem is similar of the one in the issue https://github.com/ngoduykhanh/PowerDNS-Admin/issues/51. Solved by inserting auto_ptr setting in database:

[code]

[2017-09-07 19:25] #182 closed

[2017-09-09 19:48] paradoxni commented on #93
4000 domains here. The dashboard is so slow on each load it makes the whole thing practically unusable.

[2017-09-09 20:12] fabiorauber commented on #93
This solved for me https://github.com/ngoduykhanh/PowerDNS-Admin/pull/207

[2017-09-11 18:24] zmsp commented on #122
My hacky way around it was https://github.com/zmsp/PowerDNS-Admin/commit/fdcf9b69bfdfd4da496724b13c5ee356b05ebac7

[2017-10-02 16:45] dastrath commented on #153
Had the same issue.

Solved it by

(a) activating the api
(b) using the correct pdns-version in PowerDNS-Admin-config file

[2017-10-19 19:27] djcf opened #215 "Not able to create or view domains with LDAP pdns backend"
Is this expected behaviour?

Log output from pdns:

Oct 19 19:25:21 HTTP: Handling request "/api/v1/servers/localhost/zones"
Oct 19 19:25:21 [LdapBackend] LDAP servers = ldap://ldap/
Oct 19 19:25:21 [LdapBackend] Ldap connection succeeded
Oct 19 19:25:21 [LdapBackend] Ldap connection closed
Oct 19 19:25:21 HTTP: Result for "/api/v1/servers/localhost/zones": 422, body length: 50

And from PowerDNS-

[2017-11-22 17:30] jedrus2000 commented on #188
Got same issue on Ubuntu 16.04.3 LTS
@yonexone Solution helped me. Thanks for it.

After ./create_db.py error I've executed such commands:
(still being in flask env)
[code]

[2017-12-05 21:47] madpsy commented on #194
@fabiorauber  - Excellent thanks! That is indeed the fix for this one.

[2017-12-06 13:49] TheGr8Wonder opened #221 "Project will be updated"
All,

I was recently given access to mod the project, so for those subscribed to this project (or those who lurk on issues), over the next few weeks or so, I will be combing through all of the backlog issues and PRs, and will close/merge as needed. It's been a year since anything has been committed, and that has caused some disparity within all of the forks. So if you have a awesome feature that y

[2017-12-07 12:17] satya876 opened #222 "Need Installation help for NGINX webserver"
Kindly provide detailed steps to install the application on Debian over NGINX Webserver. Thank You !!

[2017-12-12 08:39] rhaamo commented on #212
The WIKI page have been edited some times ago, if this is OK can you close the issue ?

[2017-12-12 09:36] rhaamo commented on #222
What's your issue exactly ?
There is https://github.com/ngoduykhanh/PowerDNS-Admin/wiki/uWSGI-example and by using something like https://github.com/ngoduykhanh/PowerDNS-Admin/wiki/Systemd-example it's a simple "proxy pass".

[2017-12-12 09:58] satya876 commented on #222
Thank you for the help. However I am not able to run it on local, I followed the native installation steps provided on the home page of the project. But not successful in the installation, is there any trick ?

[2017-12-12 10:02] rhaamo commented on #222
Ok, on which step are you blocked ?
Creating the database or running the app ?
Can you provide a traceback error to debug ?

[2017-12-12 10:23] satya876 commented on #222
I am getting issue from the below steps onward:

pip install -r requirements.txt

I will share the logs shortly.

Wanted to know if any dependency module is required apart from mentioned in the installation steps.

Thank You !!

[2017-12-12 10:49] satya876 commented on #222
Attached is the error I am getting. GCC compilation is installed. If needed I can share server login credentials if you would like to check.
[1.txt](https://github.com/ngoduykhanh/PowerDNS-Admin/files/1551234/1.txt)

[2017-12-12 11:11] satya876 commented on #222
Thanks for the help, I am able to install and it is not running on below url:
http://216.158.238.59:9393
This is for testing.
Kindly let me know how I can create a Admin account and please explain me the below configuration from the  file config.py
# POWERDNS CONFIG
PDNS_STATS_URL = 'http://172.16.214.131:8081/'
PDNS_API_KEY = 'you never know'
PDNS_VERSION = '3.4.7'

What is this "PDNS_STATS_URL"

[2017-12-12 11:58] thomasDOTde commented on #221
I've already merged a lot of recent PRs and implemented some new functionality.
Thats also including some new bug fixes from other contributors.
https://github.com/thomasDOTde/PowerDNS-Admin

[2017-12-12 12:26] rhaamo commented on #222
Try to avoid publishing public IPs/URLs to avoid security issues.

```PDNS_STATS_URL``` is the URL to your PowerDNS Webserver API, for a PowerDNS with config:
[code]
Your ```PDNS_STATS_URL``` will be ```http://ip.where.is.installed.powerdns:8000/```
```PDNS_API_KEY``` Will be "someapikey42"
```PDNS_VERSION``` Set to the version of the installed PowerDNS.

Then after restarting PowerDNS-Admin, you

[2017-12-12 12:44] satya876 commented on #222
Thanks for your help. I will try and let you know if needed any further help.
Also I truly agree to avoid posting any public IP, however I mentioned because that is my Test Environment.
Thanks a lot.

[2018-01-07 13:03] DigiDaz commented on #96
I'm experiencing exactly this now with a postgres backend, then records will not save because it sees a duplicate and sure enough, there it is in the gui.

The same record just keeps reappearing.

[2018-01-07 13:05] DigiDaz commented on #96
In fact, I just deleted both instances of it and realised, in my case it is duplicating the first record in the domain.

[2018-01-14 12:25] pasikarkkainen commented on #221
Nice! Good to see activity related to this project :)

[2018-01-20 16:57] TheGr8Wonder commented on #221
@thomasDOTde can you please shoot me an email (can be found on my profile). Would like to have a conversation offline regarding this project

[2018-01-23 09:51] betawi opened #223 "UWSGI : Invalid permissions for vassal powerdns-admin.ini"
PowerDNS-Admin up and running via ./run.py

now i want to serve it via NGINX using uWSGI

followed: https://github.com/ngoduykhanh/PowerDNS-Admin/wiki/uWSGI-example

uwsgi running too,but serving 0 vassal
journalctl -u uwsgi show :

`uwsgi[18185]: [emperor-tyrant] invalid permissions for vassal powerdns-admin.ini`

uwsgi.ini  :
[code]

/uwsgi.d/powerdns-admin.ini
[code]

on CentOS 7 NGINX running

[2018-02-06 07:27] JeroenBo commented on #221
@TheGr8Wonder @thomasDOTde  Is possible to keep my updated about your plans? In the next few weeks we (my company) like to do some dedicated development on the project.

[2018-02-06 08:31] thomasDOTde commented on #221
I‘d love to see python3 support and I’m going to merge translation and a global search on my fork.

[2018-02-06 09:33] JeroenBo commented on #221
Our goal for now is to implement the PDNS 4.1 API with full support for DNSSEC and creating new docker images for testing against PDNS version 3.x en 4.x.

We will work with the fork from @thomasDOTde,  I would be nice to have only one project, but i don't know how active @ngoduykhanh still is within the project.

[2018-02-06 14:02] TheGr8Wonder commented on #221
I have reached out to @thomasDOTde to discuss the best possible merger of this project, solely for those who may not be aware of his and the great work he has done with it. @JeroenBo please stand by while we solidify these discussions.

[2018-02-13 20:42] fenice2 commented on #221
I'm looking forward to seeing what you both have planned for this project. :)

[2018-02-19 16:40] blackyzero commented on #221
+1
Would be great to have new updates in near future.

[2018-02-20 21:45] jsenecal commented on #221
It would be great if the work done by @thomasDOTde could be merged into the main repo - it would also be great to have him be promoted to a maintainer to this project as well. @JeroenBo could then contribute to the now up-to-date code to add dnssec functionality.

Anyhow, keep up the very good work :)

[2018-02-21 05:45] blackyzero opened #226 "Deploy a Slave PowerDNS server"
Hi everyone,

What would be a proper way to deploy a Slave PowerDNS server?

I have done with Master PowerDNS server, running with MariaDB backend and PowerDNS-Admin management interface.

I'd like to have auto replication between two PowerDNS server, but very low experience on deployment/setup replication or failover DNS system.

Currently, both NS1 and NS2 are now pointing to same Ip address tha

[2018-02-21 10:00] fenice2 commented on #226
I don't think your question is really suitable in this issues section as it's for the PowerDNS-Admin product not general PDNS questions. You can find plenty of information about implementing a PDNS slave on the internet or even the PDNS Documentation.

However, I'd recommend against implementing a Master/Slave setup and suggest you set-up two 'master's and point them both to the same MySQL server